In [19]:
import pandas as pd
numArr=pd.read_csv(r"C:\Shilpa\train.csv",nrows=10)

In [9]:
numArr

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
numArr['Name'][numArr['Survived']==0]

0                                Braund, Mr. Owen Harris
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
16                                  Rice, Master. Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                                  Fynney, Mr. Joseph J
24                         Palsson, Miss. Torborg Danira
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
29                                   Todoroff, Mr. Lalio
30                              Uruchurtu, Don. Manuel E
33                                 Wheadon, Mr. Edward H
34                               Meyer, Mr. Edgar Joseph
35                        Holverson, Mr. Alexander Oskar
37                              Cann, Mr. Ernest Charles
38                    Vander Planke, Miss. Augusta Maria
40        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41     Turpin, Mrs. William John Robert (Dorothy Ann ...
42                                   Kraeff, Mr. Theodor
45                              Rogers, Mr. William John
46                                     Lennon, Mr. Denis
48                                   Samaan, Mr. Youssef
49         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
50                            Panula, Master. Juha Niilo
51                          Nosworthy, Mr. Richard Cater
                             ...
844                                  Culumovic, Mr. Jeso
845                                  Abbing, Mr. Anthony
846                             Sage, Mr. Douglas Bullen
847                                   Markoff, Mr. Marin
848                                    Harper, Rev. John
850              Andersson, Master. Sigvard Harald Elias
851                                  Svensson, Mr. Johan
852                              Boulos, Miss. Nourelain
854        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
859                                     Razi, Mr. Raihed
860                              Hansen, Mr. Claus Peter
861                          Giles, Mr. Frederick Edward
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
870                                    Balkic, Mr. Cerin
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
888             Johnston, Miss. Catherine Helen "Carrie"
890                                  Dooley, Mr. Patrick
Name: Name, Length: 549, dtype: object

NameError: name 'df' is not defined

In [21]:
numArr=pd.read_csv(r"C:\Shilpa\train.csv",skiprows=10)
numArr

,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1.1,0,237736,30.0708,Unnamed: 10,C
0,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
1,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
2,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
3,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
4,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
5,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
6,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
7,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
8,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
9,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
10,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
11,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
12,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
13,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
14,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
15,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
16,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
17,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
18,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
19,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
20,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
21,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
22,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
23,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
24,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
25,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
26,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
27,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
28,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
29,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
851,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
852,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
853,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
854,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
855,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
856,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
857,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
858,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
859,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
860,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
861,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
862,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
863,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
864,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
865,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
866,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
867,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
868,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
869,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
870,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
871,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
872,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
873,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
874,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
875,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
876,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
877,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
878,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
879,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
880,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
numArr=pd.read_csv(r"C:\Shilpa\train.csv",header=1)
numArr

,1,0,3,"Braund, Mr. Owen Harris",male,22,1.1,0.1,A/5 21171,7.25,Unnamed: 10,S
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
2,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
3,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
4,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
5,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
6,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
7,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
8,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
9,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
10,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
11,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
12,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
13,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
14,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
15,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
16,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
17,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
18,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
19,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
20,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
21,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
22,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
23,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
24,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
25,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
26,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
27,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
28,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
29,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
860,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
861,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
862,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
863,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
864,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
865,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
866,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
867,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
868,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
869,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
870,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
871,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
872,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
873,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
874,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
875,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
876,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
877,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
878,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
879,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
880,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
881,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
882,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
883,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
884,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
885,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
886,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
887,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
888,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
889,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [23]:
numArr=pd.read_csv(r"C:\Shilpa\train.csv",header=None)
numArr

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
5,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,NaN,S
6,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,NaN,S
9,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
10,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C
11,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S
12,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S
13,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,NaN,S
14,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,NaN,S
15,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S
16,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16,NaN,S
17,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,NaN,Q
18,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13,NaN,S
19,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18,NaN,S
20,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.225,NaN,C
21,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,NaN,S
22,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S
23,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,NaN,Q
24,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S
25,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,NaN,S
26,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S
27,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.225,NaN,C
28,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S
29,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
862,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5,NaN,S
863,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S
864,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.55,NaN,S
865,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13,NaN,S
866,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13,NaN,S
867,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,NaN,C
868,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S
869,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5,NaN,S
870,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,NaN,S
871,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,NaN,S
872,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S
873,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5,B51 B53 B55,S
874,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9,NaN,S
875,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24,NaN,C
876,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.225,NaN,C
877,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,NaN,S
878,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,NaN,S
879,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C
881,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26,NaN,S
882,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,NaN,S
883,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,NaN,S
884,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5,NaN,S
885,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.05,NaN,S
886,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.125,NaN,Q
887,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,NaN,S
888,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
889,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
891,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

In [37]:
numArr=pd.read_csv(r"C:\Shilpa\train1.csv",header=None, names=['PassengerID','Survivedppl'])
numArr

,,,,,,,,,,PassengerID,Survivedppl
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [41]:
df=pd.read_csv(r"C:\Shilpa\train.csv",nrows=10)
df.to_csv(r"C:\Shilpa\NewFile.csv",header=false)

In [42]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [45]:
df=pd.read_csv(r"C:\Shilpa\train.csv",nrows=10)
df.to_csv(r"C:\Shilpa\NewFile.csv",header=False)

In [46]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [47]:
df=pd.read_csv(r"C:\Shilpa\train.csv",nrows=10)
df.to_csv(r"C:\Shilpa\NewFile.csv",index=False)

PermissionError: [Errno 13] Permission denied: 'C:\\Shilpa\\NewFile.csv'

In [48]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [49]:
df=pd.read_csv(r"C:\Shilpa\train.csv",nrows=10)
df.to_csv(r"C:\Shilpa\NewFile.csv",index=False)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [56]:
df=pd.read_csv(r"C:\Shilpa\train.csv",nrows=10)
df.to_csv(r"C:\Shilpa\NewFile.csv")
df[(df['Age']>30)&(df['Survived']==0)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [59]:
df[(df['Age']>30)&(df['Survived']==0)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [60]:
res=df[(df['Age']>30)&(df['Survived']==0)]
res

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [65]:
res.to_csv(r"C:\Shilpa\NewFile1.csv", columns=["Name", "Age"],index=False)

In [78]:
df=pd.read_csv(r"C:\Shilpa\train.csv")
result=df.groupby('Name')
result

In [69]:
for(i,j in result):

SyntaxError: invalid syntax (<ipython-input-69-d57a82adb0bd>, line 1)

In [79]:
for i,j in result:
    print (i)
    print (j)

Abbing, Mr. Anthony
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
845          846         0       3  Abbing, Mr. Anthony  male  42.0      0

     Parch     Ticket  Fare Cabin Embarked
845      0  C.A. 5547  7.55   NaN        S
Abbott, Mr. Rossmore Edward
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
746          747         0       3  Abbott, Mr. Rossmore Edward  male  16.0

     SibSp  Parch     Ticket   Fare Cabin Embarked
746      1      1  C.A. 2673  20.25   NaN        S
Abbott, Mrs. Stanton (Rosa Hunt)
     PassengerId  Survived  Pclass                              Name     Sex  \
279          280         1       3  Abbott, Mrs. Stanton (Rosa Hunt)  female

      Age  SibSp  Parch     Ticket   Fare Cabin Embarked
279  35.0      1      1  C.A. 2673  20.25   NaN        S
Abelson, Mr. Samuel
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
308          309         0       2  Abelson, Mr. Samuel  male  30.0      1

     Parch     Ticket  Fare Cabin Embarked
308      0  P/PP 3381  24.0   NaN        C
Abelson, Mrs. Samuel (Hannah Wizosky)
     PassengerId  Survived  Pclass                                   Name  \
874          875         1       2  Abelson, Mrs. Samuel (Hannah Wizosky)

        Sex   Age  SibSp  Parch     Ticket  Fare Cabin Embarked
874  female  28.0      1      0  P/PP 3381  24.0   NaN        C
Adahl, Mr. Mauritz Nils Martin
     PassengerId  Survived  Pclass                            Name   Sex  \
365          366         0       3  Adahl, Mr. Mauritz Nils Martin  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
365  30.0      0      0  C 7076  7.25   NaN        S
Adams, Mr. John
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
401          402         0       3  Adams, Mr. John  male  26.0      0      0

     Ticket  Fare Cabin Embarked
401  341826  8.05   NaN        S
Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
    PassengerId  Survived  Pclass  \
40           41         0       3

                                              Name     Sex   Age  SibSp  \
40  Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.0      1

    Parch Ticket   Fare Cabin Embarked
40      0   7546  9.475   NaN        S
Aks, Mrs. Sam (Leah Rosen)
     PassengerId  Survived  Pclass                        Name     Sex   Age  \
855          856         1       3  Aks, Mrs. Sam (Leah Rosen)  female  18.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
855      0      1  392091  9.35   NaN        S
Albimona, Mr. Nassef Cassem
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
207          208         1       3  Albimona, Mr. Nassef Cassem  male  26.0

     SibSp  Parch Ticket     Fare Cabin Embarked
207      0      0   2699  18.7875   NaN        C
Alexander, Mr. William
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
810          811         0       3  Alexander, Mr. William  male  26.0      0

     Parch Ticket    Fare Cabin Embarked
810      0   3474  7.8875   NaN        S
Alhomaki, Mr. Ilmari Rudolf
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
840          841         0       3  Alhomaki, Mr. Ilmari Rudolf  male  20.0

     SibSp  Parch            Ticket   Fare Cabin Embarked
840      0      0  SOTON/O2 3101287  7.925   NaN        S
Ali, Mr. Ahmed
     PassengerId  Survived  Pclass            Name   Sex   Age  SibSp  Parch  \
210          211         0       3  Ali, Mr. Ahmed  male  24.0      0      0

                 Ticket  Fare Cabin Embarked
210  SOTON/O.Q. 3101311  7.05   NaN        S
Ali, Mr. William
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
784          785         0       3  Ali, Mr. William  male  25.0      0

     Parch              Ticket  Fare Cabin Embarked
784      0  SOTON/O.Q. 3101312  7.05   NaN        S
Allen, Miss. Elisabeth Walton
     PassengerId  Survived  Pclass                           Name     Sex  \
730          731         1       1  Allen, Miss. Elisabeth Walton  female

      Age  SibSp  Parch Ticket      Fare Cabin Embarked
730  29.0      0      0  24160  211.3375    B5        S
Allen, Mr. William Henry
   PassengerId  Survived  Pclass                      Name   Sex   Age  SibSp  \
4            5         0       3  Allen, Mr. William Henry  male  35.0      0

   Parch  Ticket  Fare Cabin Embarked
4      0  373450  8.05   NaN        S
Allison, Master. Hudson Trevor
     PassengerId  Survived  Pclass                            Name   Sex  \
305          306         1       1  Allison, Master. Hudson Trevor  male

      Age  SibSp  Parch  Ticket    Fare    Cabin Embarked
305  0.92      1      2  113781  151.55  C22 C26        S
Allison, Miss. Helen Loraine
     PassengerId  Survived  Pclass                          Name     Sex  Age  \
297          298         0       1  Allison, Miss. Helen Loraine  female  2.0

     SibSp  Parch  Ticket    Fare    Cabin Embarked
297      1      2  113781  151.55  C22 C26        S
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
     PassengerId  Survived  Pclass  \
498          499         0       1

                                                Name     Sex   Age  SibSp  \
498  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0      1

     Parch  Ticket    Fare    Cabin Embarked
498      2  113781  151.55  C22 C26        S
Allum, Mr. Owen George
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
834          835         0       3  Allum, Mr. Owen George  male  18.0      0

     Parch Ticket  Fare Cabin Embarked
834      0   2223   8.3   NaN        S
Andersen-Jensen, Miss. Carla Christine Nielsine
     PassengerId  Survived  Pclass  \
192          193         1       3

                                                Name     Sex   Age  SibSp  \
192  Andersen-Jensen, Miss. Carla Christine Nielsine  female  19.0      1

     Parch  Ticket    Fare Cabin Embarked
192      0  350046  7.8542   NaN        S
Anderson, Mr. Harry
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
460          461         1       1  Anderson, Mr. Harry  male  48.0      0

     Parch Ticket   Fare Cabin Embarked
460      0  19952  26.55   E12        S
Andersson, Master. Sigvard Harald Elias
     PassengerId  Survived  Pclass                                     Name  \
850          851         0       3  Andersson, Master. Sigvard Harald Elias

      Sex  Age  SibSp  Parch  Ticket    Fare Cabin Embarked
850  male  4.0      4      2  347082  31.275   NaN        S
Andersson, Miss. Ebba Iris Alfrida
     PassengerId  Survived  Pclass                                Name  \
813          814         0       3  Andersson, Miss. Ebba Iris Alfrida

        Sex  Age  SibSp  Parch  Ticket    Fare Cabin Embarked
813  female  6.0      4      2  347082  31.275   NaN        S
Andersson, Miss. Ellis Anna Maria
     PassengerId  Survived  Pclass                               Name     Sex  \
119          120         0       3  Andersson, Miss. Ellis Anna Maria  female

     Age  SibSp  Parch  Ticket    Fare Cabin Embarked
119  2.0      4      2  347082  31.275   NaN        S
Andersson, Miss. Erna Alexandra
    PassengerId  Survived  Pclass                             Name     Sex  \
68           69         1       3  Andersson, Miss. Erna Alexandra  female

     Age  SibSp  Parch   Ticket   Fare Cabin Embarked
68  17.0      4      2  3101281  7.925   NaN        S
Andersson, Miss. Ingeborg Constanzia
     PassengerId  Survived  Pclass                                  Name  \
541          542         0       3  Andersson, Miss. Ingeborg Constanzia

        Sex  Age  SibSp  Parch  Ticket    Fare Cabin Embarked
541  female  9.0      4      2  347082  31.275   NaN        S
Andersson, Miss. Sigrid Elisabeth
     PassengerId  Survived  Pclass                               Name     Sex  \
542          543         0       3  Andersson, Miss. Sigrid Elisabeth  female

      Age  SibSp  Parch  Ticket    Fare Cabin Embarked
542  11.0      4      2  347082  31.275   NaN        S
Andersson, Mr. Anders Johan
    PassengerId  Survived  Pclass                         Name   Sex   Age  \
13           14         0       3  Andersson, Mr. Anders Johan  male  39.0

    SibSp  Parch  Ticket    Fare Cabin Embarked
13      1      5  347082  31.275   NaN        S
Andersson, Mr. August Edvard ("Wennerstrom")
     PassengerId  Survived  Pclass  \
146          147         1       3

                                             Name   Sex   Age  SibSp  Parch  \
146  Andersson, Mr. August Edvard ("Wennerstrom")  male  27.0      0      0

     Ticket    Fare Cabin Embarked
146  350043  7.7958   NaN        S
Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)
     PassengerId  Survived  Pclass  \
610          611         0       3

                                                  Name     Sex   Age  SibSp  \
610  Andersson, Mrs. Anders Johan (Alfrida Konstant...  female  39.0      1

     Parch  Ticket    Fare Cabin Embarked
610      5  347082  31.275   NaN        S
Andreasson, Mr. Paul Edvin
    PassengerId  Survived  Pclass                        Name   Sex   Age  \
91           92         0       3  Andreasson, Mr. Paul Edvin  male  20.0

    SibSp  Parch  Ticket    Fare Cabin Embarked
91      0      0  347466  7.8542   NaN        S
Andrew, Mr. Edgardo Samuel
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
144          145         0       2  Andrew, Mr. Edgardo Samuel  male  18.0

     SibSp  Parch  Ticket  Fare Cabin Embarked

144      0      0  231945  11.5   NaN        S
Andrews, Miss. Kornelia Theodosia
     PassengerId  Survived  Pclass                               Name     Sex  \
275          276         1       1  Andrews, Miss. Kornelia Theodosia  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
275  63.0      1      0  13502  77.9583    D7        S
Andrews, Mr. Thomas Jr
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
806          807         0       1  Andrews, Mr. Thomas Jr  male  39.0      0

     Parch  Ticket  Fare Cabin Embarked
806      0  112050   0.0   A36        S
Angle, Mrs. William A (Florence "Mary" Agnes Hughes)
     PassengerId  Survived  Pclass  \
518          519         1       2

                                                  Name     Sex   Age  SibSp  \
518  Angle, Mrs. William A (Florence "Mary" Agnes H...  female  36.0      1

     Parch  Ticket  Fare Cabin Embarked
518      0  226875  26.0   NaN        S
Appleton, Mrs. Edward Dale (Charlotte Lamson)
     PassengerId  Survived  Pclass  \
571          572         1       1

                                              Name     Sex   Age  SibSp  \
571  Appleton, Mrs. Edward Dale (Charlotte Lamson)  female  53.0      2

     Parch Ticket     Fare Cabin Embarked
571      0  11769  51.4792  C101        S
Arnold-Franchi, Mr. Josef
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
353          354         0       3  Arnold-Franchi, Mr. Josef  male  25.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
353      1      0  349237  17.8   NaN        S
Arnold-Franchi, Mrs. Josef (Josefine Franchi)
    PassengerId  Survived  Pclass  \
49           50         0       3

                                             Name     Sex   Age  SibSp  Parch  \
49  Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.0      1      0

    Ticket  Fare Cabin Embarked
49  349237  17.8   NaN        S
Artagaveytia, Mr. Ramon
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
493          494         0       1  Artagaveytia, Mr. Ramon  male  71.0

     SibSp  Parch    Ticket     Fare Cabin Embarked
493      0      0  PC 17609  49.5042   NaN        C
Asim, Mr. Adola
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
363          364         0       3  Asim, Mr. Adola  male  35.0      0      0

                 Ticket  Fare Cabin Embarked
363  SOTON/O.Q. 3101310  7.05   NaN        S
Asplund, Master. Clarence Gustaf Hugo
     PassengerId  Survived  Pclass                                   Name  \
182          183         0       3  Asplund, Master. Clarence Gustaf Hugo

      Sex  Age  SibSp  Parch  Ticket     Fare Cabin Embarked
182  male  9.0      4      2  347077  31.3875   NaN        S
Asplund, Master. Edvin Rojj Felix
     PassengerId  Survived  Pclass                               Name   Sex  \
261          262         1       3  Asplund, Master. Edvin Rojj Felix  male

     Age  SibSp  Parch  Ticket     Fare Cabin Embarked
261  3.0      4      2  347077  31.3875   NaN        S
Asplund, Miss. Lillian Gertrud
     PassengerId  Survived  Pclass                            Name     Sex  \
233          234         1       3  Asplund, Miss. Lillian Gertrud  female

     Age  SibSp  Parch  Ticket     Fare Cabin Embarked
233  5.0      4      2  347077  31.3875   NaN        S
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
    PassengerId  Survived  Pclass  \
25           26         1       3

                                                 Name     Sex   Age  SibSp  \
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1

    Parch  Ticket     Fare Cabin Embarked
25      5  347077  31.3875   NaN        S
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
     PassengerId  Survived  Pclass  \
700          701         1       1

                                                  Name     Sex   Age  SibSp  \
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.0      1

     Parch    Ticket     Fare    Cabin Embarked
700      0  PC 17757  227.525  C62 C64        C
Attalah, Miss. Malake
     PassengerId  Survived  Pclass                   Name     Sex   Age  \
114          115         0       3  Attalah, Miss. Malake  female  17.0

     SibSp  Parch Ticket     Fare Cabin Embarked
114      0      0   2627  14.4583   NaN        C
Attalah, Mr. Sleiman
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
244          245         0       3  Attalah, Mr. Sleiman  male  30.0      0

     Parch Ticket   Fare Cabin Embarked
244      0   2694  7.225   NaN        C
Aubart, Mme. Leontine Pauline
     PassengerId  Survived  Pclass                           Name     Sex  \
369          370         1       1  Aubart, Mme. Leontine Pauline  female

      Age  SibSp  Parch    Ticket  Fare Cabin Embarked
369  24.0      0      0  PC 17477  69.3   B35        C
Augustsson, Mr. Albert
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
833          834         0       3  Augustsson, Mr. Albert  male  23.0      0

     Parch  Ticket    Fare Cabin Embarked
833      0  347468  7.8542   NaN        S
Ayoub, Miss. Banoura
     PassengerId  Survived  Pclass                  Name     Sex   Age  SibSp  \
780          781         1       3  Ayoub, Miss. Banoura  female  13.0      0

     Parch Ticket    Fare Cabin Embarked
780      0   2687  7.2292   NaN        C
Backstrom, Mr. Karl Alfred
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
206          207         0       3  Backstrom, Mr. Karl Alfred  male  32.0

     SibSp  Parch   Ticket   Fare Cabin Embarked
206      1      0  3101278  15.85   NaN        S
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)
    PassengerId  Survived  Pclass  \
85           86         1       3

                                                 Name     Sex   Age  SibSp  \
85  Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...  female  33.0      3

    Parch   Ticket   Fare Cabin Embarked
85      0  3101278  15.85   NaN        S
Baclini, Miss. Eugenie
     PassengerId  Survived  Pclass                    Name     Sex   Age  \
644          645         1       3  Baclini, Miss. Eugenie  female  0.75

     SibSp  Parch Ticket     Fare Cabin Embarked
644      2      1   2666  19.2583   NaN        C
Baclini, Miss. Helene Barbara
     PassengerId  Survived  Pclass                           Name     Sex  \
469          470         1       3  Baclini, Miss. Helene Barbara  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
469  0.75      2      1   2666  19.2583   NaN        C
Baclini, Miss. Marie Catherine
     PassengerId  Survived  Pclass                            Name     Sex  \
448          449         1       3  Baclini, Miss. Marie Catherine  female

     Age  SibSp  Parch Ticket     Fare Cabin Embarked
448  5.0      2      1   2666  19.2583   NaN        C
Baclini, Mrs. Solomon (Latifa Qurban)
     PassengerId  Survived  Pclass                                   Name  \
858          859         1       3  Baclini, Mrs. Solomon (Latifa Qurban)

        Sex   Age  SibSp  Parch Ticket     Fare Cabin Embarked
858  female  24.0      0      3   2666  19.2583   NaN        C
Badt, Mr. Mohamed
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
661          662         0       3  Badt, Mr. Mohamed  male  40.0      0

     Parch Ticket   Fare Cabin Embarked
661      0   2623  7.225   NaN        C
Bailey, Mr. Percy Andrew
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
757          758         0       2  Bailey, Mr. Percy Andrew  male  18.0

     SibSp  Parch Ticket  Fare Cabin Embarked
757      0      0  29108  11.5   NaN        S
Balkic, Mr. Cerin
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
870          871         0       3  Balkic, Mr. Cerin  male  26.0      0

     Parch  Ticket    Fare Cabin Embarked
870      0  349248  7.8958   NaN        S
Ball, Mrs. (Ada E Hall)
     PassengerId  Survived  Pclass                     Name     Sex   Age  \
327          328         1       2  Ball, Mrs. (Ada E Hall)  female  36.0

     SibSp  Parch Ticket  Fare Cabin Embarked
327      0      0  28551  13.0     D        S
Banfield, Mr. Frederick James
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
883          884         0       2  Banfield, Mr. Frederick James  male  28.0

     SibSp  Parch            Ticket  Fare Cabin Embarked
883      0      0  C.A./SOTON 34068  10.5   NaN        S
Barah, Mr. Hanna Assi
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
762          763         1       3  Barah, Mr. Hanna Assi  male  20.0      0

     Parch Ticket    Fare Cabin Embarked
762      0   2663  7.2292   NaN        C
Barbara, Miss. Saiide
     PassengerId  Survived  Pclass                   Name     Sex   Age  \
702          703         0       3  Barbara, Miss. Saiide  female  18.0

     SibSp  Parch Ticket     Fare Cabin Embarked
702      0      1   2691  14.4542   NaN        C
Barbara, Mrs. (Catherine David)
     PassengerId  Survived  Pclass                             Name     Sex  \
362          363         0       3  Barbara, Mrs. (Catherine David)  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
362  45.0      0      1   2691  14.4542   NaN        C
Barber, Miss. Ellen "Nellie"
     PassengerId  Survived  Pclass                          Name     Sex  \
290          291         1       1  Barber, Miss. Ellen "Nellie"  female

      Age  SibSp  Parch Ticket   Fare Cabin Embarked
290  26.0      0      0  19877  78.85   NaN        S
Barkworth, Mr. Algernon Henry Wilson

     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson

      Sex   Age  SibSp  Parch Ticket  Fare Cabin Embarked
630  male  80.0      0      0  27042  30.0   A23        S
Barton, Mr. David John
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
112          113         0       3  Barton, Mr. David John  male  22.0      0

     Parch  Ticket  Fare Cabin Embarked
112      0  324669  8.05   NaN        S
Bateman, Rev. Robert James
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
150          151         0       2  Bateman, Rev. Robert James  male  51.0

     SibSp  Parch       Ticket    Fare Cabin Embarked
150      0      0  S.O.P. 1166  12.525   NaN        S
Baumann, Mr. John D
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
168          169         0       1  Baumann, Mr. John D  male  NaN      0

     Parch    Ticket    Fare Cabin Embarked
168      0  PC 17318  25.925   NaN        S
Baxter, Mr. Quigg Edmond
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
118          119         0       1  Baxter, Mr. Quigg Edmond  male  24.0

     SibSp  Parch    Ticket      Fare    Cabin Embarked
118      0      1  PC 17558  247.5208  B58 B60        C
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
     PassengerId  Survived  Pclass  \
299          300         1       1

                                                Name     Sex   Age  SibSp  \
299  Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.0      0

     Parch    Ticket      Fare    Cabin Embarked
299      1  PC 17558  247.5208  B58 B60        C
Bazzani, Miss. Albina
     PassengerId  Survived  Pclass                   Name     Sex   Age  \
218          219         1       1  Bazzani, Miss. Albina  female  32.0

     SibSp  Parch Ticket     Fare Cabin Embarked
218      0      0  11813  76.2917   D15        C
Beane, Mr. Edward
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
543          544         1       2  Beane, Mr. Edward  male  32.0      1

     Parch Ticket  Fare Cabin Embarked
543      0   2908  26.0   NaN        S
Beane, Mrs. Edward (Ethel Clarke)
     PassengerId  Survived  Pclass                               Name     Sex  \
546          547         1       2  Beane, Mrs. Edward (Ethel Clarke)  female

      Age  SibSp  Parch Ticket  Fare Cabin Embarked
546  19.0      1      0   2908  26.0   NaN        S
Beavan, Mr. William Thomas
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
372          373         0       3  Beavan, Mr. William Thomas  male  19.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
372      0      0  323951  8.05   NaN        S
Becker, Master. Richard F
     PassengerId  Survived  Pclass                       Name   Sex  Age  \
183          184         1       2  Becker, Master. Richard F  male  1.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
183      2      1  230136  39.0    F4        S
Becker, Miss. Marion Louise
     PassengerId  Survived  Pclass                         Name     Sex  Age  \
618          619         1       2  Becker, Miss. Marion Louise  female  4.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
618      2      1  230136  39.0    F4        S
Beckwith, Mr. Richard Leonard
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
248          249         1       1  Beckwith, Mr. Richard Leonard  male  37.0

     SibSp  Parch Ticket     Fare Cabin Embarked
248      1      1  11751  52.5542   D35        S
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
     PassengerId  Survived  Pclass  \
871          872         1       1

                                                 Name     Sex   Age  SibSp  \
871  Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1

     Parch Ticket     Fare Cabin Embarked
871      1  11751  52.5542   D35        S
Beesley, Mr. Lawrence
    PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
21           22         1       2  Beesley, Mr. Lawrence  male  34.0      0

    Parch  Ticket  Fare Cabin Embarked
21      0  248698  13.0   D56        S
Behr, Mr. Karl Howell
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
889          890         1       1  Behr, Mr. Karl Howell  male  26.0      0

     Parch  Ticket  Fare Cabin Embarked
889      0  111369  30.0  C148        C
Bengtsson, Mr. John Viktor
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
162          163         0       3  Bengtsson, Mr. John Viktor  male  26.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
162      0      0  347068  7.775   NaN        S
Berglund, Mr. Karl Ivar Sven
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
225          226         0       3  Berglund, Mr. Karl Ivar Sven  male  22.0

     SibSp  Parch   Ticket  Fare Cabin Embarked
225      0      0  PP 4348  9.35   NaN        S
Berriman, Mr. William John
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
733          734         0       2  Berriman, Mr. William John  male  23.0

     SibSp  Parch Ticket  Fare Cabin Embarked
733      0      0  28425  13.0   NaN        S
Betros, Mr. Tannous
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
378          379         0       3  Betros, Mr. Tannous  male  20.0      0

     Parch Ticket    Fare Cabin Embarked
378      0   2648  4.0125   NaN        C
Bidois, Miss. Rosalie
     PassengerId  Survived  Pclass                   Name     Sex   Age  \
380          381         1       1  Bidois, Miss. Rosalie  female  42.0

     SibSp  Parch    Ticket     Fare Cabin Embarked
380      0      0  PC 17757  227.525   NaN        C
Bing, Mr. Lee
    PassengerId  Survived  Pclass           Name   Sex   Age  SibSp  Parch  \
74           75         1       3  Bing, Mr. Lee  male  32.0      0      0

   Ticket     Fare Cabin Embarked
74   1601  56.4958   NaN        S
Birkeland, Mr. Hans Martin Monsen
     PassengerId  Survived  Pclass                               Name   Sex  \
408          409         0       3  Birkeland, Mr. Hans Martin Monsen  male

      Age  SibSp  Parch  Ticket   Fare Cabin Embarked
408  21.0      0      0  312992  7.775   NaN        S
Bishop, Mr. Dickinson H
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
484          485         1       1  Bishop, Mr. Dickinson H  male  25.0

     SibSp  Parch Ticket     Fare Cabin Embarked
484      1      0  11967  91.0792   B49        C
Bishop, Mrs. Dickinson H (Helen Walton)
     PassengerId  Survived  Pclass                                     Name  \
291          292         1       1  Bishop, Mrs. Dickinson H (Helen Walton)

        Sex   Age  SibSp  Parch Ticket     Fare Cabin Embarked
291  female  19.0      1      0  11967  91.0792   B49        C
Bissette, Miss. Amelia
     PassengerId  Survived  Pclass                    Name     Sex   Age  \
269          270         1       1  Bissette, Miss. Amelia  female  35.0

     SibSp  Parch    Ticket      Fare Cabin Embarked
269      0      0  PC 17760  135.6333   C99        S
Bjornstrom-Steffansson, Mr. Mauritz Hakan
     PassengerId  Survived  Pclass                                       Name  \
430          431         1       1  Bjornstrom-Steffansson, Mr. Mauritz Hakan

      Sex   Age  SibSp  Parch  Ticket   Fare Cabin Embarked
430  male  28.0      0      0  110564  26.55   C52        S
Blackwell, Mr. Stephen Weart
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
339          340         0       1  Blackwell, Mr. Stephen Weart  male  45.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
339      0      0  113784  35.5     T        S
Blank, Mr. Henry
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
209          210         1       1  Blank, Mr. Henry  male  40.0      0

     Parch  Ticket  Fare Cabin Embarked
209      0  112277  31.0   A31        C
Bonnell, Miss. Elizabeth
    PassengerId  Survived  Pclass                      Name     Sex   Age  \
11           12         1       1  Bonnell, Miss. Elizabeth  female  58.0

    SibSp  Parch  Ticket   Fare Cabin Embarked
11      0      0  113783  26.55  C103        S
Bostandyeff, Mr. Guentcho
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
628          629         0       3  Bostandyeff, Mr. Guentcho  male  26.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
628      0      0  349224  7.8958   NaN        S
Boulos, Miss. Nourelain
     PassengerId  Survived  Pclass                     Name     Sex  Age  \
852          853         0       3  Boulos, Miss. Nourelain  female  9.0

     SibSp  Parch Ticket     Fare Cabin Embarked
852      1      1   2678  15.2458   NaN        C
Boulos, Mr. Hanna
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
598          599         0       3  Boulos, Mr. Hanna  male  NaN      0

     Parch Ticket   Fare Cabin Embarked
598      0   2664  7.225   NaN        C
Boulos, Mrs. Joseph (Sultana)
     PassengerId  Survived  Pclass                           Name     Sex  \
140          141         0       3  Boulos, Mrs. Joseph (Sultana)  female

     Age  SibSp  Parch Ticket     Fare Cabin Embarked
140  NaN      0      2   2678  15.2458   NaN        C
Bourke, Miss. Mary
     PassengerId  Survived  Pclass                Name     Sex  Age  SibSp  \
593          594         0       3  Bourke, Miss. Mary  female  NaN      0

     Parch  Ticket  Fare Cabin Embarked
593      2  364848  7.75   NaN        Q
Bourke, Mr. John
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
188          189         0       3  Bourke, Mr. John  male  40.0      1

     Parch  Ticket  Fare Cabin Embarked
188      1  364849  15.5   NaN        Q
Bourke, Mrs. John (Catherine)

     PassengerId  Survived  Pclass                           Name     Sex  \
657          658         0       3  Bourke, Mrs. John (Catherine)  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
657  32.0      1      1  364849  15.5   NaN        Q
Bowen, Mr. David John "Dai"
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
624          625         0       3  Bowen, Mr. David John "Dai"  male  21.0

     SibSp  Parch Ticket  Fare Cabin Embarked
624      0      0  54636  16.1   NaN        S
Bowerman, Miss. Elsie Edith
     PassengerId  Survived  Pclass                         Name     Sex   Age  \
356          357         1       1  Bowerman, Miss. Elsie Edith  female  22.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
356      0      1  113505  55.0   E33        S
Bracken, Mr. James H
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
221          222         0       2  Bracken, Mr. James H  male  27.0      0

     Parch  Ticket  Fare Cabin Embarked
221      0  220367  13.0   NaN        S
Bradley, Mr. George ("George Arthur Brayton")
     PassengerId  Survived  Pclass  \
507          508         1       1

                                              Name   Sex  Age  SibSp  Parch  \
507  Bradley, Mr. George ("George Arthur Brayton")  male  NaN      0      0

     Ticket   Fare Cabin Embarked
507  111427  26.55   NaN        S
Braund, Mr. Lewis Richard
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
477          478         0       3  Braund, Mr. Lewis Richard  male  29.0

     SibSp  Parch Ticket    Fare Cabin Embarked
477      1      0   3460  7.0458   NaN        S
Braund, Mr. Owen Harris
   PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  \
0            1         0       3  Braund, Mr. Owen Harris  male  22.0      1

   Parch     Ticket  Fare Cabin Embarked
0      0  A/5 21171  7.25   NaN        S
Brewe, Dr. Arthur Jackson
     PassengerId  Survived  Pclass                       Name   Sex  Age  \
766          767         0       1  Brewe, Dr. Arthur Jackson  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
766      0      0  112379  39.6   NaN        C
Brocklebank, Mr. William Alfred
     PassengerId  Survived  Pclass                             Name   Sex  \
614          615         0       3  Brocklebank, Mr. William Alfred  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
614  35.0      0      0  364512  8.05   NaN        S
Brown, Miss. Amelia "Mildred"
     PassengerId  Survived  Pclass                           Name     Sex  \
345          346         1       2  Brown, Miss. Amelia "Mildred"  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
345  24.0      0      0  248733  13.0   F33        S
Brown, Mr. Thomas William Solomon
     PassengerId  Survived  Pclass                               Name   Sex  \
684          685         0       2  Brown, Mr. Thomas William Solomon  male

      Age  SibSp  Parch Ticket  Fare Cabin Embarked
684  60.0      1      1  29750  39.0   NaN        S
Brown, Mrs. James Joseph (Margaret Tobin)
     PassengerId  Survived  Pclass                                       Name  \
194          195         1       1  Brown, Mrs. James Joseph (Margaret Tobin)

        Sex   Age  SibSp  Parch    Ticket     Fare Cabin Embarked
194  female  44.0      0      0  PC 17610  27.7208    B4        C
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
     PassengerId  Survived  Pclass  \
670          671         1       2

                                                  Name     Sex   Age  SibSp  \
670  Brown, Mrs. Thomas William Solomon (Elizabeth ...  female  40.0      1

     Parch Ticket  Fare Cabin Embarked
670      1  29750  39.0   NaN        S
Bryhl, Mr. Kurt Arnold Gottfrid
     PassengerId  Survived  Pclass                             Name   Sex  \
728          729         0       2  Bryhl, Mr. Kurt Arnold Gottfrid  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
728  25.0      1      0  236853  26.0   NaN        S
Burke, Mr. Jeremiah
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
143          144         0       3  Burke, Mr. Jeremiah  male  19.0      0

     Parch  Ticket  Fare Cabin Embarked
143      0  365222  6.75   NaN        Q
Burns, Miss. Elizabeth Margaret
     PassengerId  Survived  Pclass                             Name     Sex  \
337          338         1       1  Burns, Miss. Elizabeth Margaret  female

      Age  SibSp  Parch Ticket   Fare Cabin Embarked
337  41.0      0      0  16966  134.5   E40        C
Buss, Miss. Kate
     PassengerId  Survived  Pclass              Name     Sex   Age  SibSp  \
387          388         1       2  Buss, Miss. Kate  female  36.0      0

     Parch Ticket  Fare Cabin Embarked
387      0  27849  13.0   NaN        S
Butler, Mr. Reginald Fenton
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
666          667         0       2  Butler, Mr. Reginald Fenton  male  25.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
666      0      0  234686  13.0   NaN        S
Butt, Major. Archibald Willingham
     PassengerId  Survived  Pclass                               Name   Sex  \
536          537         0       1  Butt, Major. Archibald Willingham  male

      Age  SibSp  Parch  Ticket   Fare Cabin Embarked
536  45.0      0      0  113050  26.55   B38        S
Byles, Rev. Thomas Roussel Davids
     PassengerId  Survived  Pclass                               Name   Sex  \
149          150         0       2  Byles, Rev. Thomas Roussel Davids  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
149  42.0      0      0  244310  13.0   NaN        S
Bystrom, Mrs. (Karolina)
     PassengerId  Survived  Pclass                      Name     Sex   Age  \
865          866         1       2  Bystrom, Mrs. (Karolina)  female  42.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
865      0      0  236852  13.0   NaN        S
Cacic, Miss. Marija
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
534          535         0       3  Cacic, Miss. Marija  female  30.0      0

     Parch  Ticket    Fare Cabin Embarked
534      0  315084  8.6625   NaN        S
Cacic, Mr. Luka
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
471          472         0       3  Cacic, Mr. Luka  male  38.0      0      0

     Ticket    Fare Cabin Embarked
471  315089  8.6625   NaN        S
Cairns, Mr. Alexander
     PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
270          271         0       1  Cairns, Mr. Alexander  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
270      0  113798  31.0   NaN        S
Calderhead, Mr. Edward Pennington
     PassengerId  Survived  Pclass                               Name   Sex  \
707          708         1       1  Calderhead, Mr. Edward Pennington  male

      Age  SibSp  Parch    Ticket     Fare Cabin Embarked
707  42.0      0      0  PC 17476  26.2875   E24        S
Caldwell, Master. Alden Gates
    PassengerId  Survived  Pclass                           Name   Sex   Age  \
78           79         1       2  Caldwell, Master. Alden Gates  male  0.83

    SibSp  Parch  Ticket  Fare Cabin Embarked
78      0      2  248738  29.0   NaN        S
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
     PassengerId  Survived  Pclass  \
323          324         1       2

                                                  Name     Sex   Age  SibSp  \
323  Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...  female  22.0      1

     Parch  Ticket  Fare Cabin Embarked
323      1  248738  29.0   NaN        S
Calic, Mr. Jovo
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
163          164         0       3  Calic, Mr. Jovo  male  17.0      0      0

     Ticket    Fare Cabin Embarked
163  315093  8.6625   NaN        S
Calic, Mr. Petar
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
500          501         0       3  Calic, Mr. Petar  male  17.0      0

     Parch  Ticket    Fare Cabin Embarked
500      0  315086  8.6625   NaN        S
Cameron, Miss. Clear Annie
     PassengerId  Survived  Pclass                        Name     Sex   Age  \
211          212         1       2  Cameron, Miss. Clear Annie  female  35.0

     SibSp  Parch        Ticket  Fare Cabin Embarked
211      0      0  F.C.C. 13528  21.0   NaN        S
Campbell, Mr. William
     PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
466          467         0       2  Campbell, Mr. William  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
466      0  239853   0.0   NaN        S
Canavan, Miss. Mary
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
501          502         0       3  Canavan, Miss. Mary  female  21.0      0

     Parch  Ticket  Fare Cabin Embarked
501      0  364846  7.75   NaN        Q
Cann, Mr. Ernest Charles
    PassengerId  Survived  Pclass                      Name   Sex   Age  \
37           38         0       3  Cann, Mr. Ernest Charles  male  21.0

    SibSp  Parch      Ticket  Fare Cabin Embarked
37      0      0  A./5. 2152  8.05   NaN        S
Caram, Mrs. Joseph (Maria Elias)
     PassengerId  Survived  Pclass                              Name     Sex  \
578          579         0       3  Caram, Mrs. Joseph (Maria Elias)  female

     Age  SibSp  Parch Ticket     Fare Cabin Embarked

578  NaN      1      0   2689  14.4583   NaN        C
Carbines, Mr. William
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
191          192         0       2  Carbines, Mr. William  male  19.0      0

     Parch Ticket  Fare Cabin Embarked
191      0  28424  13.0   NaN        S
Cardeza, Mr. Thomas Drake Martinez
     PassengerId  Survived  Pclass                                Name   Sex  \
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez  male

      Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
679  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
Carlsson, Mr. August Sigfrid
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
756          757         0       3  Carlsson, Mr. August Sigfrid  male  28.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
756      0      0  350042  7.7958   NaN        S
Carlsson, Mr. Frans Olof
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
872          873         0       1  Carlsson, Mr. Frans Olof  male  33.0

     SibSp  Parch Ticket  Fare        Cabin Embarked
872      0      0    695   5.0  B51 B53 B55        S
Carr, Miss. Helen "Ellen"
     PassengerId  Survived  Pclass                       Name     Sex   Age  \
208          209         1       3  Carr, Miss. Helen "Ellen"  female  16.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
208      0      0  367231  7.75   NaN        Q
Carrau, Mr. Francisco M
    PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  \
83           84         0       1  Carrau, Mr. Francisco M  male  28.0      0

    Parch  Ticket  Fare Cabin Embarked
83      0  113059  47.1   NaN        S
Carter, Master. William Thornton II
     PassengerId  Survived  Pclass                                 Name   Sex  \
802          803         1       1  Carter, Master. William Thornton II  male

      Age  SibSp  Parch  Ticket   Fare    Cabin Embarked
802  11.0      1      2  113760  120.0  B96 B98        S
Carter, Miss. Lucile Polk
     PassengerId  Survived  Pclass                       Name     Sex   Age  \
435          436         1       1  Carter, Miss. Lucile Polk  female  14.0

     SibSp  Parch  Ticket   Fare    Cabin Embarked
435      1      2  113760  120.0  B96 B98        S
Carter, Mr. William Ernest
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
390          391         1       1  Carter, Mr. William Ernest  male  36.0

     SibSp  Parch  Ticket   Fare    Cabin Embarked
390      1      2  113760  120.0  B96 B98        S
Carter, Mrs. Ernest Courtenay (Lilian Hughes)
     PassengerId  Survived  Pclass  \
854          855         0       2

                                              Name     Sex   Age  SibSp  \
854  Carter, Mrs. Ernest Courtenay (Lilian Hughes)  female  44.0      1

     Parch  Ticket  Fare Cabin Embarked
854      0  244252  26.0   NaN        S
Carter, Mrs. William Ernest (Lucile Polk)
     PassengerId  Survived  Pclass                                       Name  \
763          764         1       1  Carter, Mrs. William Ernest (Lucile Polk)

        Sex   Age  SibSp  Parch  Ticket   Fare    Cabin Embarked
763  female  36.0      1      2  113760  120.0  B96 B98        S
Carter, Rev. Ernest Courtenay
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
249          250         0       2  Carter, Rev. Ernest Courtenay  male  54.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
249      1      0  244252  26.0   NaN        S
Cavendish, Mr. Tyrell William
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
741          742         0       1  Cavendish, Mr. Tyrell William  male  36.0

     SibSp  Parch Ticket   Fare Cabin Embarked
741      1      0  19877  78.85   C46        S
Celotti, Mr. Francesco
    PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
89           90         0       3  Celotti, Mr. Francesco  male  24.0      0

    Parch  Ticket  Fare Cabin Embarked
89      0  343275  8.05   NaN        S
Chaffee, Mr. Herbert Fuller
    PassengerId  Survived  Pclass                         Name   Sex   Age  \
92           93         0       1  Chaffee, Mr. Herbert Fuller  male  46.0

    SibSp  Parch       Ticket    Fare Cabin Embarked
92      1      0  W.E.P. 5734  61.175   E31        S
Chambers, Mr. Norman Campbell
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
724          725         1       1  Chambers, Mr. Norman Campbell  male  27.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
724      1      0  113806  53.1    E8        S
Chambers, Mrs. Norman Campbell (Bertha Griggs)
     PassengerId  Survived  Pclass  \
809          810         1       1

                                               Name     Sex   Age  SibSp  \
809  Chambers, Mrs. Norman Campbell (Bertha Griggs)  female  33.0      1

     Parch  Ticket  Fare Cabin Embarked
809      0  113806  53.1    E8        S
Chapman, Mr. Charles Henry
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
695          696         0       2  Chapman, Mr. Charles Henry  male  52.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
695      0      0  248731  13.5   NaN        S
Chapman, Mr. John Henry
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
594          595         0       2  Chapman, Mr. John Henry  male  37.0

     SibSp  Parch       Ticket  Fare Cabin Embarked
594      1      0  SC/AH 29037  26.0   NaN        S
Charters, Mr. David
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
421          422         0       3  Charters, Mr. David  male  21.0      0

     Parch      Ticket    Fare Cabin Embarked
421      0  A/5. 13032  7.7333   NaN        Q
Cherry, Miss. Gladys
     PassengerId  Survived  Pclass                  Name     Sex   Age  SibSp  \
257          258         1       1  Cherry, Miss. Gladys  female  30.0      0

     Parch  Ticket  Fare Cabin Embarked
257      0  110152  86.5   B77        S
Chibnall, Mrs. (Edith Martha Bowerman)
     PassengerId  Survived  Pclass                                    Name  \
166          167         1       1  Chibnall, Mrs. (Edith Martha Bowerman)

        Sex  Age  SibSp  Parch  Ticket  Fare Cabin Embarked
166  female  NaN      0      1  113505  55.0   E33        S
Chip, Mr. Chang
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
838          839         1       3  Chip, Mr. Chang  male  32.0      0      0

    Ticket     Fare Cabin Embarked
838   1601  56.4958   NaN        S
Christmann, Mr. Emil
    PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
90           91         0       3  Christmann, Mr. Emil  male  29.0      0

    Parch  Ticket  Fare Cabin Embarked
90      0  343276  8.05   NaN        S
Christy, Miss. Julie Rachel
     PassengerId  Survived  Pclass                         Name     Sex   Age  \
580          581         1       2  Christy, Miss. Julie Rachel  female  25.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
580      1      1  237789  30.0   NaN        S
Chronopoulos, Mr. Apostolos
    PassengerId  Survived  Pclass                         Name   Sex   Age  \
73           74         0       3  Chronopoulos, Mr. Apostolos  male  26.0

    SibSp  Parch Ticket     Fare Cabin Embarked
73      1      0   2680  14.4542   NaN        C
Clarke, Mrs. Charles V (Ada Maria Winfield)
     PassengerId  Survived  Pclass  \
426          427         1       2

                                            Name     Sex   Age  SibSp  Parch  \
426  Clarke, Mrs. Charles V (Ada Maria Winfield)  female  28.0      1      0

    Ticket  Fare Cabin Embarked
426   2003  26.0   NaN        S
Cleaver, Miss. Alice
     PassengerId  Survived  Pclass                  Name     Sex   Age  SibSp  \
708          709         1       1  Cleaver, Miss. Alice  female  22.0      0

     Parch  Ticket    Fare Cabin Embarked
708      0  113781  151.55   NaN        S
Clifford, Mr. George Quincy
     PassengerId  Survived  Pclass                         Name   Sex  Age  \
475          476         0       1  Clifford, Mr. George Quincy  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
475      0      0  110465  52.0   A14        S
Coelho, Mr. Domingos Fernandeo
     PassengerId  Survived  Pclass                            Name   Sex  \
131          132         0       3  Coelho, Mr. Domingos Fernandeo  male

      Age  SibSp  Parch              Ticket  Fare Cabin Embarked
131  20.0      0      0  SOTON/O.Q. 3101307  7.05   NaN        S
Cohen, Mr. Gurshon "Gus"
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
204          205         1       3  Cohen, Mr. Gurshon "Gus"  male  18.0

     SibSp  Parch    Ticket  Fare Cabin Embarked
204      0      0  A/5 3540  8.05   NaN        S
Coleff, Mr. Peju

     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
663          664         0       3  Coleff, Mr. Peju  male  36.0      0

     Parch  Ticket    Fare Cabin Embarked
663      0  349210  7.4958   NaN        S
Coleff, Mr. Satio
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
514          515         0       3  Coleff, Mr. Satio  male  24.0      0

     Parch  Ticket    Fare Cabin Embarked
514      0  349209  7.4958   NaN        S
Coleridge, Mr. Reginald Charles
     PassengerId  Survived  Pclass                             Name   Sex  \
242          243         0       2  Coleridge, Mr. Reginald Charles  male

      Age  SibSp  Parch       Ticket  Fare Cabin Embarked
242  29.0      0      0  W./C. 14263  10.5   NaN        S
Collander, Mr. Erik Gustaf
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
342          343         0       2  Collander, Mr. Erik Gustaf  male  28.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
342      0      0  248740  13.0   NaN        S
Colley, Mr. Edward Pomeroy
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
662          663         0       1  Colley, Mr. Edward Pomeroy  male  47.0

     SibSp  Parch Ticket     Fare Cabin Embarked
662      0      0   5727  25.5875   E58        S
Collyer, Miss. Marjorie "Lottie"
     PassengerId  Survived  Pclass                              Name     Sex  \
237          238         1       2  Collyer, Miss. Marjorie "Lottie"  female

     Age  SibSp  Parch      Ticket   Fare Cabin Embarked
237  8.0      0      2  C.A. 31921  26.25   NaN        S
Collyer, Mr. Harvey
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
637          638         0       2  Collyer, Mr. Harvey  male  31.0      1

     Parch      Ticket   Fare Cabin Embarked
637      1  C.A. 31921  26.25   NaN        S
Collyer, Mrs. Harvey (Charlotte Annie Tate)
     PassengerId  Survived  Pclass  \
801          802         1       2

                                            Name     Sex   Age  SibSp  Parch  \
801  Collyer, Mrs. Harvey (Charlotte Annie Tate)  female  31.0      1      1

         Ticket   Fare Cabin Embarked
801  C.A. 31921  26.25   NaN        S
Compton, Miss. Sara Rebecca
     PassengerId  Survived  Pclass                         Name     Sex   Age  \
835          836         1       1  Compton, Miss. Sara Rebecca  female  39.0

     SibSp  Parch    Ticket     Fare Cabin Embarked
835      1      1  PC 17756  83.1583   E49        C
Connaghton, Mr. Michael
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
749          750         0       3  Connaghton, Mr. Michael  male  31.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
749      0      0  335097  7.75   NaN        Q
Connolly, Miss. Kate
     PassengerId  Survived  Pclass                  Name     Sex   Age  SibSp  \
289          290         1       3  Connolly, Miss. Kate  female  22.0      0

     Parch  Ticket  Fare Cabin Embarked
289      0  370373  7.75   NaN        Q
Connors, Mr. Patrick
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
116          117         0       3  Connors, Mr. Patrick  male  70.5      0

     Parch  Ticket  Fare Cabin Embarked
116      0  370369  7.75   NaN        Q
Cook, Mr. Jacob
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
668          669         0       3  Cook, Mr. Jacob  male  43.0      0      0

       Ticket  Fare Cabin Embarked
668  A/5 3536  8.05   NaN        S
Cor, Mr. Liudevit
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
646          647         0       3  Cor, Mr. Liudevit  male  19.0      0

     Parch  Ticket    Fare Cabin Embarked
646      0  349231  7.8958   NaN        S
Corn, Mr. Harry
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
157          158         0       3  Corn, Mr. Harry  male  30.0      0      0

              Ticket  Fare Cabin Embarked
157  SOTON/OQ 392090  8.05   NaN        S
Coutts, Master. Eden Leslie "Neville"
     PassengerId  Survived  Pclass                                   Name  \
489          490         1       3  Coutts, Master. Eden Leslie "Neville"

      Sex  Age  SibSp  Parch      Ticket  Fare Cabin Embarked
489  male  9.0      1      1  C.A. 37671  15.9   NaN        S
Coutts, Master. William Loch "William"
     PassengerId  Survived  Pclass                                    Name  \
348          349         1       3  Coutts, Master. William Loch "William"

      Sex  Age  SibSp  Parch      Ticket  Fare Cabin Embarked
348  male  3.0      1      1  C.A. 37671  15.9   NaN        S
Coxon, Mr. Daniel
    PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
94           95         0       3  Coxon, Mr. Daniel  male  59.0      0

    Parch  Ticket  Fare Cabin Embarked
94      0  364500  7.25   NaN        S
Crease, Mr. Ernest James
    PassengerId  Survived  Pclass                      Name   Sex   Age  \
67           68         0       3  Crease, Mr. Ernest James  male  19.0

    SibSp  Parch     Ticket    Fare Cabin Embarked
67      0      0  S.P. 3464  8.1583   NaN        S
Cribb, Mr. John Hatfield
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
160          161         0       3  Cribb, Mr. John Hatfield  male  44.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
160      0      1  371362  16.1   NaN        S
Crosby, Capt. Edward Gifford
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
745          746         0       1  Crosby, Capt. Edward Gifford  male  70.0

     SibSp  Parch     Ticket  Fare Cabin Embarked
745      1      1  WE/P 5735  71.0   B22        S
Crosby, Miss. Harriet R
     PassengerId  Survived  Pclass                     Name     Sex   Age  \
540          541         1       1  Crosby, Miss. Harriet R  female  36.0

     SibSp  Parch     Ticket  Fare Cabin Embarked
540      0      2  WE/P 5735  71.0   B22        S
Culumovic, Mr. Jeso
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
844          845         0       3  Culumovic, Mr. Jeso  male  17.0      0

     Parch  Ticket    Fare Cabin Embarked
844      0  315090  8.6625   NaN        S
Cumings, Mrs. John Bradley (Florence Briggs Thayer)
   PassengerId  Survived  Pclass  \
1            2         1       1

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1

   Parch    Ticket     Fare Cabin Embarked
1      0  PC 17599  71.2833   C85        C
Cunningham, Mr. Alfred Fleming
     PassengerId  Survived  Pclass                            Name   Sex  Age  \
413          414         0       2  Cunningham, Mr. Alfred Fleming  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
413      0      0  239853   0.0   NaN        S
Dahl, Mr. Karl Edwart
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
338          339         1       3  Dahl, Mr. Karl Edwart  male  45.0      0

     Parch Ticket  Fare Cabin Embarked
338      0   7598  8.05   NaN        S
Dahlberg, Miss. Gerda Ulrika
     PassengerId  Survived  Pclass                          Name     Sex  \
882          883         0       3  Dahlberg, Miss. Gerda Ulrika  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
882  22.0      0      0   7552  10.5167   NaN        S
Dakic, Mr. Branko
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
687          688         0       3  Dakic, Mr. Branko  male  19.0      0

     Parch  Ticket     Fare Cabin Embarked
687      0  349228  10.1708   NaN        S
Daly, Mr. Eugene Patrick
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
510          511         1       3  Daly, Mr. Eugene Patrick  male  29.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
510      0      0  382651  7.75   NaN        Q
Daly, Mr. Peter Denis
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
857          858         1       1  Daly, Mr. Peter Denis   male  51.0      0

     Parch  Ticket   Fare Cabin Embarked
857      0  113055  26.55   E17        S
Danbom, Mr. Ernst Gilbert
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
616          617         0       3  Danbom, Mr. Ernst Gilbert  male  34.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
616      1      1  347080  14.4   NaN        S
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
     PassengerId  Survived  Pclass  \
423          424         0       3

                                                  Name     Sex   Age  SibSp  \
423  Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...  female  28.0      1

     Parch  Ticket  Fare Cabin Embarked
423      1  347080  14.4   NaN        S
Daniel, Mr. Robert Williams
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
607          608         1       1  Daniel, Mr. Robert Williams  male  27.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
607      0      0  113804  30.5   NaN        S
Danoff, Mr. Yoto
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
321          322         0       3  Danoff, Mr. Yoto  male  27.0      0

     Parch  Ticket    Fare Cabin Embarked
321      0  349219  7.8958   NaN        S
Dantcheff, Mr. Ristiu
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
794          795         0       3  Dantcheff, Mr. Ristiu  male  25.0      0

     Parch  Ticket    Fare Cabin Embarked
794      0  349203  7.8958   NaN        S
Davidson, Mr. Thornton
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
671          672         0       1  Davidson, Mr. Thornton  male  31.0      1

     Parch      Ticket  Fare Cabin Embarked

671      0  F.C. 12750  52.0   B71        S
Davies, Master. John Morgan Jr
     PassengerId  Survived  Pclass                            Name   Sex  Age  \
549          550         1       2  Davies, Master. John Morgan Jr  male  8.0

     SibSp  Parch      Ticket   Fare Cabin Embarked
549      1      1  C.A. 33112  36.75   NaN        S
Davies, Mr. Alfred J
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
565          566         0       3  Davies, Mr. Alfred J  male  24.0      2

     Parch     Ticket   Fare Cabin Embarked
565      0  A/4 48871  24.15   NaN        S
Davies, Mr. Charles Henry
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
385          386         0       2  Davies, Mr. Charles Henry  male  18.0

     SibSp  Parch        Ticket  Fare Cabin Embarked
385      0      0  S.O.C. 14879  73.5   NaN        S
Davis, Miss. Mary
     PassengerId  Survived  Pclass               Name     Sex   Age  SibSp  \
635          636         1       2  Davis, Miss. Mary  female  28.0      0

     Parch  Ticket  Fare Cabin Embarked
635      0  237668  13.0   NaN        S
Davison, Mrs. Thomas Henry (Mary E Finck)
     PassengerId  Survived  Pclass                                       Name  \
347          348         1       3  Davison, Mrs. Thomas Henry (Mary E Finck)

        Sex  Age  SibSp  Parch  Ticket  Fare Cabin Embarked
347  female  NaN      1      0  386525  16.1   NaN        S
Dean, Master. Bertram Vere
     PassengerId  Survived  Pclass                        Name   Sex  Age  \
788          789         1       3  Dean, Master. Bertram Vere  male  1.0

     SibSp  Parch     Ticket    Fare Cabin Embarked
788      1      2  C.A. 2315  20.575   NaN        S
Dean, Mr. Bertram Frank
    PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  \
93           94         0       3  Dean, Mr. Bertram Frank  male  26.0      1

    Parch     Ticket    Fare Cabin Embarked
93      2  C.A. 2315  20.575   NaN        S
Denkoff, Mr. Mitto
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
335          336         0       3  Denkoff, Mr. Mitto  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
335      0  349225  7.8958   NaN        S
Dennis, Mr. Samuel
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
320          321         0       3  Dennis, Mr. Samuel  male  22.0      0

     Parch     Ticket  Fare Cabin Embarked
320      0  A/5 21172  7.25   NaN        S
Devaney, Miss. Margaret Delia
    PassengerId  Survived  Pclass                           Name     Sex  \
44           45         1       3  Devaney, Miss. Margaret Delia  female

     Age  SibSp  Parch  Ticket    Fare Cabin Embarked
44  19.0      0      0  330958  7.8792   NaN        Q
Dick, Mr. Albert Adrian
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
690          691         1       1  Dick, Mr. Albert Adrian  male  31.0

     SibSp  Parch Ticket  Fare Cabin Embarked
690      1      0  17474  57.0   B20        S
Dick, Mrs. Albert Adrian (Vera Gillespie)
     PassengerId  Survived  Pclass                                       Name  \
781          782         1       1  Dick, Mrs. Albert Adrian (Vera Gillespie)

        Sex   Age  SibSp  Parch Ticket  Fare Cabin Embarked
781  female  17.0      1      0  17474  57.0   B20        S
Dimic, Mr. Jovan
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
349          350         0       3  Dimic, Mr. Jovan  male  42.0      0

     Parch  Ticket    Fare Cabin Embarked
349      0  315088  8.6625   NaN        S
Dodge, Master. Washington
     PassengerId  Survived  Pclass                       Name   Sex  Age  \
445          446         1       1  Dodge, Master. Washington  male  4.0

     SibSp  Parch Ticket     Fare Cabin Embarked
445      0      2  33638  81.8583   A34        S
Doharr, Mr. Tannous
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
568          569         0       3  Doharr, Mr. Tannous  male  NaN      0

     Parch Ticket    Fare Cabin Embarked
568      0   2686  7.2292   NaN        C
Doling, Miss. Elsie
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
651          652         1       2  Doling, Miss. Elsie  female  18.0      0

     Parch  Ticket  Fare Cabin Embarked
651      1  231919  23.0   NaN        S
Doling, Mrs. John T (Ada Julia Bone)
    PassengerId  Survived  Pclass                                  Name  \
98           99         1       2  Doling, Mrs. John T (Ada Julia Bone)

       Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
98  female  34.0      0      1  231919  23.0   NaN        S
Dooley, Mr. Patrick
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
890          891         0       3  Dooley, Mr. Patrick  male  32.0      0

     Parch  Ticket  Fare Cabin Embarked
890      0  370376  7.75   NaN        Q
Dorking, Mr. Edward Arthur
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
283          284         1       3  Dorking, Mr. Edward Arthur  male  19.0

     SibSp  Parch      Ticket  Fare Cabin Embarked
283      0      0  A/5. 10482  8.05   NaN        S
Douglas, Mr. Walter Donald
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
544          545         0       1  Douglas, Mr. Walter Donald  male  50.0

     SibSp  Parch    Ticket     Fare Cabin Embarked
544      1      0  PC 17761  106.425   C86        C
Dowdell, Miss. Elizabeth
    PassengerId  Survived  Pclass                      Name     Sex   Age  \
79           80         1       3  Dowdell, Miss. Elizabeth  female  30.0

    SibSp  Parch  Ticket    Fare Cabin Embarked
79      0      0  364516  12.475   NaN        S
Downton, Mr. William James
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
582          583         0       2  Downton, Mr. William James  male  54.0

     SibSp  Parch Ticket  Fare Cabin Embarked
582      0      0  28403  26.0   NaN        S
Drazenoic, Mr. Jozef
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
130          131         0       3  Drazenoic, Mr. Jozef  male  33.0      0

     Parch  Ticket    Fare Cabin Embarked
130      0  349241  7.8958   NaN        C
Drew, Mrs. James Vivian (Lulu Thorne Christian)
     PassengerId  Survived  Pclass  \
416          417         1       2

                                                Name     Sex   Age  SibSp  \
416  Drew, Mrs. James Vivian (Lulu Thorne Christian)  female  34.0      1

     Parch Ticket  Fare Cabin Embarked
416      1  28220  32.5   NaN        S
Duane, Mr. Frank
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
280          281         0       3  Duane, Mr. Frank  male  65.0      0

     Parch  Ticket  Fare Cabin Embarked
280      0  336439  7.75   NaN        Q
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
     PassengerId  Survived  Pclass  \
556          557         1       1

                                                  Name     Sex   Age  SibSp  \
556  Duff Gordon, Lady. (Lucille Christiana Sutherl...  female  48.0      1

     Parch Ticket  Fare Cabin Embarked
556      0  11755  39.6   A16        C
Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
     PassengerId  Survived  Pclass  \
599          600         1       1

                                             Name   Sex   Age  SibSp  Parch  \
599  Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")  male  49.0      1      0

       Ticket     Fare Cabin Embarked
599  PC 17485  56.9292   A20        C
Duran y More, Miss. Asuncion
     PassengerId  Survived  Pclass                          Name     Sex  \
866          867         1       2  Duran y More, Miss. Asuncion  female

      Age  SibSp  Parch         Ticket     Fare Cabin Embarked
866  27.0      1      0  SC/PARIS 2149  13.8583   NaN        C
Edvardsson, Mr. Gustaf Hjalmar
     PassengerId  Survived  Pclass                            Name   Sex  \
675          676         0       3  Edvardsson, Mr. Gustaf Hjalmar  male

      Age  SibSp  Parch  Ticket   Fare Cabin Embarked
675  18.0      0      0  349912  7.775   NaN        S
Eitemiller, Mr. George Floyd
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
658          659         0       2  Eitemiller, Mr. George Floyd  male  23.0

     SibSp  Parch Ticket  Fare Cabin Embarked
658      0      0  29751  13.0   NaN        S
Eklund, Mr. Hans Linus
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
764          765         0       3  Eklund, Mr. Hans Linus  male  16.0      0

     Parch  Ticket   Fare Cabin Embarked
764      0  347074  7.775   NaN        S
Ekstrom, Mr. Johan
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
129          130         0       3  Ekstrom, Mr. Johan  male  45.0      0

     Parch  Ticket   Fare Cabin Embarked
129      0  347061  6.975   NaN        S
Elias, Mr. Dibo
     PassengerId  Survived  Pclass             Name   Sex  Age  SibSp  Parch  \
773          774         0       3  Elias, Mr. Dibo  male  NaN      0      0

    Ticket   Fare Cabin Embarked
773   2674  7.225   NaN        C
Elias, Mr. Joseph Jr
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
532          533         0       3  Elias, Mr. Joseph Jr  male  17.0      1

     Parch Ticket    Fare Cabin Embarked
532      1   2690  7.2292   NaN        C
Elias, Mr. Tannous
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
352          353         0       3  Elias, Mr. Tannous  male  15.0      1

     Parch Ticket    Fare Cabin Embarked
352      1   2695  7.2292   NaN        C

Elsbury, Mr. William James
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
592          593         0       3  Elsbury, Mr. William James  male  47.0

     SibSp  Parch    Ticket  Fare Cabin Embarked
592      0      0  A/5 3902  7.25   NaN        S
Emanuel, Miss. Virginia Ethel
     PassengerId  Survived  Pclass                           Name     Sex  \
777          778         1       3  Emanuel, Miss. Virginia Ethel  female

     Age  SibSp  Parch  Ticket    Fare Cabin Embarked
777  5.0      0      0  364516  12.475   NaN        S
Emir, Mr. Farred Chehab
    PassengerId  Survived  Pclass                     Name   Sex  Age  SibSp  \
26           27         0       3  Emir, Mr. Farred Chehab  male  NaN      0

    Parch Ticket   Fare Cabin Embarked
26      0   2631  7.225   NaN        C
Endres, Miss. Caroline Louise
     PassengerId  Survived  Pclass                           Name     Sex  \
716          717         1       1  Endres, Miss. Caroline Louise  female

      Age  SibSp  Parch    Ticket     Fare Cabin Embarked
716  38.0      0      0  PC 17757  227.525   C45        C
Eustis, Miss. Elizabeth Mussey
     PassengerId  Survived  Pclass                            Name     Sex  \
496          497         1       1  Eustis, Miss. Elizabeth Mussey  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
496  54.0      1      0  36947  78.2667   D20        C
Fahlstrom, Mr. Arne Jonas
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
228          229         0       2  Fahlstrom, Mr. Arne Jonas  male  18.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
228      0      0  236171  13.0   NaN        S
Farrell, Mr. James
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
525          526         0       3  Farrell, Mr. James  male  40.5      0

     Parch  Ticket  Fare Cabin Embarked
525      0  367232  7.75   NaN        Q
Farthing, Mr. John
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
527          528         0       1  Farthing, Mr. John  male  NaN      0

     Parch    Ticket      Fare Cabin Embarked
527      0  PC 17483  221.7792   C95        S
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
    PassengerId  Survived  Pclass  \
53           54         1       2

                                                 Name     Sex   Age  SibSp  \
53  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  female  29.0      1

    Parch Ticket  Fare Cabin Embarked
53      0   2926  26.0   NaN        S
Fischer, Mr. Eberhard Thelander
     PassengerId  Survived  Pclass                             Name   Sex  \
688          689         0       3  Fischer, Mr. Eberhard Thelander  male

      Age  SibSp  Parch  Ticket    Fare Cabin Embarked
688  18.0      0      0  350036  7.7958   NaN        S
Fleming, Miss. Margaret
     PassengerId  Survived  Pclass                     Name     Sex  Age  \
306          307         1       1  Fleming, Miss. Margaret  female  NaN

     SibSp  Parch Ticket      Fare Cabin Embarked
306      0      0  17421  110.8833   NaN        C
Flynn, Mr. James
     PassengerId  Survived  Pclass              Name   Sex  Age  SibSp  Parch  \
428          429         0       3  Flynn, Mr. James  male  NaN      0      0

     Ticket  Fare Cabin Embarked
428  364851  7.75   NaN        Q
Flynn, Mr. John
     PassengerId  Survived  Pclass             Name   Sex  Age  SibSp  Parch  \
825          826         0       3  Flynn, Mr. John  male  NaN      0      0

     Ticket  Fare Cabin Embarked
825  368323  6.95   NaN        Q
Flynn, Mr. John Irwin ("Irving")
     PassengerId  Survived  Pclass                              Name   Sex  \
572          573         1       1  Flynn, Mr. John Irwin ("Irving")  male

      Age  SibSp  Parch    Ticket     Fare Cabin Embarked
572  36.0      0      0  PC 17474  26.3875   E25        S
Foo, Mr. Choong
     PassengerId  Survived  Pclass             Name   Sex  Age  SibSp  Parch  \
643          644         1       3  Foo, Mr. Choong  male  NaN      0      0

    Ticket     Fare Cabin Embarked
643   1601  56.4958   NaN        S
Ford, Miss. Doolina Margaret "Daisy"
     PassengerId  Survived  Pclass                                  Name  \
436          437         0       3  Ford, Miss. Doolina Margaret "Daisy"

        Sex   Age  SibSp  Parch      Ticket    Fare Cabin Embarked
436  female  21.0      2      2  W./C. 6608  34.375   NaN        S
Ford, Miss. Robina Maggie "Ruby"
     PassengerId  Survived  Pclass                              Name     Sex  \
147          148         0       3  Ford, Miss. Robina Maggie "Ruby"  female

     Age  SibSp  Parch      Ticket    Fare Cabin Embarked
147  9.0      2      2  W./C. 6608  34.375   NaN        S
Ford, Mr. William Neal
    PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
86           87         0       3  Ford, Mr. William Neal  male  16.0      1

    Parch      Ticket    Fare Cabin Embarked
86      3  W./C. 6608  34.375   NaN        S
Ford, Mrs. Edward (Margaret Ann Watson)
     PassengerId  Survived  Pclass                                     Name  \
736          737         0       3  Ford, Mrs. Edward (Margaret Ann Watson)

        Sex   Age  SibSp  Parch      Ticket    Fare Cabin Embarked
736  female  48.0      1      3  W./C. 6608  34.375   NaN        S
Foreman, Mr. Benjamin Laventall
     PassengerId  Survived  Pclass                             Name   Sex  \
452          453         0       1  Foreman, Mr. Benjamin Laventall  male

      Age  SibSp  Parch  Ticket   Fare Cabin Embarked
452  30.0      0      0  113051  27.75  C111        C
Fortune, Miss. Alice Elizabeth
     PassengerId  Survived  Pclass                            Name     Sex  \
341          342         1       1  Fortune, Miss. Alice Elizabeth  female

      Age  SibSp  Parch Ticket   Fare        Cabin Embarked
341  24.0      3      2  19950  263.0  C23 C25 C27        S
Fortune, Miss. Mabel Helen
    PassengerId  Survived  Pclass                        Name     Sex   Age  \
88           89         1       1  Fortune, Miss. Mabel Helen  female  23.0

    SibSp  Parch Ticket   Fare        Cabin Embarked
88      3      2  19950  263.0  C23 C25 C27        S
Fortune, Mr. Charles Alexander
    PassengerId  Survived  Pclass                            Name   Sex   Age  \
27           28         0       1  Fortune, Mr. Charles Alexander  male  19.0

    SibSp  Parch Ticket   Fare        Cabin Embarked
27      3      2  19950  263.0  C23 C25 C27        S
Fortune, Mr. Mark
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
438          439         0       1  Fortune, Mr. Mark  male  64.0      1

     Parch Ticket   Fare        Cabin Embarked
438      4  19950  263.0  C23 C25 C27        S
Fox, Mr. Stanley Hubert
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
344          345         0       2  Fox, Mr. Stanley Hubert  male  36.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
344      0      0  229236  13.0   NaN        S
Francatelli, Miss. Laura Mabel
     PassengerId  Survived  Pclass                            Name     Sex  \
309          310         1       1  Francatelli, Miss. Laura Mabel  female

      Age  SibSp  Parch    Ticket     Fare Cabin Embarked
309  30.0      0      0  PC 17485  56.9292   E36        C
Frauenthal, Dr. Henry William
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
660          661         1       1  Frauenthal, Dr. Henry William  male  50.0

     SibSp  Parch    Ticket    Fare Cabin Embarked
660      2      0  PC 17611  133.65   NaN        S
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
     PassengerId  Survived  Pclass  \
334          335         1       1

                                                  Name     Sex  Age  SibSp  \
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  female  NaN      1

     Parch    Ticket    Fare Cabin Embarked
334      0  PC 17611  133.65   NaN        S
Frolicher, Miss. Hedwig Margaritha
     PassengerId  Survived  Pclass                                Name  \
539          540         1       1  Frolicher, Miss. Hedwig Margaritha

        Sex   Age  SibSp  Parch Ticket  Fare Cabin Embarked
539  female  22.0      0      2  13568  49.5   B39        C
Frolicher-Stehli, Mr. Maxmillian
     PassengerId  Survived  Pclass                              Name   Sex  \
587          588         1       1  Frolicher-Stehli, Mr. Maxmillian  male

      Age  SibSp  Parch Ticket  Fare Cabin Embarked
587  60.0      1      1  13567  79.2   B41        C
Frost, Mr. Anthony Wood "Archie"
     PassengerId  Survived  Pclass                              Name   Sex  \
481          482         0       2  Frost, Mr. Anthony Wood "Archie"  male

     Age  SibSp  Parch  Ticket  Fare Cabin Embarked
481  NaN      0      0  239854   0.0   NaN        S
Fry, Mr. Richard

     PassengerId  Survived  Pclass              Name   Sex  Age  SibSp  Parch  \
815          816         0       1  Fry, Mr. Richard  male  NaN      0      0

     Ticket  Fare Cabin Embarked
815  112058   0.0  B102        S
Funk, Miss. Annie Clemmer
     PassengerId  Survived  Pclass                       Name     Sex   Age  \
357          358         0       2  Funk, Miss. Annie Clemmer  female  38.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
357      0      0  237671  13.0   NaN        S
Futrelle, Mr. Jacques Heath
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
137          138         0       1  Futrelle, Mr. Jacques Heath  male  37.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
137      1      0  113803  53.1  C123        S
Futrelle, Mrs. Jacques Heath (Lily May Peel)
   PassengerId  Survived  Pclass  \
3            4         1       1

                                           Name     Sex   Age  SibSp  Parch  \
3  Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0

   Ticket  Fare Cabin Embarked
3  113803  53.1  C123        S
Fynney, Mr. Joseph J
    PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
20           21         0       2  Fynney, Mr. Joseph J  male  35.0      0

    Parch  Ticket  Fare Cabin Embarked
20      0  239865  26.0   NaN        S
Gale, Mr. Shadrach
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
405          406         0       2  Gale, Mr. Shadrach  male  34.0      1

     Parch Ticket  Fare Cabin Embarked
405      0  28664  21.0   NaN        S
Gallagher, Mr. Martin
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
703          704         0       3  Gallagher, Mr. Martin  male  25.0      0

     Parch Ticket    Fare Cabin Embarked
703      0  36864  7.7417   NaN        Q
Garfirth, Mr. John
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
760          761         0       3  Garfirth, Mr. John  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
760      0  358585  14.5   NaN        S
Garside, Miss. Ethel
     PassengerId  Survived  Pclass                  Name     Sex   Age  SibSp  \
576          577         1       2  Garside, Miss. Ethel  female  34.0      0

     Parch  Ticket  Fare Cabin Embarked
576      0  243880  13.0   NaN        S
Gaskell, Mr. Alfred
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
791          792         0       2  Gaskell, Mr. Alfred  male  16.0      0

     Parch  Ticket  Fare Cabin Embarked
791      0  239865  26.0   NaN        S
Gavey, Mr. Lawrence
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
619          620         0       2  Gavey, Mr. Lawrence  male  26.0      0

     Parch Ticket  Fare Cabin Embarked
619      0  31028  10.5   NaN        S
Gee, Mr. Arthur H
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
462          463         0       1  Gee, Mr. Arthur H  male  47.0      0

     Parch  Ticket  Fare Cabin Embarked
462      0  111320  38.5   E63        S
Gheorgheff, Mr. Stanio
     PassengerId  Survived  Pclass                    Name   Sex  Age  SibSp  \
420          421         0       3  Gheorgheff, Mr. Stanio  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
420      0  349254  7.8958   NaN        C
Giglio, Mr. Victor
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
139          140         0       1  Giglio, Mr. Victor  male  24.0      0

     Parch    Ticket  Fare Cabin Embarked
139      0  PC 17593  79.2   B86        C
Giles, Mr. Frederick Edward
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
861          862         0       2  Giles, Mr. Frederick Edward  male  21.0

     SibSp  Parch Ticket  Fare Cabin Embarked
861      1      0  28134  11.5   NaN        S
Gilinski, Mr. Eliezer
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
588          589         0       3  Gilinski, Mr. Eliezer  male  22.0      0

     Parch Ticket  Fare Cabin Embarked
588      0  14973  8.05   NaN        S
Gill, Mr. John William
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
864          865         0       2  Gill, Mr. John William  male  24.0      0

     Parch  Ticket  Fare Cabin Embarked
864      0  233866  13.0   NaN        S
Gillespie, Mr. William Henry
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
722          723         0       2  Gillespie, Mr. William Henry  male  34.0

     SibSp  Parch Ticket  Fare Cabin Embarked
722      0      0  12233  13.0   NaN        S
Gilnagh, Miss. Katherine "Katie"
     PassengerId  Survived  Pclass                              Name     Sex  \
156          157         1       3  Gilnagh, Miss. Katherine "Katie"  female

      Age  SibSp  Parch Ticket    Fare Cabin Embarked
156  16.0      0      0  35851  7.7333   NaN        Q
Givard, Mr. Hans Kristensen
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
213          214         0       2  Givard, Mr. Hans Kristensen  male  30.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
213      0      0  250646  13.0   NaN        S
Glynn, Miss. Mary Agatha
    PassengerId  Survived  Pclass                      Name     Sex  Age  \
32           33         1       3  Glynn, Miss. Mary Agatha  female  NaN

    SibSp  Parch  Ticket  Fare Cabin Embarked
32      0      0  335677  7.75   NaN        Q
Goldenberg, Mr. Samuel L
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
453          454         1       1  Goldenberg, Mr. Samuel L  male  49.0

     SibSp  Parch Ticket     Fare Cabin Embarked
453      1      0  17453  89.1042   C92        C
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
     PassengerId  Survived  Pclass  \
849          850         1       1

                                             Name     Sex  Age  SibSp  Parch  \
849  Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female  NaN      1      0

    Ticket     Fare Cabin Embarked
849  17453  89.1042   C92        C
Goldschmidt, Mr. George B
    PassengerId  Survived  Pclass                       Name   Sex   Age  \
96           97         0       1  Goldschmidt, Mr. George B  male  71.0

    SibSp  Parch    Ticket     Fare Cabin Embarked
96      0      0  PC 17754  34.6542    A5        C
Goldsmith, Master. Frank John William "Frankie"
     PassengerId  Survived  Pclass  \
165          166         1       3

                                                Name   Sex  Age  SibSp  Parch  \
165  Goldsmith, Master. Frank John William "Frankie"  male  9.0      0      2

     Ticket    Fare Cabin Embarked
165  363291  20.525   NaN        S
Goldsmith, Mr. Frank John
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
548          549         0       3  Goldsmith, Mr. Frank John  male  33.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
548      1      1  363291  20.525   NaN        S
Goldsmith, Mrs. Frank John (Emily Alice Brown)
     PassengerId  Survived  Pclass  \
328          329         1       3

                                               Name     Sex   Age  SibSp  \
328  Goldsmith, Mrs. Frank John (Emily Alice Brown)  female  31.0      1

     Parch  Ticket    Fare Cabin Embarked
328      1  363291  20.525   NaN        S
Goncalves, Mr. Manuel Estanslas
     PassengerId  Survived  Pclass                             Name   Sex  \
465          466         0       3  Goncalves, Mr. Manuel Estanslas  male

      Age  SibSp  Parch              Ticket  Fare Cabin Embarked
465  38.0      0      0  SOTON/O.Q. 3101306  7.05   NaN        S
Goodwin, Master. Harold Victor
     PassengerId  Survived  Pclass                            Name   Sex  Age  \
480          481         0       3  Goodwin, Master. Harold Victor  male  9.0

     SibSp  Parch   Ticket  Fare Cabin Embarked
480      5      2  CA 2144  46.9   NaN        S
Goodwin, Master. Sidney Leonard
     PassengerId  Survived  Pclass                             Name   Sex  \
386          387         0       3  Goodwin, Master. Sidney Leonard  male

     Age  SibSp  Parch   Ticket  Fare Cabin Embarked
386  1.0      5      2  CA 2144  46.9   NaN        S
Goodwin, Master. William Frederick
    PassengerId  Survived  Pclass                                Name   Sex  \
59           60         0       3  Goodwin, Master. William Frederick  male

     Age  SibSp  Parch   Ticket  Fare Cabin Embarked
59  11.0      5      2  CA 2144  46.9   NaN        S
Goodwin, Miss. Lillian Amy
    PassengerId  Survived  Pclass                        Name     Sex   Age  \
71           72         0       3  Goodwin, Miss. Lillian Amy  female  16.0

    SibSp  Parch   Ticket  Fare Cabin Embarked
71      5      2  CA 2144  46.9   NaN        S
Goodwin, Mr. Charles Edward

     PassengerId  Survived  Pclass                         Name   Sex   Age  \
683          684         0       3  Goodwin, Mr. Charles Edward  male  14.0

     SibSp  Parch   Ticket  Fare Cabin Embarked
683      5      2  CA 2144  46.9   NaN        S
Goodwin, Mrs. Frederick (Augusta Tyler)
     PassengerId  Survived  Pclass                                     Name  \
678          679         0       3  Goodwin, Mrs. Frederick (Augusta Tyler)

        Sex   Age  SibSp  Parch   Ticket  Fare Cabin Embarked
678  female  43.0      1      6  CA 2144  46.9   NaN        S
Graham, Miss. Margaret Edith
     PassengerId  Survived  Pclass                          Name     Sex  \
887          888         1       1  Graham, Miss. Margaret Edith  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
887  19.0      0      0  112053  30.0   B42        S
Graham, Mr. George Edward
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
332          333         0       1  Graham, Mr. George Edward  male  38.0

     SibSp  Parch    Ticket      Fare Cabin Embarked
332      0      1  PC 17582  153.4625   C91        S
Graham, Mrs. William Thompson (Edith Junkins)
     PassengerId  Survived  Pclass  \
268          269         1       1

                                              Name     Sex   Age  SibSp  \
268  Graham, Mrs. William Thompson (Edith Junkins)  female  58.0      0

     Parch    Ticket      Fare Cabin Embarked
268      1  PC 17582  153.4625  C125        S
Green, Mr. George Henry
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
222          223         0       3  Green, Mr. George Henry  male  51.0

     SibSp  Parch Ticket  Fare Cabin Embarked
222      0      0  21440  8.05   NaN        S
Greenberg, Mr. Samuel
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
714          715         0       2  Greenberg, Mr. Samuel  male  52.0      0

     Parch  Ticket  Fare Cabin Embarked
714      0  250647  13.0   NaN        S
Greenfield, Mr. William Bertram
    PassengerId  Survived  Pclass                             Name   Sex  \
97           98         1       1  Greenfield, Mr. William Bertram  male

     Age  SibSp  Parch    Ticket     Fare    Cabin Embarked
97  23.0      0      1  PC 17759  63.3583  D10 D12        C
Gronnestad, Mr. Daniel Danielsen
     PassengerId  Survived  Pclass                              Name   Sex  \
769          770         0       3  Gronnestad, Mr. Daniel Danielsen  male

      Age  SibSp  Parch Ticket    Fare Cabin Embarked
769  32.0      0      0   8471  8.3625   NaN        S
Guggenheim, Mr. Benjamin
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
789          790         0       1  Guggenheim, Mr. Benjamin  male  46.0

     SibSp  Parch    Ticket  Fare    Cabin Embarked
789      0      0  PC 17593  79.2  B82 B84        C
Gustafsson, Mr. Alfred Ossian
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
876          877         0       3  Gustafsson, Mr. Alfred Ossian  male  20.0

     SibSp  Parch Ticket    Fare Cabin Embarked
876      0      0   7534  9.8458   NaN        S
Gustafsson, Mr. Anders Vilhelm
     PassengerId  Survived  Pclass                            Name   Sex  \
104          105         0       3  Gustafsson, Mr. Anders Vilhelm  male

      Age  SibSp  Parch   Ticket   Fare Cabin Embarked
104  37.0      2      0  3101276  7.925   NaN        S
Gustafsson, Mr. Johan Birger
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
392          393         0       3  Gustafsson, Mr. Johan Birger  male  28.0

     SibSp  Parch   Ticket   Fare Cabin Embarked
392      2      0  3101277  7.925   NaN        S
Gustafsson, Mr. Karl Gideon
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
379          380         0       3  Gustafsson, Mr. Karl Gideon  male  19.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
379      0      0  347069  7.775   NaN        S
Haas, Miss. Aloisia
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
293          294         0       3  Haas, Miss. Aloisia  female  24.0      0

     Parch  Ticket  Fare Cabin Embarked
293      0  349236  8.85   NaN        S
Hagland, Mr. Ingvald Olai Olsen
     PassengerId  Survived  Pclass                             Name   Sex  \
451          452         0       3  Hagland, Mr. Ingvald Olai Olsen  male

     Age  SibSp  Parch Ticket     Fare Cabin Embarked
451  NaN      1      0  65303  19.9667   NaN        S
Hagland, Mr. Konrad Mathias Reiersen
     PassengerId  Survived  Pclass                                  Name  \
490          491         0       3  Hagland, Mr. Konrad Mathias Reiersen

      Sex  Age  SibSp  Parch Ticket     Fare Cabin Embarked
490  male  NaN      1      0  65304  19.9667   NaN        S
Hakkarainen, Mr. Pekka Pietari
     PassengerId  Survived  Pclass                            Name   Sex  \
403          404         0       3  Hakkarainen, Mr. Pekka Pietari  male

      Age  SibSp  Parch            Ticket   Fare Cabin Embarked
403  28.0      1      0  STON/O2. 3101279  15.85   NaN        S
Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)
     PassengerId  Survived  Pclass  \
142          143         1       3

                                                  Name     Sex   Age  SibSp  \
142  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...  female  24.0      1

     Parch            Ticket   Fare Cabin Embarked
142      0  STON/O2. 3101279  15.85   NaN        S
Hale, Mr. Reginald
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
178          179         0       2  Hale, Mr. Reginald  male  30.0      0

     Parch  Ticket  Fare Cabin Embarked
178      0  250653  13.0   NaN        S
Hamalainen, Master. Viljo
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
755          756         1       2  Hamalainen, Master. Viljo  male  0.67

     SibSp  Parch  Ticket  Fare Cabin Embarked
755      1      1  250649  14.5   NaN        S
Hamalainen, Mrs. William (Anna)
     PassengerId  Survived  Pclass                             Name     Sex  \
247          248         1       2  Hamalainen, Mrs. William (Anna)  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
247  24.0      0      2  250649  14.5   NaN        S
Hampe, Mr. Leon
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
441          442         0       3  Hampe, Mr. Leon  male  20.0      0      0

     Ticket  Fare Cabin Embarked
441  345769   9.5   NaN        S
Hanna, Mr. Mansour
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
296          297         0       3  Hanna, Mr. Mansour  male  23.5      0

     Parch Ticket    Fare Cabin Embarked
296      0   2693  7.2292   NaN        C
Hansen, Mr. Claus Peter
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
860          861         0       3  Hansen, Mr. Claus Peter  male  41.0

     SibSp  Parch  Ticket     Fare Cabin Embarked
860      2      0  350026  14.1083   NaN        S
Hansen, Mr. Henrik Juul
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
704          705         0       3  Hansen, Mr. Henrik Juul  male  26.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
704      1      0  350025  7.8542   NaN        S
Hansen, Mr. Henry Damsgaard
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
623          624         0       3  Hansen, Mr. Henry Damsgaard  male  21.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
623      0      0  350029  7.8542   NaN        S
Harder, Mr. George Achilles
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
370          371         1       1  Harder, Mr. George Achilles  male  25.0

     SibSp  Parch Ticket     Fare Cabin Embarked
370      1      0  11765  55.4417   E50        C
Harknett, Miss. Alice Phoebe
     PassengerId  Survived  Pclass                          Name     Sex  Age  \
235          236         0       3  Harknett, Miss. Alice Phoebe  female  NaN

     SibSp  Parch      Ticket  Fare Cabin Embarked
235      0      0  W./C. 6609  7.55   NaN        S
Harmer, Mr. Abraham (David Lishin)
     PassengerId  Survived  Pclass                                Name   Sex  \
785          786         0       3  Harmer, Mr. Abraham (David Lishin)  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
785  25.0      0      0  374887  7.25   NaN        S
Harper, Miss. Annie Jessie "Nina"
     PassengerId  Survived  Pclass                               Name     Sex  \
720          721         1       2  Harper, Miss. Annie Jessie "Nina"  female

     Age  SibSp  Parch  Ticket  Fare Cabin Embarked
720  6.0      0      1  248727  33.0   NaN        S
Harper, Mr. Henry Sleeper
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
645          646         1       1  Harper, Mr. Henry Sleeper  male  48.0

     SibSp  Parch    Ticket     Fare Cabin Embarked
645      1      0  PC 17572  76.7292   D33        C
Harper, Mrs. Henry Sleeper (Myna Haxtun)
    PassengerId  Survived  Pclass                                      Name  \
52           53         1       1  Harper, Mrs. Henry Sleeper (Myna Haxtun)

       Sex   Age  SibSp  Parch    Ticket     Fare Cabin Embarked
52  female  49.0      1      0  PC 17572  76.7292   D33        C
Harper, Rev. John

     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
848          849         0       2  Harper, Rev. John  male  28.0      0

     Parch  Ticket  Fare Cabin Embarked
848      1  248727  33.0   NaN        S
Harrington, Mr. Charles H
     PassengerId  Survived  Pclass                       Name   Sex  Age  \
602          603         0       1  Harrington, Mr. Charles H  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
602      0      0  113796  42.4   NaN        S
Harris, Mr. George
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
570          571         1       2  Harris, Mr. George  male  62.0      0

     Parch       Ticket  Fare Cabin Embarked
570      0  S.W./PP 752  10.5   NaN        S
Harris, Mr. Henry Birkhardt
    PassengerId  Survived  Pclass                         Name   Sex   Age  \
62           63         0       1  Harris, Mr. Henry Birkhardt  male  45.0

    SibSp  Parch Ticket    Fare Cabin Embarked
62      1      0  36973  83.475   C83        S
Harris, Mr. Walter
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
219          220         0       2  Harris, Mr. Walter  male  30.0      0

     Parch     Ticket  Fare Cabin Embarked
219      0  W/C 14208  10.5   NaN        S
Harris, Mrs. Henry Birkhardt (Irene Wallach)
     PassengerId  Survived  Pclass  \
230          231         1       1

                                             Name     Sex   Age  SibSp  Parch  \
230  Harris, Mrs. Henry Birkhardt (Irene Wallach)  female  35.0      1      0

    Ticket    Fare Cabin Embarked
230  36973  83.475   C83        S
Harrison, Mr. William
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
263          264         0       1  Harrison, Mr. William  male  40.0      0

     Parch  Ticket  Fare Cabin Embarked
263      0  112059   0.0   B94        S
Hart, Miss. Eva Miriam
     PassengerId  Survived  Pclass                    Name     Sex  Age  \
535          536         1       2  Hart, Miss. Eva Miriam  female  7.0

     SibSp  Parch        Ticket   Fare Cabin Embarked
535      0      2  F.C.C. 13529  26.25   NaN        S
Hart, Mr. Benjamin
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
314          315         0       2  Hart, Mr. Benjamin  male  43.0      1

     Parch        Ticket   Fare Cabin Embarked
314      1  F.C.C. 13529  26.25   NaN        S
Hart, Mr. Henry
     PassengerId  Survived  Pclass             Name   Sex  Age  SibSp  Parch  \
411          412         0       3  Hart, Mr. Henry  male  NaN      0      0

     Ticket    Fare Cabin Embarked
411  394140  6.8583   NaN        Q
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
     PassengerId  Survived  Pclass  \
440          441         1       2

                                            Name     Sex   Age  SibSp  Parch  \
440  Hart, Mrs. Benjamin (Esther Ada Bloomfield)  female  45.0      1      1

           Ticket   Fare Cabin Embarked
440  F.C.C. 13529  26.25   NaN        S
Hassab, Mr. Hammad
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
681          682         1       1  Hassab, Mr. Hammad  male  27.0      0

     Parch    Ticket     Fare Cabin Embarked
681      0  PC 17572  76.7292   D49        C
Hassan, Mr. Houssein G N
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
731          732         0       3  Hassan, Mr. Houssein G N  male  11.0

     SibSp  Parch Ticket     Fare Cabin Embarked
731      0      0   2699  18.7875   NaN        C
Hawksford, Mr. Walter James
     PassengerId  Survived  Pclass                         Name   Sex  Age  \
740          741         1       1  Hawksford, Mr. Walter James  male  NaN

     SibSp  Parch Ticket  Fare Cabin Embarked
740      0      0  16988  30.0   D45        S
Hays, Miss. Margaret Bechstein
     PassengerId  Survived  Pclass                            Name     Sex  \
310          311         1       1  Hays, Miss. Margaret Bechstein  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
310  24.0      0      0  11767  83.1583   C54        C
Hays, Mrs. Charles Melville (Clara Jennings Gregg)
     PassengerId  Survived  Pclass  \
820          821         1       1

                                                  Name     Sex   Age  SibSp  \
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.0      1

     Parch Ticket  Fare Cabin Embarked
820      1  12749  93.5   B69        S
Healy, Miss. Hanora "Nora"
     PassengerId  Survived  Pclass                        Name     Sex  Age  \
274          275         1       3  Healy, Miss. Hanora "Nora"  female  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
274      0      0  370375  7.75   NaN        Q
Hedman, Mr. Oskar Arvid
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
804          805         1       3  Hedman, Mr. Oskar Arvid  male  27.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
804      0      0  347089  6.975   NaN        S
Hegarty, Miss. Hanora "Nora"
     PassengerId  Survived  Pclass                          Name     Sex  \
654          655         0       3  Hegarty, Miss. Hanora "Nora"  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
654  18.0      0      0  365226  6.75   NaN        Q
Heikkinen, Miss. Laina
   PassengerId  Survived  Pclass                    Name     Sex   Age  SibSp  \
2            3         1       3  Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket   Fare Cabin Embarked
2      0  STON/O2. 3101282  7.925   NaN        S
Heininen, Miss. Wendla Maria
     PassengerId  Survived  Pclass                          Name     Sex  \
816          817         0       3  Heininen, Miss. Wendla Maria  female

      Age  SibSp  Parch            Ticket   Fare Cabin Embarked
816  23.0      0      0  STON/O2. 3101290  7.925   NaN        S
Hendekovic, Mr. Ignjac
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
313          314         0       3  Hendekovic, Mr. Ignjac  male  28.0      0

     Parch  Ticket    Fare Cabin Embarked
313      0  349243  7.8958   NaN        S
Henry, Miss. Delia
     PassengerId  Survived  Pclass                Name     Sex  Age  SibSp  \
264          265         0       3  Henry, Miss. Delia  female  NaN      0

     Parch  Ticket  Fare Cabin Embarked
264      0  382649  7.75   NaN        Q
Herman, Miss. Alice
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
615          616         1       2  Herman, Miss. Alice  female  24.0      1

     Parch  Ticket  Fare Cabin Embarked
615      2  220845  65.0   NaN        S
Herman, Mrs. Samuel (Jane Laver)
     PassengerId  Survived  Pclass                              Name     Sex  \
754          755         1       2  Herman, Mrs. Samuel (Jane Laver)  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
754  48.0      1      2  220845  65.0   NaN        S
Hewlett, Mrs. (Mary D Kingcome)
    PassengerId  Survived  Pclass                              Name     Sex  \
15           16         1       2  Hewlett, Mrs. (Mary D Kingcome)   female

     Age  SibSp  Parch  Ticket  Fare Cabin Embarked
15  55.0      0      0  248706  16.0   NaN        S
Hickman, Mr. Leonard Mark
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
655          656         0       2  Hickman, Mr. Leonard Mark  male  24.0

     SibSp  Parch        Ticket  Fare Cabin Embarked
655      2      0  S.O.C. 14879  73.5   NaN        S
Hickman, Mr. Lewis
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
665          666         0       2  Hickman, Mr. Lewis  male  32.0      2

     Parch        Ticket  Fare Cabin Embarked
665      0  S.O.C. 14879  73.5   NaN        S
Hickman, Mr. Stanley George
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
120          121         0       2  Hickman, Mr. Stanley George  male  21.0

     SibSp  Parch        Ticket  Fare Cabin Embarked
120      2      0  S.O.C. 14879  73.5   NaN        S
Hippach, Miss. Jean Gertrude
     PassengerId  Survived  Pclass                          Name     Sex  \
329          330         1       1  Hippach, Miss. Jean Gertrude  female

      Age  SibSp  Parch  Ticket     Fare Cabin Embarked
329  16.0      0      1  111361  57.9792   B18        C
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
     PassengerId  Survived  Pclass  \
523          524         1       1

                                                Name     Sex   Age  SibSp  \
523  Hippach, Mrs. Louis Albert (Ida Sophia Fischer)  female  44.0      0

     Parch  Ticket     Fare Cabin Embarked
523      1  111361  57.9792   B18        C
Hirvonen, Miss. Hildur E
     PassengerId  Survived  Pclass                      Name     Sex  Age  \
479          480         1       3  Hirvonen, Miss. Hildur E  female  2.0

     SibSp  Parch   Ticket     Fare Cabin Embarked
479      0      1  3101298  12.2875   NaN        S
Hocking, Mr. Richard George
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
529          530         0       2  Hocking, Mr. Richard George  male  23.0

     SibSp  Parch Ticket  Fare Cabin Embarked
529      2      1  29104  11.5   NaN        S
Hocking, Mrs. Elizabeth (Eliza Needs)
     PassengerId  Survived  Pclass                                   Name  \
774          775         1       2  Hocking, Mrs. Elizabeth (Eliza Needs)

        Sex   Age  SibSp  Parch Ticket  Fare Cabin Embarked
774  female  54.0      1      3  29105  23.0   NaN        S
Hodges, Mr. Henry Price
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
723          724         0       2  Hodges, Mr. Henry Price  male  50.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
723      0      0  250643  13.0   NaN        S
Hogeboom, Mrs. John C (Anna Andrews)
     PassengerId  Survived  Pclass                                  Name  \
765          766         1       1  Hogeboom, Mrs. John C (Anna Andrews)

        Sex   Age  SibSp  Parch Ticket     Fare Cabin Embarked

765  female  51.0      1      0  13502  77.9583   D11        S
Hold, Mr. Stephen
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
236          237         0       2  Hold, Mr. Stephen  male  44.0      1

     Parch Ticket  Fare Cabin Embarked
236      0  26707  26.0   NaN        S
Holm, Mr. John Fredrik Alexander
     PassengerId  Survived  Pclass                              Name   Sex  \
818          819         0       3  Holm, Mr. John Fredrik Alexander  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
818  43.0      0      0  C 7075  6.45   NaN        S
Holverson, Mr. Alexander Oskar
    PassengerId  Survived  Pclass                            Name   Sex   Age  \
35           36         0       1  Holverson, Mr. Alexander Oskar  male  42.0

    SibSp  Parch  Ticket  Fare Cabin Embarked
35      1      0  113789  52.0   NaN        S
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
     PassengerId  Survived  Pclass  \
383          384         1       1

                                                  Name     Sex   Age  SibSp  \
383  Holverson, Mrs. Alexander Oskar (Mary Aline To...  female  35.0      1

     Parch  Ticket  Fare Cabin Embarked
383      0  113789  52.0   NaN        S
Homer, Mr. Harry ("Mr E Haven")
     PassengerId  Survived  Pclass                             Name   Sex  \
604          605         1       1  Homer, Mr. Harry ("Mr E Haven")  male

      Age  SibSp  Parch  Ticket   Fare Cabin Embarked
604  35.0      0      0  111426  26.55   NaN        C
Honkanen, Miss. Eliina
     PassengerId  Survived  Pclass                    Name     Sex   Age  \
216          217         1       3  Honkanen, Miss. Eliina  female  27.0

     SibSp  Parch            Ticket   Fare Cabin Embarked
216      0      0  STON/O2. 3101283  7.925   NaN        S
Hood, Mr. Ambrose Jr
    PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
72           73         0       2  Hood, Mr. Ambrose Jr  male  21.0      0

    Parch        Ticket  Fare Cabin Embarked
72      0  S.O.C. 14879  73.5   NaN        S
Horgan, Mr. John
     PassengerId  Survived  Pclass              Name   Sex  Age  SibSp  Parch  \
613          614         0       3  Horgan, Mr. John  male  NaN      0      0

     Ticket  Fare Cabin Embarked
613  370377  7.75   NaN        Q
Hosono, Mr. Masabumi
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
288          289         1       2  Hosono, Mr. Masabumi  male  42.0      0

     Parch  Ticket  Fare Cabin Embarked
288      0  237798  13.0   NaN        S
Hoyt, Mr. Frederick Maxfield
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
224          225         1       1  Hoyt, Mr. Frederick Maxfield  male  38.0

     SibSp  Parch Ticket  Fare Cabin Embarked
224      1      0  19943  90.0   C93        S
Hoyt, Mr. William Fisher
     PassengerId  Survived  Pclass                      Name   Sex  Age  \
793          794         0       1  Hoyt, Mr. William Fisher  male  NaN

     SibSp  Parch    Ticket     Fare Cabin Embarked
793      0      0  PC 17600  30.6958   NaN        C
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
     PassengerId  Survived  Pclass  \
486          487         1       1

                                                Name     Sex   Age  SibSp  \
486  Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)  female  35.0      1

     Parch Ticket  Fare Cabin Embarked
486      0  19943  90.0   C93        S
Humblen, Mr. Adolf Mathias Nicolai Olsen
     PassengerId  Survived  Pclass                                      Name  \
699          700         0       3  Humblen, Mr. Adolf Mathias Nicolai Olsen

      Sex   Age  SibSp  Parch  Ticket  Fare  Cabin Embarked
699  male  42.0      0      0  348121  7.65  F G63        S
Hunt, Mr. George Henry
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
239          240         0       2  Hunt, Mr. George Henry  male  33.0      0

     Parch      Ticket    Fare Cabin Embarked
239      0  SCO/W 1585  12.275   NaN        S
Ibrahim Shawah, Mr. Yousseff
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
798          799         0       3  Ibrahim Shawah, Mr. Yousseff  male  30.0

     SibSp  Parch Ticket    Fare Cabin Embarked
798      0      0   2685  7.2292   NaN        C
Icard, Miss. Amelie
    PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
61           62         1       1  Icard, Miss. Amelie  female  38.0      0

    Parch  Ticket  Fare Cabin Embarked
61      0  113572  80.0   B28      NaN
Ilett, Miss. Bertha
    PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
84           85         1       2  Ilett, Miss. Bertha  female  17.0      0

    Parch      Ticket  Fare Cabin Embarked
84      0  SO/C 14885  10.5   NaN        S
Ilmakangas, Miss. Pieta Sofia
     PassengerId  Survived  Pclass                           Name     Sex  \
729          730         0       3  Ilmakangas, Miss. Pieta Sofia  female

      Age  SibSp  Parch            Ticket   Fare Cabin Embarked
729  25.0      1      0  STON/O2. 3101271  7.925   NaN        S
Isham, Miss. Ann Elizabeth
     PassengerId  Survived  Pclass                        Name     Sex   Age  \
177          178         0       1  Isham, Miss. Ann Elizabeth  female  50.0

     SibSp  Parch    Ticket     Fare Cabin Embarked
177      0      0  PC 17595  28.7125   C49        C
Ivanoff, Mr. Kanio
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
738          739         0       3  Ivanoff, Mr. Kanio  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
738      0  349201  7.8958   NaN        S
Jacobsohn, Mr. Sidney Samuel
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
217          218         0       2  Jacobsohn, Mr. Sidney Samuel  male  42.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
217      1      0  243847  27.0   NaN        S
Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)
     PassengerId  Survived  Pclass  \
600          601         1       2

                                                  Name     Sex   Age  SibSp  \
600  Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...  female  24.0      2

     Parch  Ticket  Fare Cabin Embarked
600      1  243847  27.0   NaN        S
Jalsevac, Mr. Ivan
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
455          456         1       3  Jalsevac, Mr. Ivan  male  29.0      0

     Parch  Ticket    Fare Cabin Embarked
455      0  349240  7.8958   NaN        C
Jansson, Mr. Carl Olof
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
391          392         1       3  Jansson, Mr. Carl Olof  male  21.0      0

     Parch  Ticket    Fare Cabin Embarked
391      0  350034  7.7958   NaN        S
Jardin, Mr. Jose Neto
     PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
611          612         0       3  Jardin, Mr. Jose Neto  male  NaN      0

     Parch              Ticket  Fare Cabin Embarked
611      0  SOTON/O.Q. 3101305  7.05   NaN        S
Jarvis, Mr. John Denzil
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
586          587         0       2  Jarvis, Mr. John Denzil  male  47.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
586      0      0  237565  15.0   NaN        S
Jenkin, Mr. Stephen Curnow
    PassengerId  Survived  Pclass                        Name   Sex   Age  \
70           71         0       2  Jenkin, Mr. Stephen Curnow  male  32.0

    SibSp  Parch      Ticket  Fare Cabin Embarked
70      0      0  C.A. 33111  10.5   NaN        S
Jensen, Mr. Hans Peder
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
640          641         0       3  Jensen, Mr. Hans Peder  male  20.0      0

     Parch  Ticket    Fare Cabin Embarked
640      0  350050  7.8542   NaN        S
Jensen, Mr. Niels Peder
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
771          772         0       3  Jensen, Mr. Niels Peder  male  48.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
771      0      0  350047  7.8542   NaN        S
Jensen, Mr. Svend Lauritz
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
721          722         0       3  Jensen, Mr. Svend Lauritz  male  17.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
721      1      0  350048  7.0542   NaN        S
Jermyn, Miss. Annie
     PassengerId  Survived  Pclass                 Name     Sex  Age  SibSp  \
368          369         1       3  Jermyn, Miss. Annie  female  NaN      0

     Parch Ticket  Fare Cabin Embarked
368      0  14313  7.75   NaN        Q
Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
     PassengerId  Survived  Pclass  \
473          474         1       2

                                             Name     Sex   Age  SibSp  Parch  \
473  Jerwan, Mrs. Amin S (Marie Marthe Thuillard)  female  23.0      0      0

              Ticket     Fare Cabin Embarked
473  SC/AH Basle 541  13.7917     D        C
Johannesen-Bratthammer, Mr. Bernt
     PassengerId  Survived  Pclass                               Name   Sex  \
444          445         1       3  Johannesen-Bratthammer, Mr. Bernt  male

     Age  SibSp  Parch Ticket    Fare Cabin Embarked
444  NaN      0      0  65306  8.1125   NaN        S
Johanson, Mr. Jakob Alfred

     PassengerId  Survived  Pclass                        Name   Sex   Age  \
202          203         0       3  Johanson, Mr. Jakob Alfred  male  34.0

     SibSp  Parch   Ticket    Fare Cabin Embarked
202      0      0  3101264  6.4958   NaN        S
Johansson, Mr. Erik
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
395          396         0       3  Johansson, Mr. Erik  male  22.0      0

     Parch  Ticket    Fare Cabin Embarked
395      0  350052  7.7958   NaN        S
Johansson, Mr. Gustaf Joel
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
103          104         0       3  Johansson, Mr. Gustaf Joel  male  33.0

     SibSp  Parch Ticket    Fare Cabin Embarked
103      0      0   7540  8.6542   NaN        S
Johansson, Mr. Karl Johan
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
805          806         0       3  Johansson, Mr. Karl Johan  male  31.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
805      0      0  347063  7.775   NaN        S
Johnson, Master. Harold Theodor
     PassengerId  Survived  Pclass                             Name   Sex  \
869          870         1       3  Johnson, Master. Harold Theodor  male

     Age  SibSp  Parch  Ticket     Fare Cabin Embarked
869  4.0      1      1  347742  11.1333   NaN        S
Johnson, Miss. Eleanor Ileen
     PassengerId  Survived  Pclass                          Name     Sex  Age  \
172          173         1       3  Johnson, Miss. Eleanor Ileen  female  1.0

     SibSp  Parch  Ticket     Fare Cabin Embarked
172      1      1  347742  11.1333   NaN        S
Johnson, Mr. Alfred
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
597          598         0       3  Johnson, Mr. Alfred  male  49.0      0

     Parch Ticket  Fare Cabin Embarked
597      0   LINE   0.0   NaN        S
Johnson, Mr. Malkolm Joackim
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
719          720         0       3  Johnson, Mr. Malkolm Joackim  male  33.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
719      0      0  347062  7.775   NaN        S
Johnson, Mr. William Cahoone Jr
     PassengerId  Survived  Pclass                             Name   Sex  \
302          303         0       3  Johnson, Mr. William Cahoone Jr  male

      Age  SibSp  Parch Ticket  Fare Cabin Embarked
302  19.0      0      0   LINE   0.0   NaN        S
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
   PassengerId  Survived  Pclass  \
8            9         1       3

                                                Name     Sex   Age  SibSp  \
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0

   Parch  Ticket     Fare Cabin Embarked
8      2  347742  11.1333   NaN        S
Johnston, Miss. Catherine Helen "Carrie"
     PassengerId  Survived  Pclass                                      Name  \
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex  Age  SibSp  Parch      Ticket   Fare Cabin Embarked
888  female  NaN      1      2  W./C. 6607  23.45   NaN        S
Johnston, Mr. Andrew G
     PassengerId  Survived  Pclass                    Name   Sex  Age  SibSp  \
783          784         0       3  Johnston, Mr. Andrew G  male  NaN      1

     Parch      Ticket   Fare Cabin Embarked
783      2  W./C. 6607  23.45   NaN        S
Jonkoff, Mr. Lalio
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
753          754         0       3  Jonkoff, Mr. Lalio  male  23.0      0

     Parch  Ticket    Fare Cabin Embarked
753      0  349204  7.8958   NaN        S
Jonsson, Mr. Carl
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
569          570         1       3  Jonsson, Mr. Carl  male  32.0      0

     Parch  Ticket    Fare Cabin Embarked
569      0  350417  7.8542   NaN        S
Jussila, Miss. Katriina
     PassengerId  Survived  Pclass                     Name     Sex   Age  \
113          114         0       3  Jussila, Miss. Katriina  female  20.0

     SibSp  Parch Ticket   Fare Cabin Embarked
113      1      0   4136  9.825   NaN        S
Jussila, Miss. Mari Aina
     PassengerId  Survived  Pclass                      Name     Sex   Age  \
402          403         0       3  Jussila, Miss. Mari Aina  female  21.0

     SibSp  Parch Ticket   Fare Cabin Embarked
402      1      0   4137  9.825   NaN        S
Jussila, Mr. Eiriik
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
579          580         1       3  Jussila, Mr. Eiriik  male  32.0      0

     Parch             Ticket   Fare Cabin Embarked
579      0  STON/O 2. 3101286  7.925   NaN        S
Kallio, Mr. Nikolai Erland
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
433          434         0       3  Kallio, Mr. Nikolai Erland  male  17.0

     SibSp  Parch             Ticket   Fare Cabin Embarked
433      0      0  STON/O 2. 3101274  7.125   NaN        S
Kalvik, Mr. Johannes Halvorsen
     PassengerId  Survived  Pclass                            Name   Sex  \
652          653         0       3  Kalvik, Mr. Johannes Halvorsen  male

      Age  SibSp  Parch Ticket    Fare Cabin Embarked
652  21.0      0      0   8475  8.4333   NaN        S
Kantor, Mr. Sinai
    PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
99          100         0       2  Kantor, Mr. Sinai  male  34.0      1

    Parch  Ticket  Fare Cabin Embarked
99      0  244367  26.0   NaN        S
Kantor, Mrs. Sinai (Miriam Sternin)
     PassengerId  Survived  Pclass                                 Name  \
316          317         1       2  Kantor, Mrs. Sinai (Miriam Sternin)

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
316  female  24.0      1      0  244367  26.0   NaN        S
Karaic, Mr. Milan
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
606          607         0       3  Karaic, Mr. Milan  male  30.0      0

     Parch  Ticket    Fare Cabin Embarked
606      0  349246  7.8958   NaN        S
Karlsson, Mr. Nils August
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
478          479         0       3  Karlsson, Mr. Nils August  male  22.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
478      0      0  350060  7.5208   NaN        S
Karun, Miss. Manca
     PassengerId  Survived  Pclass                Name     Sex  Age  SibSp  \
691          692         1       3  Karun, Miss. Manca  female  4.0      0

     Parch  Ticket     Fare Cabin Embarked
691      1  349256  13.4167   NaN        C
Kassem, Mr. Fared
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
524          525         0       3  Kassem, Mr. Fared  male  NaN      0

     Parch Ticket    Fare Cabin Embarked
524      0   2700  7.2292   NaN        C
Keane, Miss. Nora A
     PassengerId  Survived  Pclass                 Name     Sex  Age  SibSp  \
303          304         1       2  Keane, Miss. Nora A  female  NaN      0

     Parch  Ticket   Fare Cabin Embarked
303      0  226593  12.35  E101        Q
Keane, Mr. Andrew "Andy"
     PassengerId  Survived  Pclass                      Name   Sex  Age  \
790          791         0       3  Keane, Mr. Andrew "Andy"  male  NaN

     SibSp  Parch Ticket  Fare Cabin Embarked
790      0      0  12460  7.75   NaN        Q
Keefe, Mr. Arthur
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
470          471         0       3  Keefe, Mr. Arthur  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
470      0  323592  7.25   NaN        S
Kelly, Miss. Anna Katherine "Annie Kate"
     PassengerId  Survived  Pclass                                      Name  \
300          301         1       3  Kelly, Miss. Anna Katherine "Annie Kate"

        Sex  Age  SibSp  Parch Ticket  Fare Cabin Embarked
300  female  NaN      0      0   9234  7.75   NaN        Q
Kelly, Miss. Mary
     PassengerId  Survived  Pclass               Name     Sex  Age  SibSp  \
573          574         1       3  Kelly, Miss. Mary  female  NaN      0

     Parch Ticket  Fare Cabin Embarked
573      0  14312  7.75   NaN        Q
Kelly, Mr. James
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
696          697         0       3  Kelly, Mr. James  male  44.0      0

     Parch  Ticket  Fare Cabin Embarked
696      0  363592  8.05   NaN        S
Kelly, Mrs. Florence "Fannie"
     PassengerId  Survived  Pclass                           Name     Sex  \
706          707         1       2  Kelly, Mrs. Florence "Fannie"  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
706  45.0      0      0  223596  13.5   NaN        S
Kent, Mr. Edward Austin
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
487          488         0       1  Kent, Mr. Edward Austin  male  58.0

     SibSp  Parch Ticket  Fare Cabin Embarked
487      0      0  11771  29.7   B37        C
Kenyon, Mrs. Frederick R (Marion)
     PassengerId  Survived  Pclass                               Name     Sex  \
457          458         1       1  Kenyon, Mrs. Frederick R (Marion)  female

     Age  SibSp  Parch Ticket     Fare Cabin Embarked
457  NaN      1      0  17464  51.8625   D21        S
Kiernan, Mr. Philip
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
214          215         0       3  Kiernan, Mr. Philip  male  NaN      1

     Parch  Ticket  Fare Cabin Embarked
214      0  367229  7.75   NaN        Q
Kilgannon, Mr. Thomas J
     PassengerId  Survived  Pclass                     Name   Sex  Age  SibSp  \
778          779         0       3  Kilgannon, Mr. Thomas J  male  NaN      0

     Parch Ticket    Fare Cabin Embarked
778      0  36865  7.7375   NaN        Q
Kimball, Mr. Edwin Nelson Jr
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
621          622         1       1  Kimball, Mr. Edwin Nelson Jr  male  42.0

     SibSp  Parch Ticket     Fare Cabin Embarked
621      1      0  11753  52.5542   D19        S
Kink, Mr. Vincenz
    PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
69           70         0       3  Kink, Mr. Vincenz  male  26.0      2

    Parch  Ticket    Fare Cabin Embarked
69      0  315151  8.6625   NaN        S
Kink-Heilmann, Miss. Luise Gretchen
     PassengerId  Survived  Pclass                                 Name  \
184          185         1       3  Kink-Heilmann, Miss. Luise Gretchen

        Sex  Age  SibSp  Parch  Ticket    Fare Cabin Embarked
184  female  4.0      0      2  315153  22.025   NaN        S
Kirkland, Rev. Charles Leonard
     PassengerId  Survived  Pclass                            Name   Sex  \
626          627         0       2  Kirkland, Rev. Charles Leonard  male

      Age  SibSp  Parch  Ticket   Fare Cabin Embarked
626  57.0      0      0  219533  12.35   NaN        Q
Klaber, Mr. Herman

     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
711          712         0       1  Klaber, Mr. Herman  male  NaN      0

     Parch  Ticket   Fare Cabin Embarked
711      0  113028  26.55  C124        S
Klasen, Mr. Klas Albin
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
175          176         0       3  Klasen, Mr. Klas Albin  male  18.0      1

     Parch  Ticket    Fare Cabin Embarked
175      1  350404  7.8542   NaN        S
Knight, Mr. Robert J
     PassengerId  Survived  Pclass                  Name   Sex  Age  SibSp  \
732          733         0       2  Knight, Mr. Robert J  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
732      0  239855   0.0   NaN        S
Kraeff, Mr. Theodor
    PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
42           43         0       3  Kraeff, Mr. Theodor  male  NaN      0

    Parch  Ticket    Fare Cabin Embarked
42      0  349253  7.8958   NaN        C
Kvillner, Mr. Johan Henrik Johannesson
     PassengerId  Survived  Pclass                                    Name  \
439          440         0       2  Kvillner, Mr. Johan Henrik Johannesson

      Sex   Age  SibSp  Parch      Ticket  Fare Cabin Embarked
439  male  31.0      0      0  C.A. 18723  10.5   NaN        S
Lahoud, Mr. Sarkis
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
522          523         0       3  Lahoud, Mr. Sarkis  male  NaN      0

     Parch Ticket   Fare Cabin Embarked
522      0   2624  7.225   NaN        C
Lahtinen, Mrs. William (Anna Sylfven)
     PassengerId  Survived  Pclass                                   Name  \
312          313         0       2  Lahtinen, Mrs. William (Anna Sylfven)

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
312  female  26.0      1      1  250651  26.0   NaN        S
Laitinen, Miss. Kristina Sofia
     PassengerId  Survived  Pclass                            Name     Sex  \
503          504         0       3  Laitinen, Miss. Kristina Sofia  female

      Age  SibSp  Parch Ticket    Fare Cabin Embarked
503  37.0      0      0   4135  9.5875   NaN        S
Laleff, Mr. Kristo
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
878          879         0       3  Laleff, Mr. Kristo  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
878      0  349217  7.8958   NaN        S
Lam, Mr. Ali
     PassengerId  Survived  Pclass          Name   Sex  Age  SibSp  Parch  \
692          693         1       3  Lam, Mr. Ali  male  NaN      0      0

    Ticket     Fare Cabin Embarked
692   1601  56.4958   NaN        S
Lam, Mr. Len
     PassengerId  Survived  Pclass          Name   Sex  Age  SibSp  Parch  \
826          827         0       3  Lam, Mr. Len  male  NaN      0      0

    Ticket     Fare Cabin Embarked
826   1601  56.4958   NaN        S
Landergren, Miss. Aurora Adelia
     PassengerId  Survived  Pclass                             Name     Sex  \
376          377         1       3  Landergren, Miss. Aurora Adelia  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
376  22.0      0      0  C 7077  7.25   NaN        S
Lang, Mr. Fang
     PassengerId  Survived  Pclass            Name   Sex   Age  SibSp  Parch  \
509          510         1       3  Lang, Mr. Fang  male  26.0      0      0

    Ticket     Fare Cabin Embarked
509   1601  56.4958   NaN        S
Laroche, Miss. Simonne Marie Anne Andree
    PassengerId  Survived  Pclass                                      Name  \
43           44         1       2  Laroche, Miss. Simonne Marie Anne Andree

       Sex  Age  SibSp  Parch         Ticket     Fare Cabin Embarked
43  female  3.0      1      2  SC/Paris 2123  41.5792   NaN        C
Laroche, Mr. Joseph Philippe Lemercier
     PassengerId  Survived  Pclass                                    Name  \
685          686         0       2  Laroche, Mr. Joseph Philippe Lemercier

      Sex   Age  SibSp  Parch         Ticket     Fare Cabin Embarked
685  male  25.0      1      2  SC/Paris 2123  41.5792   NaN        C
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
     PassengerId  Survived  Pclass  \
608          609         1       2

                                                  Name     Sex   Age  SibSp  \
608  Laroche, Mrs. Joseph (Juliette Marie Louise La...  female  22.0      1

     Parch         Ticket     Fare Cabin Embarked
608      2  SC/Paris 2123  41.5792   NaN        C
Larsson, Mr. August Viktor
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
713          714         0       3  Larsson, Mr. August Viktor  male  29.0

     SibSp  Parch Ticket    Fare Cabin Embarked
713      0      0   7545  9.4833   NaN        S
Larsson, Mr. Bengt Edvin
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
231          232         0       3  Larsson, Mr. Bengt Edvin  male  29.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
231      0      0  347067  7.775   NaN        S
LeRoy, Miss. Bertha
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
537          538         1       1  LeRoy, Miss. Bertha  female  30.0      0

     Parch    Ticket     Fare Cabin Embarked
537      0  PC 17761  106.425   NaN        C
Leader, Dr. Alice (Farnham)
     PassengerId  Survived  Pclass                         Name     Sex   Age  \
796          797         1       1  Leader, Dr. Alice (Farnham)  female  49.0

     SibSp  Parch Ticket     Fare Cabin Embarked
796      0      0  17465  25.9292   D17        S
Leeni, Mr. Fahim ("Philip Zenni")
     PassengerId  Survived  Pclass                               Name   Sex  \
553          554         1       3  Leeni, Mr. Fahim ("Philip Zenni")  male

      Age  SibSp  Parch Ticket   Fare Cabin Embarked
553  22.0      0      0   2620  7.225   NaN        C
Lefebre, Master. Henry Forbes
     PassengerId  Survived  Pclass                           Name   Sex  Age  \
176          177         0       3  Lefebre, Master. Henry Forbes  male  NaN

     SibSp  Parch Ticket     Fare Cabin Embarked
176      3      1   4133  25.4667   NaN        S
Lefebre, Miss. Ida
     PassengerId  Survived  Pclass                Name     Sex  Age  SibSp  \
409          410         0       3  Lefebre, Miss. Ida  female  NaN      3

     Parch Ticket     Fare Cabin Embarked
409      1   4133  25.4667   NaN        S
Lefebre, Miss. Jeannie
     PassengerId  Survived  Pclass                    Name     Sex  Age  \
485          486         0       3  Lefebre, Miss. Jeannie  female  NaN

     SibSp  Parch Ticket     Fare Cabin Embarked
485      3      1   4133  25.4667   NaN        S
Lefebre, Miss. Mathilde
     PassengerId  Survived  Pclass                     Name     Sex  Age  \
229          230         0       3  Lefebre, Miss. Mathilde  female  NaN

     SibSp  Parch Ticket     Fare Cabin Embarked
229      3      1   4133  25.4667   NaN        S
Lehmann, Miss. Bertha
     PassengerId  Survived  Pclass                   Name     Sex   Age  \
389          390         1       2  Lehmann, Miss. Bertha  female  17.0

     SibSp  Parch   Ticket  Fare Cabin Embarked
389      0      0  SC 1748  12.0   NaN        C
Leinonen, Mr. Antti Gustaf
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
636          637         0       3  Leinonen, Mr. Antti Gustaf  male  32.0

     SibSp  Parch             Ticket   Fare Cabin Embarked
636      0      0  STON/O 2. 3101292  7.925   NaN        S
Leitch, Miss. Jessie Wills
     PassengerId  Survived  Pclass                        Name     Sex  Age  \
596          597         1       2  Leitch, Miss. Jessie Wills  female  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
596      0      0  248727  33.0   NaN        S
Lemberopolous, Mr. Peter L
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
843          844         0       3  Lemberopolous, Mr. Peter L  male  34.5

     SibSp  Parch Ticket    Fare Cabin Embarked
843      0      0   2683  6.4375   NaN        C
Lemore, Mrs. (Amelia Milley)
     PassengerId  Survived  Pclass                          Name     Sex  \
516          517         1       2  Lemore, Mrs. (Amelia Milley)  female

      Age  SibSp  Parch      Ticket  Fare Cabin Embarked
516  34.0      0      0  C.A. 34260  10.5   F33        S
Lennon, Mr. Denis
    PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  Parch  \
46           47         0       3  Lennon, Mr. Denis  male  NaN      1      0

    Ticket  Fare Cabin Embarked
46  370371  15.5   NaN        Q
Leonard, Mr. Lionel
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
179          180         0       3  Leonard, Mr. Lionel  male  36.0      0

     Parch Ticket  Fare Cabin Embarked
179      0   LINE   0.0   NaN        S
Lester, Mr. James
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
811          812         0       3  Lester, Mr. James  male  39.0      0

     Parch     Ticket   Fare Cabin Embarked
811      0  A/4 48871  24.15   NaN        S
Lesurer, Mr. Gustave J
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
737          738         1       1  Lesurer, Mr. Gustave J  male  35.0      0

     Parch    Ticket      Fare Cabin Embarked
737      0  PC 17755  512.3292  B101        C
Levy, Mr. Rene Jacques
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
292          293         0       2  Levy, Mr. Rene Jacques  male  36.0      0

     Parch         Ticket    Fare Cabin Embarked

292      0  SC/Paris 2163  12.875     D        C
Lewy, Mr. Ervin G
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
295          296         0       1  Lewy, Mr. Ervin G  male  NaN      0

     Parch    Ticket     Fare Cabin Embarked
295      0  PC 17612  27.7208   NaN        C
Leyson, Mr. Robert William Norman
     PassengerId  Survived  Pclass                               Name   Sex  \
234          235         0       2  Leyson, Mr. Robert William Norman  male

      Age  SibSp  Parch      Ticket  Fare Cabin Embarked
234  24.0      0      0  C.A. 29566  10.5   NaN        S
Lievens, Mr. Rene Aime
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
770          771         0       3  Lievens, Mr. Rene Aime  male  24.0      0

     Parch  Ticket  Fare Cabin Embarked
770      0  345781   9.5   NaN        S
Lindahl, Miss. Agda Thorilda Viktoria
     PassengerId  Survived  Pclass                                   Name  \
246          247         0       3  Lindahl, Miss. Agda Thorilda Viktoria

        Sex   Age  SibSp  Parch  Ticket   Fare Cabin Embarked
246  female  25.0      0      0  347071  7.775   NaN        S
Lindblom, Miss. Augusta Charlotta
     PassengerId  Survived  Pclass                               Name     Sex  \
276          277         0       3  Lindblom, Miss. Augusta Charlotta  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
276  45.0      0      0  347073  7.75   NaN        S
Lindell, Mr. Edvard Bengtsson
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
605          606         0       3  Lindell, Mr. Edvard Bengtsson  male  36.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
605      1      0  349910  15.55   NaN        S
Lindqvist, Mr. Eino William
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
664          665         1       3  Lindqvist, Mr. Eino William  male  20.0

     SibSp  Parch             Ticket   Fare Cabin Embarked
664      1      0  STON/O 2. 3101285  7.925   NaN        S
Lines, Miss. Mary Conover
     PassengerId  Survived  Pclass                       Name     Sex   Age  \
853          854         1       1  Lines, Miss. Mary Conover  female  16.0

     SibSp  Parch    Ticket  Fare Cabin Embarked
853      0      1  PC 17592  39.4   D28        S
Ling, Mr. Lee
     PassengerId  Survived  Pclass           Name   Sex   Age  SibSp  Parch  \
169          170         0       3  Ling, Mr. Lee  male  28.0      0      0

    Ticket     Fare Cabin Embarked
169   1601  56.4958   NaN        S
Lobb, Mr. William Arthur
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
253          254         0       3  Lobb, Mr. William Arthur  male  30.0

     SibSp  Parch     Ticket  Fare Cabin Embarked
253      1      0  A/5. 3336  16.1   NaN        S
Lobb, Mrs. William Arthur (Cordelia K Stanlick)
     PassengerId  Survived  Pclass  \
617          618         0       3

                                                Name     Sex   Age  SibSp  \
617  Lobb, Mrs. William Arthur (Cordelia K Stanlick)  female  26.0      1

     Parch     Ticket  Fare Cabin Embarked
617      0  A/5. 3336  16.1   NaN        S
Long, Mr. Milton Clyde
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
782          783         0       1  Long, Mr. Milton Clyde  male  29.0      0

     Parch  Ticket  Fare Cabin Embarked
782      0  113501  30.0    D6        S
Longley, Miss. Gretchen Fiske
     PassengerId  Survived  Pclass                           Name     Sex  \
627          628         1       1  Longley, Miss. Gretchen Fiske  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
627  21.0      0      0  13502  77.9583    D9        S
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)
     PassengerId  Survived  Pclass  \
432          433         1       2

                                                  Name     Sex   Age  SibSp  \
432  Louch, Mrs. Charles Alexander (Alice Adelaide ...  female  42.0      1

     Parch      Ticket  Fare Cabin Embarked
432      0  SC/AH 3085  26.0   NaN        S
Lovell, Mr. John Hall ("Henry")
     PassengerId  Survived  Pclass                             Name   Sex  \
227          228         0       3  Lovell, Mr. John Hall ("Henry")  male

      Age  SibSp  Parch     Ticket  Fare Cabin Embarked
227  20.5      0      0  A/5 21173  7.25   NaN        S
Lulic, Mr. Nikola
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
821          822         1       3  Lulic, Mr. Nikola  male  27.0      0

     Parch  Ticket    Fare Cabin Embarked
821      0  315098  8.6625   NaN        S
Lundahl, Mr. Johan Svensson
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
631          632         0       3  Lundahl, Mr. Johan Svensson  male  51.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
631      0      0  347743  7.0542   NaN        S
Lurette, Miss. Elise
     PassengerId  Survived  Pclass                  Name     Sex   Age  SibSp  \
195          196         1       1  Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare Cabin Embarked
195      0  PC 17569  146.5208   B80        C
Mack, Mrs. (Mary)
     PassengerId  Survived  Pclass               Name     Sex   Age  SibSp  \
772          773         0       2  Mack, Mrs. (Mary)  female  57.0      0

     Parch       Ticket  Fare Cabin Embarked
772      0  S.O./P.P. 3  10.5   E77        S
Madigan, Miss. Margaret "Maggie"
     PassengerId  Survived  Pclass                              Name     Sex  \
198          199         1       3  Madigan, Miss. Margaret "Maggie"  female

     Age  SibSp  Parch  Ticket  Fare Cabin Embarked
198  NaN      0      0  370370  7.75   NaN        Q
Madill, Miss. Georgette Alexandra
     PassengerId  Survived  Pclass                               Name     Sex  \
689          690         1       1  Madill, Miss. Georgette Alexandra  female

      Age  SibSp  Parch Ticket      Fare Cabin Embarked
689  15.0      0      1  24160  211.3375    B5        S
Madsen, Mr. Fridtjof Arne
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
127          128         1       3  Madsen, Mr. Fridtjof Arne  male  24.0

     SibSp  Parch   Ticket    Fare Cabin Embarked
127      0      0  C 17369  7.1417   NaN        S
Maenpaa, Mr. Matti Alexanteri
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
243          244         0       3  Maenpaa, Mr. Matti Alexanteri  male  22.0

     SibSp  Parch             Ticket   Fare Cabin Embarked
243      0      0  STON/O 2. 3101275  7.125   NaN        S
Maioni, Miss. Roberta
     PassengerId  Survived  Pclass                   Name     Sex   Age  \
504          505         1       1  Maioni, Miss. Roberta  female  16.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
504      0      0  110152  86.5   B79        S
Maisner, Mr. Simon
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
464          465         0       3  Maisner, Mr. Simon  male  NaN      0

     Parch    Ticket  Fare Cabin Embarked
464      0  A/S 2816  8.05   NaN        S
Mallet, Master. Andre
     PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
827          828         1       2  Mallet, Master. Andre  male  1.0      0

     Parch           Ticket     Fare Cabin Embarked
827      2  S.C./PARIS 2079  37.0042   NaN        C
Mallet, Mr. Albert
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
817          818         0       2  Mallet, Mr. Albert  male  31.0      1

     Parch           Ticket     Fare Cabin Embarked
817      1  S.C./PARIS 2079  37.0042   NaN        C
Mamee, Mr. Hanna
    PassengerId  Survived  Pclass              Name   Sex  Age  SibSp  Parch  \
36           37         1       3  Mamee, Mr. Hanna  male  NaN      0      0

   Ticket    Fare Cabin Embarked
36   2677  7.2292   NaN        C
Mangan, Miss. Mary
     PassengerId  Survived  Pclass                Name     Sex   Age  SibSp  \
767          768         0       3  Mangan, Miss. Mary  female  30.5      0

     Parch  Ticket  Fare Cabin Embarked
767      0  364850  7.75   NaN        Q
Mannion, Miss. Margareth
     PassengerId  Survived  Pclass                      Name     Sex  Age  \
727          728         1       3  Mannion, Miss. Margareth  female  NaN

     SibSp  Parch Ticket    Fare Cabin Embarked
727      0      0  36866  7.7375   NaN        Q
Marechal, Mr. Pierre
     PassengerId  Survived  Pclass                  Name   Sex  Age  SibSp  \
839          840         1       1  Marechal, Mr. Pierre  male  NaN      0

     Parch Ticket  Fare Cabin Embarked
839      0  11774  29.7   C47        C
Markoff, Mr. Marin
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
847          848         0       3  Markoff, Mr. Marin  male  35.0      0

     Parch  Ticket    Fare Cabin Embarked
847      0  349213  7.8958   NaN        C
Markun, Mr. Johann
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
881          882         0       3  Markun, Mr. Johann  male  33.0      0

     Parch  Ticket    Fare Cabin Embarked

881      0  349257  7.8958   NaN        S
Marvin, Mr. Daniel Warner
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
748          749         0       1  Marvin, Mr. Daniel Warner  male  19.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
748      1      0  113773  53.1   D30        S
Masselmani, Mrs. Fatima
    PassengerId  Survived  Pclass                     Name     Sex  Age  \
19           20         1       3  Masselmani, Mrs. Fatima  female  NaN

    SibSp  Parch Ticket   Fare Cabin Embarked
19      0      0   2649  7.225   NaN        C
Matthews, Mr. William John
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
418          419         0       2  Matthews, Mr. William John  male  30.0

     SibSp  Parch Ticket  Fare Cabin Embarked
418      0      0  28228  13.0   NaN        S
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
     PassengerId  Survived  Pclass  \
710          711         1       1

                                                 Name     Sex   Age  SibSp  \
710  Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")  female  24.0      0

     Parch    Ticket     Fare Cabin Embarked
710      0  PC 17482  49.5042   C90        C
McCarthy, Mr. Timothy J
   PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  \
6            7         0       1  McCarthy, Mr. Timothy J  male  54.0      0

   Parch Ticket     Fare Cabin Embarked
6      0  17463  51.8625   E46        S
McCormack, Mr. Thomas Joseph
     PassengerId  Survived  Pclass                          Name   Sex  Age  \
828          829         1       3  McCormack, Mr. Thomas Joseph  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
828      0      0  367228  7.75   NaN        Q
McCoy, Miss. Agnes
     PassengerId  Survived  Pclass                Name     Sex  Age  SibSp  \
330          331         1       3  McCoy, Miss. Agnes  female  NaN      2

     Parch  Ticket   Fare Cabin Embarked
330      0  367226  23.25   NaN        Q
McCoy, Mr. Bernard
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
301          302         1       3  McCoy, Mr. Bernard  male  NaN      2

     Parch  Ticket   Fare Cabin Embarked
301      0  367226  23.25   NaN        Q
McDermott, Miss. Brigdet Delia
    PassengerId  Survived  Pclass                            Name     Sex  \
82           83         1       3  McDermott, Miss. Brigdet Delia  female

    Age  SibSp  Parch  Ticket    Fare Cabin Embarked
82  NaN      0      0  330932  7.7875   NaN        Q
McEvoy, Mr. Michael
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
718          719         0       3  McEvoy, Mr. Michael  male  NaN      0

     Parch Ticket  Fare Cabin Embarked
718      0  36568  15.5   NaN        Q
McGough, Mr. James Robert
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
512          513         1       1  McGough, Mr. James Robert  male  36.0

     SibSp  Parch    Ticket     Fare Cabin Embarked
512      0      0  PC 17473  26.2875   E25        S
McGovern, Miss. Mary
     PassengerId  Survived  Pclass                  Name     Sex  Age  SibSp  \
358          359         1       3  McGovern, Miss. Mary  female  NaN      0

     Parch  Ticket    Fare Cabin Embarked
358      0  330931  7.8792   NaN        Q
McGowan, Miss. Anna "Annie"
    PassengerId  Survived  Pclass                         Name     Sex   Age  \
22           23         1       3  McGowan, Miss. Anna "Annie"  female  15.0

    SibSp  Parch  Ticket    Fare Cabin Embarked
22      0      0  330923  8.0292   NaN        Q
McKane, Mr. Peter David
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
397          398         0       2  McKane, Mr. Peter David  male  46.0

     SibSp  Parch Ticket  Fare Cabin Embarked
397      0      0  28403  26.0   NaN        S
McMahon, Mr. Martin
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
126          127         0       3  McMahon, Mr. Martin  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
126      0  370372  7.75   NaN        Q
McNamee, Mr. Neal
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
743          744         0       3  McNamee, Mr. Neal  male  24.0      1

     Parch  Ticket  Fare Cabin Embarked
743      0  376566  16.1   NaN        S
Meanwell, Miss. (Marion Ogden)
     PassengerId  Survived  Pclass                            Name     Sex  \
564          565         0       3  Meanwell, Miss. (Marion Ogden)  female

     Age  SibSp  Parch             Ticket  Fare Cabin Embarked
564  NaN      0      0  SOTON/O.Q. 392087  8.05   NaN        S
Meek, Mrs. Thomas (Annie Louise Rowley)
     PassengerId  Survived  Pclass                                     Name  \
415          416         0       3  Meek, Mrs. Thomas (Annie Louise Rowley)

        Sex  Age  SibSp  Parch  Ticket  Fare Cabin Embarked
415  female  NaN      0      0  343095  8.05   NaN        S
Mellinger, Miss. Madeleine Violet
     PassengerId  Survived  Pclass                               Name     Sex  \
446          447         1       2  Mellinger, Miss. Madeleine Violet  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
446  13.0      0      1  250644  19.5   NaN        S
Mellinger, Mrs. (Elizabeth Anne Maidment)
     PassengerId  Survived  Pclass                                       Name  \
272          273         1       2  Mellinger, Mrs. (Elizabeth Anne Maidment)

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
272  female  41.0      0      1  250644  19.5   NaN        S
Mellors, Mr. William John
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
226          227         1       2  Mellors, Mr. William John  male  19.0

     SibSp  Parch     Ticket  Fare Cabin Embarked
226      0      0  SW/PP 751  10.5   NaN        S
Meo, Mr. Alfonzo
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
152          153         0       3  Meo, Mr. Alfonzo  male  55.5      0

     Parch      Ticket  Fare Cabin Embarked
152      0  A.5. 11206  8.05   NaN        S
Mernagh, Mr. Robert
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
196          197         0       3  Mernagh, Mr. Robert  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
196      0  368703  7.75   NaN        Q
Meyer, Mr. August
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
808          809         0       2  Meyer, Mr. August  male  39.0      0

     Parch  Ticket  Fare Cabin Embarked
808      0  248723  13.0   NaN        S
Meyer, Mr. Edgar Joseph
    PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  \
34           35         0       1  Meyer, Mr. Edgar Joseph  male  28.0      1

    Parch    Ticket     Fare Cabin Embarked
34      0  PC 17604  82.1708   NaN        C
Meyer, Mrs. Edgar Joseph (Leila Saks)
     PassengerId  Survived  Pclass                                   Name  \
375          376         1       1  Meyer, Mrs. Edgar Joseph (Leila Saks)

        Sex  Age  SibSp  Parch    Ticket     Fare Cabin Embarked
375  female  NaN      1      0  PC 17604  82.1708   NaN        C
Millet, Mr. Francis Davis
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
456          457         0       1  Millet, Mr. Francis Davis  male  65.0

     SibSp  Parch Ticket   Fare Cabin Embarked
456      0      0  13509  26.55   E38        S
Milling, Mr. Jacob Christian
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
463          464         0       2  Milling, Mr. Jacob Christian  male  48.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
463      0      0  234360  13.0   NaN        S
Minahan, Dr. William Edward
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
245          246         0       1  Minahan, Dr. William Edward  male  44.0

     SibSp  Parch Ticket  Fare Cabin Embarked
245      2      0  19928  90.0   C78        Q
Minahan, Miss. Daisy E
     PassengerId  Survived  Pclass                    Name     Sex   Age  \
412          413         1       1  Minahan, Miss. Daisy E  female  33.0

     SibSp  Parch Ticket  Fare Cabin Embarked
412      1      0  19928  90.0   C78        Q
Mineff, Mr. Ivan
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
294          295         0       3  Mineff, Mr. Ivan  male  24.0      0

     Parch  Ticket    Fare Cabin Embarked
294      0  349233  7.8958   NaN        S
Mionoff, Mr. Stoytcho
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
105          106         0       3  Mionoff, Mr. Stoytcho  male  28.0      0

     Parch  Ticket    Fare Cabin Embarked
105      0  349207  7.8958   NaN        S
Mitchell, Mr. Henry Michael
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
672          673         0       2  Mitchell, Mr. Henry Michael  male  70.0

     SibSp  Parch      Ticket  Fare Cabin Embarked
672      0      0  C.A. 24580  10.5   NaN        S
Mitkoff, Mr. Mito
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
650          651         0       3  Mitkoff, Mr. Mito  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked

650      0  349221  7.8958   NaN        S
Mockler, Miss. Helen Mary "Ellie"
     PassengerId  Survived  Pclass                               Name     Sex  \
359          360         1       3  Mockler, Miss. Helen Mary "Ellie"  female

     Age  SibSp  Parch  Ticket    Fare Cabin Embarked
359  NaN      0      0  330980  7.8792   NaN        Q
Moen, Mr. Sigurd Hansen
    PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  \
75           76         0       3  Moen, Mr. Sigurd Hansen  male  25.0      0

    Parch  Ticket  Fare  Cabin Embarked
75      0  348123  7.65  F G73        S
Molson, Mr. Harry Markland
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
492          493         0       1  Molson, Mr. Harry Markland  male  55.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
492      0      0  113787  30.5   C30        S
Montvila, Rev. Juozas
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
886          887         0       2  Montvila, Rev. Juozas  male  27.0      0

     Parch  Ticket  Fare Cabin Embarked
886      0  211536  13.0   NaN        S
Moor, Master. Meier
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
751          752         1       3  Moor, Master. Meier  male  6.0      0

     Parch  Ticket    Fare Cabin Embarked
751      1  392096  12.475  E121        S
Moor, Mrs. (Beila)
     PassengerId  Survived  Pclass                Name     Sex   Age  SibSp  \
823          824         1       3  Moor, Mrs. (Beila)  female  27.0      0

     Parch  Ticket    Fare Cabin Embarked
823      1  392096  12.475  E121        S
Moore, Mr. Leonard Charles
     PassengerId  Survived  Pclass                        Name   Sex  Age  \
121          122         0       3  Moore, Mr. Leonard Charles  male  NaN

     SibSp  Parch     Ticket  Fare Cabin Embarked
121      0      0  A4. 54510  8.05   NaN        S
Moran, Miss. Bertha
     PassengerId  Survived  Pclass                 Name     Sex  Age  SibSp  \
109          110         1       3  Moran, Miss. Bertha  female  NaN      1

     Parch  Ticket   Fare Cabin Embarked
109      0  371110  24.15   NaN        Q
Moran, Mr. Daniel J
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
768          769         0       3  Moran, Mr. Daniel J  male  NaN      1

     Parch  Ticket   Fare Cabin Embarked
768      0  371110  24.15   NaN        Q
Moran, Mr. James
   PassengerId  Survived  Pclass              Name   Sex  Age  SibSp  Parch  \
5            6         0       3  Moran, Mr. James  male  NaN      0      0

   Ticket    Fare Cabin Embarked
5  330877  8.4583   NaN        Q
Moraweck, Dr. Ernest
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
317          318         0       2  Moraweck, Dr. Ernest  male  54.0      0

     Parch Ticket  Fare Cabin Embarked
317      0  29011  14.0   NaN        S
Morley, Mr. Henry Samuel ("Mr Henry Marshall")
     PassengerId  Survived  Pclass  \
705          706         0       2

                                               Name   Sex   Age  SibSp  Parch  \
705  Morley, Mr. Henry Samuel ("Mr Henry Marshall")  male  39.0      0      0

     Ticket  Fare Cabin Embarked
705  250655  26.0   NaN        S
Morley, Mr. William
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
461          462         0       3  Morley, Mr. William  male  34.0      0

     Parch  Ticket  Fare Cabin Embarked
461      0  364506  8.05   NaN        S
Morrow, Mr. Thomas Rowan
     PassengerId  Survived  Pclass                      Name   Sex  Age  \
560          561         0       3  Morrow, Mr. Thomas Rowan  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
560      0      0  372622  7.75   NaN        Q
Moss, Mr. Albert Johan
     PassengerId  Survived  Pclass                    Name   Sex  Age  SibSp  \
107          108         1       3  Moss, Mr. Albert Johan  male  NaN      0

     Parch  Ticket   Fare Cabin Embarked
107      0  312991  7.775   NaN        S
Moubarek, Master. Gerios
    PassengerId  Survived  Pclass                      Name   Sex  Age  SibSp  \
65           66         1       3  Moubarek, Master. Gerios  male  NaN      1

    Parch Ticket     Fare Cabin Embarked
65      1   2661  15.2458   NaN        C
Moubarek, Master. Halim Gonios ("William George")
     PassengerId  Survived  Pclass  \
709          710         1       3

                                                  Name   Sex  Age  SibSp  \
709  Moubarek, Master. Halim Gonios ("William George")  male  NaN      1

     Parch Ticket     Fare Cabin Embarked
709      1   2661  15.2458   NaN        C
Moussa, Mrs. (Mantoura Boulos)
     PassengerId  Survived  Pclass                            Name     Sex  \
367          368         1       3  Moussa, Mrs. (Mantoura Boulos)  female

     Age  SibSp  Parch Ticket    Fare Cabin Embarked
367  NaN      0      0   2626  7.2292   NaN        C
Moutal, Mr. Rahamin Haim
    PassengerId  Survived  Pclass                      Name   Sex  Age  SibSp  \
77           78         0       3  Moutal, Mr. Rahamin Haim  male  NaN      0

    Parch  Ticket  Fare Cabin Embarked
77      0  374746  8.05   NaN        S
Mudd, Mr. Thomas Charles
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
841          842         0       2  Mudd, Mr. Thomas Charles  male  16.0

     SibSp  Parch       Ticket  Fare Cabin Embarked
841      0      0  S.O./P.P. 3  10.5   NaN        S
Mullens, Miss. Katherine "Katie"
     PassengerId  Survived  Pclass                              Name     Sex  \
697          698         1       3  Mullens, Miss. Katherine "Katie"  female

     Age  SibSp  Parch Ticket    Fare Cabin Embarked
697  NaN      0      0  35852  7.7333   NaN        Q
Murdlin, Mr. Joseph
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
589          590         0       3  Murdlin, Mr. Joseph  male  NaN      0

     Parch      Ticket  Fare Cabin Embarked
589      0  A./5. 3235  8.05   NaN        S
Murphy, Miss. Katherine "Kate"
     PassengerId  Survived  Pclass                            Name     Sex  \
241          242         1       3  Murphy, Miss. Katherine "Kate"  female

     Age  SibSp  Parch  Ticket  Fare Cabin Embarked
241  NaN      1      0  367230  15.5   NaN        Q
Murphy, Miss. Margaret Jane
     PassengerId  Survived  Pclass                         Name     Sex  Age  \
612          613         1       3  Murphy, Miss. Margaret Jane  female  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
612      1      0  367230  15.5   NaN        Q
Myhrman, Mr. Pehr Fabian Oliver Malkolm
     PassengerId  Survived  Pclass                                     Name  \
775          776         0       3  Myhrman, Mr. Pehr Fabian Oliver Malkolm

      Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
775  male  18.0      0      0  347078  7.75   NaN        S
Naidenoff, Mr. Penko
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
287          288         0       3  Naidenoff, Mr. Penko  male  22.0      0

     Parch  Ticket    Fare Cabin Embarked
287      0  349206  7.8958   NaN        S
Najib, Miss. Adele Kiamie "Jane"
     PassengerId  Survived  Pclass                              Name     Sex  \
875          876         1       3  Najib, Miss. Adele Kiamie "Jane"  female

      Age  SibSp  Parch Ticket   Fare Cabin Embarked
875  15.0      0      0   2667  7.225   NaN        C
Nakid, Miss. Maria ("Mary")
     PassengerId  Survived  Pclass                         Name     Sex  Age  \
381          382         1       3  Nakid, Miss. Maria ("Mary")  female  1.0

     SibSp  Parch Ticket     Fare Cabin Embarked
381      0      2   2653  15.7417   NaN        C
Nakid, Mr. Sahid
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
622          623         1       3  Nakid, Mr. Sahid  male  20.0      1

     Parch Ticket     Fare Cabin Embarked
622      1   2653  15.7417   NaN        C
Nankoff, Mr. Minko
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
739          740         0       3  Nankoff, Mr. Minko  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
739      0  349218  7.8958   NaN        S
Nasser, Mr. Nicholas
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
122          123         0       2  Nasser, Mr. Nicholas  male  32.5      1

     Parch  Ticket     Fare Cabin Embarked
122      0  237736  30.0708   NaN        C
Nasser, Mrs. Nicholas (Adele Achem)
   PassengerId  Survived  Pclass                                 Name     Sex  \
9           10         1       2  Nasser, Mrs. Nicholas (Adele Achem)  female

    Age  SibSp  Parch  Ticket     Fare Cabin Embarked
9  14.0      1      0  237736  30.0708   NaN        C
Natsch, Mr. Charles H
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
273          274         0       1  Natsch, Mr. Charles H  male  37.0      0

     Parch    Ticket  Fare Cabin Embarked
273      1  PC 17596  29.7  C118        C
Navratil, Master. Edmond Roger
     PassengerId  Survived  Pclass                            Name   Sex  Age  \
340          341         1       2  Navratil, Master. Edmond Roger  male  2.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
340      1      1  230080  26.0    F2        S
Navratil, Master. Michel M
     PassengerId  Survived  Pclass                        Name   Sex  Age  \
193          194         1       2  Navratil, Master. Michel M  male  3.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
193      1      1  230080  26.0    F2        S
Navratil, Mr. Michel ("Louis M Hoffman")
     PassengerId  Survived  Pclass                                      Name  \
148          149         0       2  Navratil, Mr. Michel ("Louis M Hoffman")

      Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
148  male  36.5      0      2  230080  26.0    F2        S
Nenkoff, Mr. Christo

     PassengerId  Survived  Pclass                  Name   Sex  Age  SibSp  \
223          224         0       3  Nenkoff, Mr. Christo  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
223      0  349234  7.8958   NaN        S
Newell, Miss. Madeleine
     PassengerId  Survived  Pclass                     Name     Sex   Age  \
215          216         1       1  Newell, Miss. Madeleine  female  31.0

     SibSp  Parch Ticket     Fare Cabin Embarked
215      1      0  35273  113.275   D36        C
Newell, Miss. Marjorie
     PassengerId  Survived  Pclass                    Name     Sex   Age  \
393          394         1       1  Newell, Miss. Marjorie  female  23.0

     SibSp  Parch Ticket     Fare Cabin Embarked
393      1      0  35273  113.275   D36        C
Newell, Mr. Arthur Webster
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
659          660         0       1  Newell, Mr. Arthur Webster  male  58.0

     SibSp  Parch Ticket     Fare Cabin Embarked
659      0      2  35273  113.275   D48        C
Newsom, Miss. Helen Monypeny
     PassengerId  Survived  Pclass                          Name     Sex  \
136          137         1       1  Newsom, Miss. Helen Monypeny  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
136  19.0      0      2  11752  26.2833   D47        S
Nicholls, Mr. Joseph Charles
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
145          146         0       2  Nicholls, Mr. Joseph Charles  male  19.0

     SibSp  Parch      Ticket   Fare Cabin Embarked
145      1      1  C.A. 33112  36.75   NaN        S
Nicholson, Mr. Arthur Ernest
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
545          546         0       1  Nicholson, Mr. Arthur Ernest  male  64.0

     SibSp  Parch Ticket  Fare Cabin Embarked
545      0      0    693  26.0   NaN        S
Nicola-Yarred, Master. Elias
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
125          126         1       3  Nicola-Yarred, Master. Elias  male  12.0

     SibSp  Parch Ticket     Fare Cabin Embarked
125      1      0   2651  11.2417   NaN        C
Nicola-Yarred, Miss. Jamila
    PassengerId  Survived  Pclass                         Name     Sex   Age  \
39           40         1       3  Nicola-Yarred, Miss. Jamila  female  14.0

    SibSp  Parch Ticket     Fare Cabin Embarked
39      1      0   2651  11.2417   NaN        C
Nilsson, Miss. Helmina Josefina
     PassengerId  Survived  Pclass                             Name     Sex  \
315          316         1       3  Nilsson, Miss. Helmina Josefina  female

      Age  SibSp  Parch  Ticket    Fare Cabin Embarked
315  26.0      0      0  347470  7.8542   NaN        S
Nirva, Mr. Iisakki Antino Aijo
     PassengerId  Survived  Pclass                            Name   Sex  \
761          762         0       3  Nirva, Mr. Iisakki Antino Aijo  male

      Age  SibSp  Parch            Ticket   Fare Cabin Embarked
761  41.0      0      0  SOTON/O2 3101272  7.125   NaN        S
Niskanen, Mr. Juha
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
400          401         1       3  Niskanen, Mr. Juha  male  39.0      0

     Parch             Ticket   Fare Cabin Embarked
400      0  STON/O 2. 3101289  7.925   NaN        S
Norman, Mr. Robert Douglas
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
562          563         0       2  Norman, Mr. Robert Douglas  male  28.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
562      0      0  218629  13.5   NaN        S
Nosworthy, Mr. Richard Cater
    PassengerId  Survived  Pclass                          Name   Sex   Age  \
51           52         0       3  Nosworthy, Mr. Richard Cater  male  21.0

    SibSp  Parch      Ticket  Fare Cabin Embarked
51      0      0  A/4. 39886   7.8   NaN        S
Novel, Mr. Mansouer
    PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
57           58         0       3  Novel, Mr. Mansouer  male  28.5      0

    Parch Ticket    Fare Cabin Embarked
57      0   2697  7.2292   NaN        C
Nye, Mrs. (Elizabeth Ramell)
    PassengerId  Survived  Pclass                          Name     Sex   Age  \
66           67         1       2  Nye, Mrs. (Elizabeth Ramell)  female  29.0

    SibSp  Parch      Ticket  Fare Cabin Embarked
66      0      0  C.A. 29395  10.5   F33        S
Nysten, Miss. Anna Sofia
     PassengerId  Survived  Pclass                      Name     Sex   Age  \
141          142         1       3  Nysten, Miss. Anna Sofia  female  22.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
141      0      0  347081  7.75   NaN        S
Nysveen, Mr. Johan Hansen
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
326          327         0       3  Nysveen, Mr. Johan Hansen  male  61.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
326      0      0  345364  6.2375   NaN        S
O'Brien, Mr. Thomas
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
364          365         0       3  O'Brien, Mr. Thomas  male  NaN      1

     Parch  Ticket  Fare Cabin Embarked
364      0  370365  15.5   NaN        Q
O'Brien, Mr. Timothy
     PassengerId  Survived  Pclass                  Name   Sex  Age  SibSp  \
552          553         0       3  O'Brien, Mr. Timothy  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
552      0  330979  7.8292   NaN        Q
O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
     PassengerId  Survived  Pclass  \
186          187         1       3

                                                Name     Sex  Age  SibSp  \
186  O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)  female  NaN      1

     Parch  Ticket  Fare Cabin Embarked
186      0  370365  15.5   NaN        Q
O'Connell, Mr. Patrick D
     PassengerId  Survived  Pclass                      Name   Sex  Age  \
629          630         0       3  O'Connell, Mr. Patrick D  male  NaN

     SibSp  Parch  Ticket    Fare Cabin Embarked
629      0      0  334912  7.7333   NaN        Q
O'Connor, Mr. Maurice
     PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
459          460         0       3  O'Connor, Mr. Maurice  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
459      0  371060  7.75   NaN        Q
O'Driscoll, Miss. Bridget
    PassengerId  Survived  Pclass                       Name     Sex  Age  \
47           48         1       3  O'Driscoll, Miss. Bridget  female  NaN

    SibSp  Parch Ticket  Fare Cabin Embarked
47      0      0  14311  7.75   NaN        Q
O'Dwyer, Miss. Ellen "Nellie"
    PassengerId  Survived  Pclass                           Name     Sex  Age  \
28           29         1       3  O'Dwyer, Miss. Ellen "Nellie"  female  NaN

    SibSp  Parch  Ticket    Fare Cabin Embarked
28      0      0  330959  7.8792   NaN        Q
O'Leary, Miss. Hanora "Norah"
     PassengerId  Survived  Pclass                           Name     Sex  \
653          654         1       3  O'Leary, Miss. Hanora "Norah"  female

     Age  SibSp  Parch  Ticket    Fare Cabin Embarked
653  NaN      0      0  330919  7.8292   NaN        Q
O'Sullivan, Miss. Bridget Mary
     PassengerId  Survived  Pclass                            Name     Sex  \
502          503         0       3  O'Sullivan, Miss. Bridget Mary  female

     Age  SibSp  Parch  Ticket    Fare Cabin Embarked
502  NaN      0      0  330909  7.6292   NaN        Q
Odahl, Mr. Nils Martin
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
350          351         0       3  Odahl, Mr. Nils Martin  male  23.0      0

     Parch Ticket   Fare Cabin Embarked
350      0   7267  9.225   NaN        S
Ohman, Miss. Velin
     PassengerId  Survived  Pclass                Name     Sex   Age  SibSp  \
554          555         1       3  Ohman, Miss. Velin  female  22.0      0

     Parch  Ticket   Fare Cabin Embarked
554      0  347085  7.775   NaN        S
Olsen, Mr. Henry Margido
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
508          509         0       3  Olsen, Mr. Henry Margido  male  28.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
508      0      0  C 4001  22.525   NaN        S
Olsen, Mr. Karl Siegwart Andreas
     PassengerId  Survived  Pclass                              Name   Sex  \
197          198         0       3  Olsen, Mr. Karl Siegwart Andreas  male

      Age  SibSp  Parch Ticket    Fare Cabin Embarked
197  42.0      0      1   4579  8.4042   NaN        S
Olsen, Mr. Ole Martin
     PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
154          155         0       3  Olsen, Mr. Ole Martin  male  NaN      0

     Parch     Ticket    Fare Cabin Embarked
154      0  Fa 265302  7.3125   NaN        S
Olsson, Miss. Elina
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
396          397         0       3  Olsson, Miss. Elina  female  31.0      0

     Parch  Ticket    Fare Cabin Embarked
396      0  350407  7.8542   NaN        S
Olsson, Mr. Nils Johan Goransson
     PassengerId  Survived  Pclass                              Name   Sex  \
281          282         0       3  Olsson, Mr. Nils Johan Goransson  male

      Age  SibSp  Parch  Ticket    Fare Cabin Embarked
281  28.0      0      0  347464  7.8542   NaN        S
Olsvigen, Mr. Thor Anderson
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
682          683         0       3  Olsvigen, Mr. Thor Anderson  male  20.0

     SibSp  Parch Ticket   Fare Cabin Embarked
682      0      0   6563  9.225   NaN        S
Oreskovic, Miss. Marija
     PassengerId  Survived  Pclass                     Name     Sex   Age  \
404          405         0       3  Oreskovic, Miss. Marija  female  20.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
404      0      0  315096  8.6625   NaN        S
Oreskovic, Mr. Luka

     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
725          726         0       3  Oreskovic, Mr. Luka  male  20.0      0

     Parch  Ticket    Fare Cabin Embarked
725      0  315094  8.6625   NaN        S
Osen, Mr. Olaf Elon
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
138          139         0       3  Osen, Mr. Olaf Elon  male  16.0      0

     Parch Ticket    Fare Cabin Embarked
138      0   7534  9.2167   NaN        S
Osman, Mrs. Mara
     PassengerId  Survived  Pclass              Name     Sex   Age  SibSp  \
797          798         1       3  Osman, Mrs. Mara  female  31.0      0

     Parch  Ticket    Fare Cabin Embarked
797      0  349244  8.6833   NaN        S
Ostby, Mr. Engelhart Cornelius
    PassengerId  Survived  Pclass                            Name   Sex   Age  \
54           55         0       1  Ostby, Mr. Engelhart Cornelius  male  65.0

    SibSp  Parch  Ticket     Fare Cabin Embarked
54      0      1  113509  61.9792   B30        C
Otter, Mr. Richard
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
795          796         0       2  Otter, Mr. Richard  male  39.0      0

     Parch Ticket  Fare Cabin Embarked
795      0  28213  13.0   NaN        S
Padro y Manent, Mr. Julian
     PassengerId  Survived  Pclass                        Name   Sex  Age  \
547          548         1       2  Padro y Manent, Mr. Julian  male  NaN

     SibSp  Parch         Ticket     Fare Cabin Embarked
547      0      0  SC/PARIS 2146  13.8625   NaN        C
Pain, Dr. Alfred
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
398          399         0       2  Pain, Dr. Alfred  male  23.0      0

     Parch  Ticket  Fare Cabin Embarked
398      0  244278  10.5   NaN        S
Palsson, Master. Gosta Leonard
   PassengerId  Survived  Pclass                            Name   Sex  Age  \
7            8         0       3  Palsson, Master. Gosta Leonard  male  2.0

   SibSp  Parch  Ticket    Fare Cabin Embarked
7      3      1  349909  21.075   NaN        S
Palsson, Miss. Stina Viola
     PassengerId  Survived  Pclass                        Name     Sex  Age  \
374          375         0       3  Palsson, Miss. Stina Viola  female  3.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
374      3      1  349909  21.075   NaN        S
Palsson, Miss. Torborg Danira
    PassengerId  Survived  Pclass                           Name     Sex  Age  \
24           25         0       3  Palsson, Miss. Torborg Danira  female  8.0

    SibSp  Parch  Ticket    Fare Cabin Embarked
24      3      1  349909  21.075   NaN        S
Palsson, Mrs. Nils (Alma Cornelia Berglund)
     PassengerId  Survived  Pclass  \
567          568         0       3

                                            Name     Sex   Age  SibSp  Parch  \
567  Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0      4

     Ticket    Fare Cabin Embarked
567  349909  21.075   NaN        S
Panula, Master. Eino Viljami
     PassengerId  Survived  Pclass                          Name   Sex  Age  \
164          165         0       3  Panula, Master. Eino Viljami  male  1.0

     SibSp  Parch   Ticket     Fare Cabin Embarked
164      4      1  3101295  39.6875   NaN        S
Panula, Master. Juha Niilo
    PassengerId  Survived  Pclass                        Name   Sex  Age  \
50           51         0       3  Panula, Master. Juha Niilo  male  7.0

    SibSp  Parch   Ticket     Fare Cabin Embarked
50      4      1  3101295  39.6875   NaN        S
Panula, Master. Urho Abraham
     PassengerId  Survived  Pclass                          Name   Sex  Age  \
824          825         0       3  Panula, Master. Urho Abraham  male  2.0

     SibSp  Parch   Ticket     Fare Cabin Embarked
824      4      1  3101295  39.6875   NaN        S
Panula, Mr. Ernesti Arvid
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
266          267         0       3  Panula, Mr. Ernesti Arvid  male  16.0

     SibSp  Parch   Ticket     Fare Cabin Embarked
266      4      1  3101295  39.6875   NaN        S
Panula, Mr. Jaako Arnold
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
686          687         0       3  Panula, Mr. Jaako Arnold  male  14.0

     SibSp  Parch   Ticket     Fare Cabin Embarked
686      4      1  3101295  39.6875   NaN        S
Panula, Mrs. Juha (Maria Emilia Ojala)
     PassengerId  Survived  Pclass                                    Name  \
638          639         0       3  Panula, Mrs. Juha (Maria Emilia Ojala)

        Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
638  female  41.0      0      5  3101295  39.6875   NaN        S
Parkes, Mr. Francis "Frank"
     PassengerId  Survived  Pclass                         Name   Sex  Age  \
277          278         0       2  Parkes, Mr. Francis "Frank"  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
277      0      0  239853   0.0   NaN        S
Parr, Mr. William Henry Marsh
     PassengerId  Survived  Pclass                           Name   Sex  Age  \
633          634         0       1  Parr, Mr. William Henry Marsh  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
633      0      0  112052   0.0   NaN        S
Parrish, Mrs. (Lutie Davis)
     PassengerId  Survived  Pclass                         Name     Sex   Age  \
259          260         1       2  Parrish, Mrs. (Lutie Davis)  female  50.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
259      0      1  230433  26.0   NaN        S
Partner, Mr. Austen
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
331          332         0       1  Partner, Mr. Austen  male  45.5      0

     Parch  Ticket  Fare Cabin Embarked
331      0  113043  28.5  C124        S
Pasic, Mr. Jakob
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
836          837         0       3  Pasic, Mr. Jakob  male  21.0      0

     Parch  Ticket    Fare Cabin Embarked
836      0  315097  8.6625   NaN        S
Patchett, Mr. George
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
575          576         0       3  Patchett, Mr. George  male  19.0      0

     Parch  Ticket  Fare Cabin Embarked
575      0  358585  14.5   NaN        S
Paulner, Mr. Uscher
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
584          585         0       3  Paulner, Mr. Uscher  male  NaN      0

     Parch Ticket    Fare Cabin Embarked
584      0   3411  8.7125   NaN        C
Pavlovic, Mr. Stefo
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
519          520         0       3  Pavlovic, Mr. Stefo  male  32.0      0

     Parch  Ticket    Fare Cabin Embarked
519      0  349242  7.8958   NaN        S
Pears, Mr. Thomas Clinton
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
336          337         0       1  Pears, Mr. Thomas Clinton  male  29.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
336      1      0  113776  66.6    C2        S
Pears, Mrs. Thomas (Edith Wearne)
     PassengerId  Survived  Pclass                               Name     Sex  \
151          152         1       1  Pears, Mrs. Thomas (Edith Wearne)  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
151  22.0      1      0  113776  66.6    C2        S
Peduzzi, Mr. Joseph
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
454          455         0       3  Peduzzi, Mr. Joseph  male  NaN      0

     Parch    Ticket  Fare Cabin Embarked
454      0  A/5 2817  8.05   NaN        S
Pekoniemi, Mr. Edvard
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
115          116         0       3  Pekoniemi, Mr. Edvard  male  21.0      0

     Parch             Ticket   Fare Cabin Embarked
115      0  STON/O 2. 3101294  7.925   NaN        S
Penasco y Castellana, Mr. Victor de Satode
     PassengerId  Survived  Pclass  \
505          506         0       1

                                           Name   Sex   Age  SibSp  Parch  \
505  Penasco y Castellana, Mr. Victor de Satode  male  18.0      1      0

       Ticket   Fare Cabin Embarked
505  PC 17758  108.9   C65        C
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
     PassengerId  Survived  Pclass  \
307          308         1       1

                                                  Name     Sex   Age  SibSp  \
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.0      1

     Parch    Ticket   Fare Cabin Embarked
307      0  PC 17758  108.9   C65        C
Pengelly, Mr. Frederick William
     PassengerId  Survived  Pclass                             Name   Sex  \
238          239         0       2  Pengelly, Mr. Frederick William  male

      Age  SibSp  Parch Ticket  Fare Cabin Embarked
238  19.0      0      0  28665  10.5   NaN        S
Perkin, Mr. John Henry
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
212          213         0       3  Perkin, Mr. John Henry  male  22.0      0

     Parch     Ticket  Fare Cabin Embarked
212      0  A/5 21174  7.25   NaN        S
Pernot, Mr. Rene
     PassengerId  Survived  Pclass              Name   Sex  Age  SibSp  Parch  \
181          182         0       2  Pernot, Mr. Rene  male  NaN      0      0

            Ticket   Fare Cabin Embarked
181  SC/PARIS 2131  15.05   NaN        C
Perreault, Miss. Anne
     PassengerId  Survived  Pclass                   Name     Sex   Age  \
520          521         1       1  Perreault, Miss. Anne  female  30.0

     SibSp  Parch Ticket  Fare Cabin Embarked
520      0      0  12749  93.5   B73        S
Persson, Mr. Ernst Ulrik
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
267          268         1       3  Persson, Mr. Ernst Ulrik  male  25.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
267      1      0  347083  7.775   NaN        S
Peter, Miss. Anna
     PassengerId  Survived  Pclass               Name     Sex  Age  SibSp  \
128          129         1       3  Peter, Miss. Anna  female  NaN      1

     Parch Ticket     Fare  Cabin Embarked
128      1   2668  22.3583  F E69        C
Peter, Mrs. Catherine (Catherine Rizk)
     PassengerId  Survived  Pclass                                    Name  \
533          534         1       3  Peter, Mrs. Catherine (Catherine Rizk)

        Sex  Age  SibSp  Parch Ticket     Fare Cabin Embarked
533  female  NaN      0      2   2668  22.3583   NaN        C
Peters, Miss. Katie
     PassengerId  Survived  Pclass                 Name     Sex  Age  SibSp  \
680          681         0       3  Peters, Miss. Katie  female  NaN      0

     Parch  Ticket    Fare Cabin Embarked
680      0  330935  8.1375   NaN        Q
Petranec, Miss. Matilda
     PassengerId  Survived  Pclass                     Name     Sex   Age  \
100          101         0       3  Petranec, Miss. Matilda  female  28.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
100      0      0  349245  7.8958   NaN        S
Petroff, Mr. Nedelio

     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
877          878         0       3  Petroff, Mr. Nedelio  male  19.0      0

     Parch  Ticket    Fare Cabin Embarked
877      0  349212  7.8958   NaN        S
Petroff, Mr. Pastcho ("Pentcho")
     PassengerId  Survived  Pclass                              Name   Sex  \
101          102         0       3  Petroff, Mr. Pastcho ("Pentcho")  male

     Age  SibSp  Parch  Ticket    Fare Cabin Embarked
101  NaN      0      0  349215  7.8958   NaN        S
Petterson, Mr. Johan Emil
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
442          443         0       3  Petterson, Mr. Johan Emil  male  25.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
442      1      0  347076  7.775   NaN        S
Pettersson, Miss. Ellen Natalia
     PassengerId  Survived  Pclass                             Name     Sex  \
807          808         0       3  Pettersson, Miss. Ellen Natalia  female

      Age  SibSp  Parch  Ticket   Fare Cabin Embarked
807  18.0      0      0  347087  7.775   NaN        S
Peuchen, Major. Arthur Godfrey
     PassengerId  Survived  Pclass                            Name   Sex  \
449          450         1       1  Peuchen, Major. Arthur Godfrey  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
449  52.0      0      0  113786  30.5  C104        S
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
     PassengerId  Survived  Pclass  \
427          428         1       2

                                                  Name     Sex   Age  SibSp  \
427  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  female  19.0      0

     Parch  Ticket  Fare Cabin Embarked
427      0  250655  26.0   NaN        S
Pickard, Mr. Berk (Berk Trembisky)
     PassengerId  Survived  Pclass                                Name   Sex  \
429          430         1       3  Pickard, Mr. Berk (Berk Trembisky)  male

      Age  SibSp  Parch             Ticket  Fare Cabin Embarked
429  32.0      0      0  SOTON/O.Q. 392078  8.05   E10        S
Pinsky, Mrs. (Rosa)
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
190          191         1       2  Pinsky, Mrs. (Rosa)  female  32.0      0

     Parch  Ticket  Fare Cabin Embarked
190      0  234604  13.0   NaN        S
Plotcharsky, Mr. Vasil
     PassengerId  Survived  Pclass                    Name   Sex  Age  SibSp  \
384          385         0       3  Plotcharsky, Mr. Vasil  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
384      0  349227  7.8958   NaN        S
Ponesell, Mr. Martin
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
800          801         0       2  Ponesell, Mr. Martin  male  34.0      0

     Parch  Ticket  Fare Cabin Embarked
800      0  250647  13.0   NaN        S
Porter, Mr. Walter Chamberlain
     PassengerId  Survived  Pclass                            Name   Sex  \
110          111         0       1  Porter, Mr. Walter Chamberlain  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
110  47.0      0      0  110465  52.0  C110        S
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
     PassengerId  Survived  Pclass  \
879          880         1       1

                                              Name     Sex   Age  SibSp  \
879  Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch Ticket     Fare Cabin Embarked
879      1  11767  83.1583   C50        C
Quick, Miss. Phyllis May
     PassengerId  Survived  Pclass                      Name     Sex  Age  \
530          531         1       2  Quick, Miss. Phyllis May  female  2.0

     SibSp  Parch Ticket  Fare Cabin Embarked
530      1      1  26360  26.0   NaN        S
Quick, Mrs. Frederick Charles (Jane Richards)
     PassengerId  Survived  Pclass  \
506          507         1       2

                                              Name     Sex   Age  SibSp  \
506  Quick, Mrs. Frederick Charles (Jane Richards)  female  33.0      0

     Parch Ticket  Fare Cabin Embarked
506      2  26360  26.0   NaN        S
Radeff, Mr. Alexander
     PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
656          657         0       3  Radeff, Mr. Alexander  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
656      0  349223  7.8958   NaN        S
Razi, Mr. Raihed
     PassengerId  Survived  Pclass              Name   Sex  Age  SibSp  Parch  \
859          860         0       3  Razi, Mr. Raihed  male  NaN      0      0

    Ticket    Fare Cabin Embarked
859   2629  7.2292   NaN        C
Reed, Mr. James George
     PassengerId  Survived  Pclass                    Name   Sex  Age  SibSp  \
250          251         0       3  Reed, Mr. James George  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
250      0  362316  7.25   NaN        S
Reeves, Mr. David
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
265          266         0       2  Reeves, Mr. David  male  36.0      0

     Parch      Ticket  Fare Cabin Embarked
265      0  C.A. 17248  10.5   NaN        S
Rekic, Mr. Tido
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
108          109         0       3  Rekic, Mr. Tido  male  38.0      0      0

     Ticket    Fare Cabin Embarked
108  349249  7.8958   NaN        S
Renouf, Mr. Peter Henry
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
476          477         0       2  Renouf, Mr. Peter Henry  male  34.0

     SibSp  Parch Ticket  Fare Cabin Embarked
476      1      0  31027  21.0   NaN        S
Renouf, Mrs. Peter Henry (Lillian Jefferys)
     PassengerId  Survived  Pclass  \
726          727         1       2

                                            Name     Sex   Age  SibSp  Parch  \
726  Renouf, Mrs. Peter Henry (Lillian Jefferys)  female  30.0      3      0

    Ticket  Fare Cabin Embarked
726  31027  21.0   NaN        S
Reuchlin, Jonkheer. John George
     PassengerId  Survived  Pclass                             Name   Sex  \
822          823         0       1  Reuchlin, Jonkheer. John George  male

      Age  SibSp  Parch Ticket  Fare Cabin Embarked
822  38.0      0      0  19972   0.0   NaN        S
Reynaldo, Ms. Encarnacion
     PassengerId  Survived  Pclass                       Name     Sex   Age  \
443          444         1       2  Reynaldo, Ms. Encarnacion  female  28.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
443      0      0  230434  13.0   NaN        S
Rice, Master. Arthur
     PassengerId  Survived  Pclass                  Name   Sex  Age  SibSp  \
171          172         0       3  Rice, Master. Arthur  male  4.0      4

     Parch  Ticket    Fare Cabin Embarked
171      1  382652  29.125   NaN        Q
Rice, Master. Eric
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
278          279         0       3  Rice, Master. Eric  male  7.0      4

     Parch  Ticket    Fare Cabin Embarked
278      1  382652  29.125   NaN        Q
Rice, Master. Eugene
    PassengerId  Survived  Pclass                  Name   Sex  Age  SibSp  \
16           17         0       3  Rice, Master. Eugene  male  2.0      4

    Parch  Ticket    Fare Cabin Embarked
16      1  382652  29.125   NaN        Q
Rice, Master. George Hugh
     PassengerId  Survived  Pclass                       Name   Sex  Age  \
787          788         0       3  Rice, Master. George Hugh  male  8.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
787      4      1  382652  29.125   NaN        Q
Rice, Mrs. William (Margaret Norton)
     PassengerId  Survived  Pclass                                  Name  \
885          886         0       3  Rice, Mrs. William (Margaret Norton)

        Sex   Age  SibSp  Parch  Ticket    Fare Cabin Embarked
885  female  39.0      0      5  382652  29.125   NaN        Q
Richard, Mr. Emile
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
135          136         0       2  Richard, Mr. Emile  male  23.0      0

     Parch         Ticket     Fare Cabin Embarked

135      0  SC/PARIS 2133  15.0458   NaN        C
Richards, Master. George Sibley
     PassengerId  Survived  Pclass                             Name   Sex  \
831          832         1       2  Richards, Master. George Sibley  male

      Age  SibSp  Parch Ticket   Fare Cabin Embarked
831  0.83      1      1  29106  18.75   NaN        S
Richards, Master. William Rowe
     PassengerId  Survived  Pclass                            Name   Sex  Age  \
407          408         1       2  Richards, Master. William Rowe  male  3.0

     SibSp  Parch Ticket   Fare Cabin Embarked
407      1      1  29106  18.75   NaN        S
Richards, Mrs. Sidney (Emily Hocking)
     PassengerId  Survived  Pclass                                   Name  \
437          438         1       2  Richards, Mrs. Sidney (Emily Hocking)

        Sex   Age  SibSp  Parch Ticket   Fare Cabin Embarked
437  female  24.0      2      3  29106  18.75   NaN        S
Ridsdale, Miss. Lucy
     PassengerId  Survived  Pclass                  Name     Sex   Age  SibSp  \
526          527         1       2  Ridsdale, Miss. Lucy  female  50.0      0

     Parch       Ticket  Fare Cabin Embarked
526      0  W./C. 14258  10.5   NaN        S
Ringhini, Mr. Sante
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
373          374         0       1  Ringhini, Mr. Sante  male  22.0      0

     Parch    Ticket      Fare Cabin Embarked
373      0  PC 17760  135.6333   NaN        C
Rintamaki, Mr. Matti
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
590          591         0       3  Rintamaki, Mr. Matti  male  35.0      0

     Parch             Ticket   Fare Cabin Embarked
590      0  STON/O 2. 3101273  7.125   NaN        S
Risien, Mr. Samuel Beard
     PassengerId  Survived  Pclass                      Name   Sex  Age  \
538          539         0       3  Risien, Mr. Samuel Beard  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
538      0      0  364498  14.5   NaN        S
Robbins, Mr. Victor
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
557          558         0       1  Robbins, Mr. Victor  male  NaN      0

     Parch    Ticket     Fare Cabin Embarked
557      0  PC 17757  227.525   NaN        C
Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)
     PassengerId  Survived  Pclass  \
779          780         1       1

                                                  Name     Sex   Age  SibSp  \
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.0      0

     Parch Ticket      Fare Cabin Embarked
779      1  24160  211.3375    B3        S
Robins, Mrs. Alexander A (Grace Charity Laury)
     PassengerId  Survived  Pclass  \
132          133         0       3

                                               Name     Sex   Age  SibSp  \
132  Robins, Mrs. Alexander A (Grace Charity Laury)  female  47.0      1

     Parch     Ticket  Fare Cabin Embarked
132      0  A/5. 3337  14.5   NaN        S
Roebling, Mr. Washington Augustus II
     PassengerId  Survived  Pclass                                  Name  \
867          868         0       1  Roebling, Mr. Washington Augustus II

      Sex   Age  SibSp  Parch    Ticket     Fare Cabin Embarked
867  male  31.0      0      0  PC 17590  50.4958   A24        S
Rogers, Mr. William John
    PassengerId  Survived  Pclass                      Name   Sex  Age  SibSp  \
45           46         0       3  Rogers, Mr. William John  male  NaN      0

    Parch           Ticket  Fare Cabin Embarked
45      0  S.C./A.4. 23567  8.05   NaN        S
Romaine, Mr. Charles Hallace ("Mr C Rolmane")
     PassengerId  Survived  Pclass  \
187          188         1       1

                                              Name   Sex   Age  SibSp  Parch  \
187  Romaine, Mr. Charles Hallace ("Mr C Rolmane")  male  45.0      0      0

     Ticket   Fare Cabin Embarked
187  111428  26.55   NaN        S
Rommetvedt, Mr. Knud Paust
     PassengerId  Survived  Pclass                        Name   Sex  Age  \
667          668         0       3  Rommetvedt, Mr. Knud Paust  male  NaN

     SibSp  Parch  Ticket   Fare Cabin Embarked
667      0      0  312993  7.775   NaN        S
Rood, Mr. Hugh Roscoe
     PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
185          186         0       1  Rood, Mr. Hugh Roscoe  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
185      0  113767  50.0   A32        S
Rosblom, Mr. Viktor Richard
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
424          425         0       3  Rosblom, Mr. Viktor Richard  male  18.0

     SibSp  Parch  Ticket     Fare Cabin Embarked
424      1      1  370129  20.2125   NaN        S
Rosblom, Mrs. Viktor (Helena Wilhelmina)
     PassengerId  Survived  Pclass                                      Name  \
254          255         0       3  Rosblom, Mrs. Viktor (Helena Wilhelmina)

        Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
254  female  41.0      0      2  370129  20.2125   NaN        S
Ross, Mr. John Hugo
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
583          584         0       1  Ross, Mr. John Hugo  male  36.0      0

     Parch Ticket    Fare Cabin Embarked
583      0  13049  40.125   A10        C
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)
     PassengerId  Survived  Pclass  \
759          760         1       1

                                                  Name     Sex   Age  SibSp  \
759  Rothes, the Countess. of (Lucy Noel Martha Dye...  female  33.0      0

     Parch  Ticket  Fare Cabin Embarked
759      0  110152  86.5   B77        S
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
     PassengerId  Survived  Pclass  \
513          514         1       1

                                               Name     Sex   Age  SibSp  \
513  Rothschild, Mrs. Martin (Elizabeth L. Barrett)  female  54.0      1

     Parch    Ticket  Fare Cabin Embarked
513      0  PC 17603  59.4   NaN        C
Rouse, Mr. Richard Henry
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
482          483         0       3  Rouse, Mr. Richard Henry  male  50.0

     SibSp  Parch    Ticket  Fare Cabin Embarked
482      0      0  A/5 3594  8.05   NaN        S
Rugg, Miss. Emily
    PassengerId  Survived  Pclass               Name     Sex   Age  SibSp  \
56           57         1       2  Rugg, Miss. Emily  female  21.0      0

    Parch      Ticket  Fare Cabin Embarked
56      0  C.A. 31026  10.5   NaN        S
Rush, Mr. Alfred George John
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
574          575         0       3  Rush, Mr. Alfred George John  male  16.0

     SibSp  Parch      Ticket  Fare Cabin Embarked
574      0      0  A/4. 20589  8.05   NaN        S
Ryan, Mr. Patrick
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
517          518         0       3  Ryan, Mr. Patrick  male  NaN      0

     Parch  Ticket   Fare Cabin Embarked
517      0  371110  24.15   NaN        Q
Ryerson, Miss. Emily Borie
     PassengerId  Survived  Pclass                        Name     Sex   Age  \
311          312         1       1  Ryerson, Miss. Emily Borie  female  18.0

     SibSp  Parch    Ticket     Fare            Cabin Embarked
311      2      2  PC 17608  262.375  B57 B59 B63 B66        C
Ryerson, Miss. Susan Parker "Suzette"
     PassengerId  Survived  Pclass                                   Name  \
742          743         1       1  Ryerson, Miss. Susan Parker "Suzette"

        Sex   Age  SibSp  Parch    Ticket     Fare            Cabin Embarked
742  female  21.0      2      2  PC 17608  262.375  B57 B59 B63 B66        C
Saad, Mr. Amin
     PassengerId  Survived  Pclass            Name   Sex  Age  SibSp  Parch  \
832          833         0       3  Saad, Mr. Amin  male  NaN      0      0

    Ticket    Fare Cabin Embarked
832   2671  7.2292   NaN        C
Saad, Mr. Khalil
     PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
693          694         0       3  Saad, Mr. Khalil  male  25.0      0

     Parch Ticket   Fare Cabin Embarked
693      0   2672  7.225   NaN        C
Saalfeld, Mr. Adolphe
     PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
298          299         1       1  Saalfeld, Mr. Adolphe  male  NaN      0

     Parch Ticket  Fare Cabin Embarked
298      0  19988  30.5  C106        S
Sadlier, Mr. Matthew
     PassengerId  Survived  Pclass                  Name   Sex  Age  SibSp  \
388          389         0       3  Sadlier, Mr. Matthew  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
388      0  367655  7.7292   NaN        Q
Sage, Master. Thomas Henry
     PassengerId  Survived  Pclass                        Name   Sex  Age  \
159          160         0       3  Sage, Master. Thomas Henry  male  NaN

     SibSp  Parch    Ticket   Fare Cabin Embarked
159      8      2  CA. 2343  69.55   NaN        S
Sage, Miss. Constance Gladys
     PassengerId  Survived  Pclass                          Name     Sex  Age  \
180          181         0       3  Sage, Miss. Constance Gladys  female  NaN

     SibSp  Parch    Ticket   Fare Cabin Embarked
180      8      2  CA. 2343  69.55   NaN        S
Sage, Miss. Dorothy Edith "Dolly"
     PassengerId  Survived  Pclass                               Name     Sex  \
863          864         0       3  Sage, Miss. Dorothy Edith "Dolly"  female

     Age  SibSp  Parch    Ticket   Fare Cabin Embarked
863  NaN      8      2  CA. 2343  69.55   NaN        S
Sage, Miss. Stella Anna

     PassengerId  Survived  Pclass                     Name     Sex  Age  \
792          793         0       3  Sage, Miss. Stella Anna  female  NaN

     SibSp  Parch    Ticket   Fare Cabin Embarked
792      8      2  CA. 2343  69.55   NaN        S
Sage, Mr. Douglas Bullen
     PassengerId  Survived  Pclass                      Name   Sex  Age  \
846          847         0       3  Sage, Mr. Douglas Bullen  male  NaN

     SibSp  Parch    Ticket   Fare Cabin Embarked
846      8      2  CA. 2343  69.55   NaN        S
Sage, Mr. Frederick
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
201          202         0       3  Sage, Mr. Frederick  male  NaN      8

     Parch    Ticket   Fare Cabin Embarked
201      2  CA. 2343  69.55   NaN        S
Sage, Mr. George John Jr
     PassengerId  Survived  Pclass                      Name   Sex  Age  \
324          325         0       3  Sage, Mr. George John Jr  male  NaN

     SibSp  Parch    Ticket   Fare Cabin Embarked
324      8      2  CA. 2343  69.55   NaN        S
Sagesser, Mlle. Emma
     PassengerId  Survived  Pclass                  Name     Sex   Age  SibSp  \
641          642         1       1  Sagesser, Mlle. Emma  female  24.0      0

     Parch    Ticket  Fare Cabin Embarked
641      0  PC 17477  69.3   B35        C
Salkjelsvik, Miss. Anna Kristine
     PassengerId  Survived  Pclass                              Name     Sex  \
106          107         1       3  Salkjelsvik, Miss. Anna Kristine  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
106  21.0      0      0  343120  7.65   NaN        S
Salonen, Mr. Johan Werner
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
528          529         0       3  Salonen, Mr. Johan Werner  male  39.0

     SibSp  Parch   Ticket   Fare Cabin Embarked
528      0      0  3101296  7.925   NaN        S
Samaan, Mr. Youssef
    PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
48           49         0       3  Samaan, Mr. Youssef  male  NaN      2

    Parch Ticket     Fare Cabin Embarked
48      0   2662  21.6792   NaN        C
Sandstrom, Miss. Marguerite Rut
    PassengerId  Survived  Pclass                             Name     Sex  \
10           11         1       3  Sandstrom, Miss. Marguerite Rut  female

    Age  SibSp  Parch   Ticket  Fare Cabin Embarked
10  4.0      1      1  PP 9549  16.7    G6        S
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)
     PassengerId  Survived  Pclass  \
394          395         1       3

                                                  Name     Sex   Age  SibSp  \
394  Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...  female  24.0      0

     Parch   Ticket  Fare Cabin Embarked
394      2  PP 9549  16.7    G6        S
Saundercock, Mr. William Henry
    PassengerId  Survived  Pclass                            Name   Sex   Age  \
12           13         0       3  Saundercock, Mr. William Henry  male  20.0

    SibSp  Parch     Ticket  Fare Cabin Embarked
12      0      0  A/5. 2151  8.05   NaN        S
Sawyer, Mr. Frederick Charles
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
676          677         0       3  Sawyer, Mr. Frederick Charles  male  24.5

     SibSp  Parch  Ticket  Fare Cabin Embarked
676      0      0  342826  8.05   NaN        S
Scanlan, Mr. James
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
468          469         0       3  Scanlan, Mr. James  male  NaN      0

     Parch Ticket   Fare Cabin Embarked
468      0  36209  7.725   NaN        Q
Sdycoff, Mr. Todor
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
410          411         0       3  Sdycoff, Mr. Todor  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
410      0  349222  7.8958   NaN        S
Sedgwick, Mr. Charles Frederick Waddington
     PassengerId  Survived  Pclass  \
343          344         0       2

                                           Name   Sex   Age  SibSp  Parch  \
343  Sedgwick, Mr. Charles Frederick Waddington  male  25.0      0      0

     Ticket  Fare Cabin Embarked
343  244361  13.0   NaN        S
Serepeca, Miss. Augusta
     PassengerId  Survived  Pclass                     Name     Sex   Age  \
842          843         1       1  Serepeca, Miss. Augusta  female  30.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
842      0      0  113798  31.0   NaN        C
Seward, Mr. Frederic Kimber
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
447          448         1       1  Seward, Mr. Frederic Kimber  male  34.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
447      0      0  113794  26.55   NaN        S
Sharp, Mr. Percival James R
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
551          552         0       2  Sharp, Mr. Percival James R  male  27.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
551      0      0  244358  26.0   NaN        S
Sheerlinck, Mr. Jan Baptist
    PassengerId  Survived  Pclass                         Name   Sex   Age  \
81           82         1       3  Sheerlinck, Mr. Jan Baptist  male  29.0

    SibSp  Parch  Ticket  Fare Cabin Embarked
81      0      0  345779   9.5   NaN        S
Shellard, Mr. Frederick William
     PassengerId  Survived  Pclass                             Name   Sex  \
497          498         0       3  Shellard, Mr. Frederick William  male

     Age  SibSp  Parch     Ticket  Fare Cabin Embarked
497  NaN      0      0  C.A. 6212  15.1   NaN        S
Shelley, Mrs. William (Imanita Parrish Hall)
     PassengerId  Survived  Pclass  \
880          881         1       2

                                             Name     Sex   Age  SibSp  Parch  \
880  Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0      1

     Ticket  Fare Cabin Embarked
880  230433  26.0   NaN        S
Shorney, Mr. Charles Joseph
    PassengerId  Survived  Pclass                         Name   Sex  Age  \
95           96         0       3  Shorney, Mr. Charles Joseph  male  NaN

    SibSp  Parch  Ticket  Fare Cabin Embarked
95      0      0  374910  8.05   NaN        S
Shutes, Miss. Elizabeth W
     PassengerId  Survived  Pclass                       Name     Sex   Age  \
609          610         1       1  Shutes, Miss. Elizabeth W  female  40.0

     SibSp  Parch    Ticket      Fare Cabin Embarked
609      0      0  PC 17582  153.4625  C125        S
Silven, Miss. Lyyli Karoliina
     PassengerId  Survived  Pclass                           Name     Sex  \
417          418         1       2  Silven, Miss. Lyyli Karoliina  female

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
417  18.0      0      2  250652  13.0   NaN        S
Silverthorne, Mr. Spencer Victor
     PassengerId  Survived  Pclass                              Name   Sex  \
701          702         1       1  Silverthorne, Mr. Spencer Victor  male

      Age  SibSp  Parch    Ticket     Fare Cabin Embarked
701  35.0      0      0  PC 17475  26.2875   E24        S
Silvey, Mr. William Baird
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
434          435         0       1  Silvey, Mr. William Baird  male  50.0

     SibSp  Parch Ticket  Fare Cabin Embarked
434      1      0  13507  55.9   E44        S
Silvey, Mrs. William Baird (Alice Munger)
     PassengerId  Survived  Pclass                                       Name  \
577          578         1       1  Silvey, Mrs. William Baird (Alice Munger)

        Sex   Age  SibSp  Parch Ticket  Fare Cabin Embarked
577  female  39.0      1      0  13507  55.9   E44        S
Simmons, Mr. John
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
563          564         0       3  Simmons, Mr. John  male  NaN      0

     Parch           Ticket  Fare Cabin Embarked
563      0  SOTON/OQ 392082  8.05   NaN        S
Simonius-Blumer, Col. Oberst Alfons
     PassengerId  Survived  Pclass                                 Name   Sex  \
647          648         1       1  Simonius-Blumer, Col. Oberst Alfons  male

      Age  SibSp  Parch Ticket  Fare Cabin Embarked
647  56.0      0      0  13213  35.5   A26        C
Sinkkonen, Miss. Anna
     PassengerId  Survived  Pclass                   Name     Sex   Age  \
747          748         1       2  Sinkkonen, Miss. Anna  female  30.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
747      0      0  250648  13.0   NaN        S
Sirayanian, Mr. Orsen
    PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
60           61         0       3  Sirayanian, Mr. Orsen  male  22.0      0

    Parch Ticket    Fare Cabin Embarked
60      0   2669  7.2292   NaN        C
Sirota, Mr. Maurice
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
837          838         0       3  Sirota, Mr. Maurice  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
837      0  392092  8.05   NaN        S
Sivic, Mr. Husein
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
561          562         0       3  Sivic, Mr. Husein  male  40.0      0

     Parch  Ticket    Fare Cabin Embarked
561      0  349251  7.8958   NaN        S
Sivola, Mr. Antti Wilhelm
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
173          174         0       3  Sivola, Mr. Antti Wilhelm  male  21.0

     SibSp  Parch             Ticket   Fare Cabin Embarked
173      0      0  STON/O 2. 3101280  7.925   NaN        S
Sjoblom, Miss. Anna Sofia
     PassengerId  Survived  Pclass                       Name     Sex   Age  \
786          787         1       3  Sjoblom, Miss. Anna Sofia  female  18.0

     SibSp  Parch   Ticket    Fare Cabin Embarked
786      0      0  3101265  7.4958   NaN        S
Sjostedt, Mr. Ernst Adolf
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
232          233         0       2  Sjostedt, Mr. Ernst Adolf  male  59.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
232      0      0  237442  13.5   NaN        S
Skoog, Master. Harald
    PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
63           64         0       3  Skoog, Master. Harald  male  4.0      3

    Parch  Ticket  Fare Cabin Embarked
63      2  347088  27.9   NaN        S
Skoog, Master. Karl Thorsten
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
819          820         0       3  Skoog, Master. Karl Thorsten  male  10.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
819      3      2  347088  27.9   NaN        S
Skoog, Miss. Mabel
     PassengerId  Survived  Pclass                Name     Sex  Age  SibSp  \
634          635         0       3  Skoog, Miss. Mabel  female  9.0      3

     Parch  Ticket  Fare Cabin Embarked
634      2  347088  27.9   NaN        S
Skoog, Miss. Margit Elizabeth
     PassengerId  Survived  Pclass                           Name     Sex  \
642          643         0       3  Skoog, Miss. Margit Elizabeth  female

     Age  SibSp  Parch  Ticket  Fare Cabin Embarked
642  2.0      3      2  347088  27.9   NaN        S
Skoog, Mr. Wilhelm

     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
360          361         0       3  Skoog, Mr. Wilhelm  male  40.0      1

     Parch  Ticket  Fare Cabin Embarked
360      4  347088  27.9   NaN        S
Skoog, Mrs. William (Anna Bernhardina Karlsson)
     PassengerId  Survived  Pclass  \
167          168         0       3

                                                Name     Sex   Age  SibSp  \
167  Skoog, Mrs. William (Anna Bernhardina Karlsson)  female  45.0      1

     Parch  Ticket  Fare Cabin Embarked
167      4  347088  27.9   NaN        S
Slabenoff, Mr. Petco
     PassengerId  Survived  Pclass                  Name   Sex  Age  SibSp  \
601          602         0       3  Slabenoff, Mr. Petco  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
601      0  349214  7.8958   NaN        S
Slayter, Miss. Hilda Mary
     PassengerId  Survived  Pclass                       Name     Sex   Age  \
322          323         1       2  Slayter, Miss. Hilda Mary  female  30.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
322      0      0  234818  12.35   NaN        Q
Slemen, Mr. Richard James
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
812          813         0       2  Slemen, Mr. Richard James  male  35.0

     SibSp  Parch Ticket  Fare Cabin Embarked
812      0      0  28206  10.5   NaN        S
Slocovski, Mr. Selman Francis
    PassengerId  Survived  Pclass                           Name   Sex  Age  \
87           88         0       3  Slocovski, Mr. Selman Francis  male  NaN

    SibSp  Parch           Ticket  Fare Cabin Embarked
87      0      0  SOTON/OQ 392086  8.05   NaN        S
Sloper, Mr. William Thompson
    PassengerId  Survived  Pclass                          Name   Sex   Age  \
23           24         1       1  Sloper, Mr. William Thompson  male  28.0

    SibSp  Parch  Ticket  Fare Cabin Embarked
23      0      0  113788  35.5    A6        S
Smart, Mr. John Montgomery
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
467          468         0       1  Smart, Mr. John Montgomery  male  56.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
467      0      0  113792  26.55   NaN        S
Smiljanic, Mr. Mile
     PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
158          159         0       3  Smiljanic, Mr. Mile  male  NaN      0

     Parch  Ticket    Fare Cabin Embarked
158      0  315037  8.6625   NaN        S
Smith, Miss. Marion Elsie
     PassengerId  Survived  Pclass                       Name     Sex   Age  \
346          347         1       2  Smith, Miss. Marion Elsie  female  40.0

     SibSp  Parch Ticket  Fare Cabin Embarked
346      0      0  31418  13.0   NaN        S
Smith, Mr. James Clinch
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
174          175         0       1  Smith, Mr. James Clinch  male  56.0

     SibSp  Parch Ticket     Fare Cabin Embarked
174      0      0  17764  30.6958    A7        C
Smith, Mr. Richard William
     PassengerId  Survived  Pclass                        Name   Sex  Age  \
284          285         0       1  Smith, Mr. Richard William  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
284      0      0  113056  26.0   A19        S
Smith, Mr. Thomas
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
260          261         0       3  Smith, Mr. Thomas  male  NaN      0

     Parch  Ticket  Fare Cabin Embarked
260      0  384461  7.75   NaN        Q
Sobey, Mr. Samuel James Hayden
     PassengerId  Survived  Pclass                            Name   Sex  \
134          135         0       2  Sobey, Mr. Samuel James Hayden  male

      Age  SibSp  Parch      Ticket  Fare Cabin Embarked
134  25.0      0      0  C.A. 29178  13.0   NaN        S
Soholt, Mr. Peter Andreas Lauritz Andersen
     PassengerId  Survived  Pclass  \
715          716         0       3

                                           Name   Sex   Age  SibSp  Parch  \
715  Soholt, Mr. Peter Andreas Lauritz Andersen  male  19.0      0      0

     Ticket  Fare  Cabin Embarked
715  348124  7.65  F G73        S
Somerton, Mr. Francis William
     PassengerId  Survived  Pclass                           Name   Sex   Age  \
488          489         0       3  Somerton, Mr. Francis William  male  30.0

     SibSp  Parch      Ticket  Fare Cabin Embarked
488      0      0  A.5. 18509  8.05   NaN        S
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
     PassengerId  Survived  Pclass  \
319          320         1       1

                                                  Name     Sex   Age  SibSp  \
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.0      1

     Parch Ticket   Fare Cabin Embarked
319      1  16966  134.5   E34        C
Spencer, Mrs. William Augustus (Marie Eugenie)
    PassengerId  Survived  Pclass  \
31           32         1       1

                                              Name     Sex  Age  SibSp  Parch  \
31  Spencer, Mrs. William Augustus (Marie Eugenie)  female  NaN      1      0

      Ticket      Fare Cabin Embarked
31  PC 17569  146.5208   B78        C
Stahelin-Maeglin, Dr. Max
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
632          633         1       1  Stahelin-Maeglin, Dr. Max  male  32.0

     SibSp  Parch Ticket  Fare Cabin Embarked
632      0      0  13214  30.5   B50        C
Staneff, Mr. Ivan
    PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  Parch  \
76           77         0       3  Staneff, Mr. Ivan  male  NaN      0      0

    Ticket    Fare Cabin Embarked
76  349208  7.8958   NaN        S
Stankovic, Mr. Ivan
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
285          286         0       3  Stankovic, Mr. Ivan  male  33.0      0

     Parch  Ticket    Fare Cabin Embarked
285      0  349239  8.6625   NaN        C
Stanley, Miss. Amy Zillah Elsie
     PassengerId  Survived  Pclass                             Name     Sex  \
649          650         1       3  Stanley, Miss. Amy Zillah Elsie  female

      Age  SibSp  Parch    Ticket  Fare Cabin Embarked
649  23.0      0      0  CA. 2314  7.55   NaN        S
Stanley, Mr. Edward Roland
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
494          495         0       3  Stanley, Mr. Edward Roland  male  21.0

     SibSp  Parch     Ticket  Fare Cabin Embarked
494      0      0  A/4 45380  8.05   NaN        S
Stead, Mr. William Thomas
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
252          253         0       1  Stead, Mr. William Thomas  male  62.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
252      0      0  113514  26.55   C87        S
Stephenson, Mrs. Walter Bertram (Martha Eustis)
     PassengerId  Survived  Pclass  \
591          592         1       1

                                                Name     Sex   Age  SibSp  \
591  Stephenson, Mrs. Walter Bertram (Martha Eustis)  female  52.0      1

     Parch Ticket     Fare Cabin Embarked
591      0  36947  78.2667   D20        C
Stewart, Mr. Albert A
    PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
64           65         0       1  Stewart, Mr. Albert A  male  NaN      0

    Parch    Ticket     Fare Cabin Embarked
64      0  PC 17605  27.7208   NaN        C
Stone, Mrs. George Nelson (Martha Evelyn)
     PassengerId  Survived  Pclass                                       Name  \
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
829  female  62.0      0      0  113572  80.0   B28      NaN
Stoytcheff, Mr. Ilia
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
566          567         0       3  Stoytcheff, Mr. Ilia  male  19.0      0

     Parch  Ticket    Fare Cabin Embarked
566      0  349205  7.8958   NaN        S
Strandberg, Miss. Ida Sofia
     PassengerId  Survived  Pclass                         Name     Sex   Age  \
474          475         0       3  Strandberg, Miss. Ida Sofia  female  22.0

     SibSp  Parch Ticket    Fare Cabin Embarked
474      0      0   7553  9.8375   NaN        S
Stranden, Mr. Juho
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
744          745         1       3  Stranden, Mr. Juho  male  31.0      0

     Parch             Ticket   Fare Cabin Embarked

744      0  STON/O 2. 3101288  7.925   NaN        S
Strom, Miss. Telma Matilda
     PassengerId  Survived  Pclass                        Name     Sex  Age  \
205          206         0       3  Strom, Miss. Telma Matilda  female  2.0

     SibSp  Parch  Ticket     Fare Cabin Embarked
205      0      1  347054  10.4625    G6        S
Strom, Mrs. Wilhelm (Elna Matilda Persson)
     PassengerId  Survived  Pclass  \
251          252         0       3

                                           Name     Sex   Age  SibSp  Parch  \
251  Strom, Mrs. Wilhelm (Elna Matilda Persson)  female  29.0      1      1

     Ticket     Fare Cabin Embarked
251  347054  10.4625    G6        S
Sunderland, Mr. Victor Francis
     PassengerId  Survived  Pclass                            Name   Sex  \
220          221         1       3  Sunderland, Mr. Victor Francis  male

      Age  SibSp  Parch           Ticket  Fare Cabin Embarked
220  16.0      0      0  SOTON/OQ 392089  8.05   NaN        S
Sundman, Mr. Johan Julian
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
414          415         1       3  Sundman, Mr. Johan Julian  male  44.0

     SibSp  Parch             Ticket   Fare Cabin Embarked
414      0      0  STON/O 2. 3101269  7.925   NaN        S
Sutehall, Mr. Henry Jr
     PassengerId  Survived  Pclass                    Name   Sex   Age  SibSp  \
884          885         0       3  Sutehall, Mr. Henry Jr  male  25.0      0

     Parch           Ticket  Fare Cabin Embarked
884      0  SOTON/OQ 392076  7.05   NaN        S
Sutton, Mr. Frederick
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
625          626         0       1  Sutton, Mr. Frederick  male  61.0      0

     Parch Ticket     Fare Cabin Embarked
625      0  36963  32.3208   D50        S
Svensson, Mr. Johan
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
851          852         0       3  Svensson, Mr. Johan  male  74.0      0

     Parch  Ticket   Fare Cabin Embarked
851      0  347060  7.775   NaN        S
Svensson, Mr. Olof
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
499          500         0       3  Svensson, Mr. Olof  male  24.0      0

     Parch  Ticket    Fare Cabin Embarked
499      0  350035  7.7958   NaN        S
Swift, Mrs. Frederick Joel (Margaret Welles Barron)
     PassengerId  Survived  Pclass  \
862          863         1       1

                                                  Name     Sex   Age  SibSp  \
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0

     Parch Ticket     Fare Cabin Embarked
862      0  17466  25.9292   D17        S
Taussig, Miss. Ruth
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
585          586         1       1  Taussig, Miss. Ruth  female  18.0      0

     Parch  Ticket   Fare Cabin Embarked
585      2  110413  79.65   E68        S
Taussig, Mr. Emil
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
262          263         0       1  Taussig, Mr. Emil  male  52.0      1

     Parch  Ticket   Fare Cabin Embarked
262      1  110413  79.65   E67        S
Taussig, Mrs. Emil (Tillie Mandelbaum)
     PassengerId  Survived  Pclass                                    Name  \
558          559         1       1  Taussig, Mrs. Emil (Tillie Mandelbaum)

        Sex   Age  SibSp  Parch  Ticket   Fare Cabin Embarked
558  female  39.0      1      1  110413  79.65   E67        S
Taylor, Mr. Elmer Zebley
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
712          713         1       1  Taylor, Mr. Elmer Zebley  male  48.0

     SibSp  Parch Ticket  Fare Cabin Embarked
712      1      0  19996  52.0  C126        S
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
     PassengerId  Survived  Pclass  \
669          670         1       1

                                                  Name     Sex  Age  SibSp  \
669  Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)  female  NaN      1

     Parch Ticket  Fare Cabin Embarked
669      0  19996  52.0  C126        S
Thayer, Mr. John Borland
     PassengerId  Survived  Pclass                      Name   Sex   Age  \
698          699         0       1  Thayer, Mr. John Borland  male  49.0

     SibSp  Parch Ticket      Fare Cabin Embarked
698      1      1  17421  110.8833   C68        C
Thayer, Mr. John Borland Jr
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
550          551         1       1  Thayer, Mr. John Borland Jr  male  17.0

     SibSp  Parch Ticket      Fare Cabin Embarked
550      0      2  17421  110.8833   C70        C
Thayer, Mrs. John Borland (Marian Longstreth Morris)
     PassengerId  Survived  Pclass  \
581          582         1       1

                                                  Name     Sex   Age  SibSp  \
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.0      1

     Parch Ticket      Fare Cabin Embarked
581      1  17421  110.8833   C68        C
Theobald, Mr. Thomas Leonard
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
758          759         0       3  Theobald, Mr. Thomas Leonard  male  34.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
758      0      0  363294  8.05   NaN        S
Thomas, Master. Assad Alexander
     PassengerId  Survived  Pclass                             Name   Sex  \
803          804         1       3  Thomas, Master. Assad Alexander  male

      Age  SibSp  Parch Ticket    Fare Cabin Embarked
803  0.42      0      1   2625  8.5167   NaN        C
Thorne, Mrs. Gertrude Maybelle
     PassengerId  Survived  Pclass                            Name     Sex  \
256          257         1       1  Thorne, Mrs. Gertrude Maybelle  female

     Age  SibSp  Parch    Ticket  Fare Cabin Embarked
256  NaN      0      0  PC 17585  79.2   NaN        C
Thorneycroft, Mr. Percival
     PassengerId  Survived  Pclass                        Name   Sex  Age  \
639          640         0       3  Thorneycroft, Mr. Percival  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
639      1      0  376564  16.1   NaN        S
Thorneycroft, Mrs. Percival (Florence Kate White)
     PassengerId  Survived  Pclass  \
431          432         1       3

                                                  Name     Sex  Age  SibSp  \
431  Thorneycroft, Mrs. Percival (Florence Kate White)  female  NaN      1

     Parch  Ticket  Fare Cabin Embarked
431      0  376564  16.1   NaN        S
Tikkanen, Mr. Juho
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
382          383         0       3  Tikkanen, Mr. Juho  male  32.0      0

     Parch             Ticket   Fare Cabin Embarked
382      0  STON/O 2. 3101293  7.925   NaN        S
Tobin, Mr. Roger
     PassengerId  Survived  Pclass              Name   Sex  Age  SibSp  Parch  \
776          777         0       3  Tobin, Mr. Roger  male  NaN      0      0

     Ticket  Fare Cabin Embarked
776  383121  7.75   F38        Q
Todoroff, Mr. Lalio
    PassengerId  Survived  Pclass                 Name   Sex  Age  SibSp  \
29           30         0       3  Todoroff, Mr. Lalio  male  NaN      0

    Parch  Ticket    Fare Cabin Embarked
29      0  349216  7.8958   NaN        S
Tomlin, Mr. Ernest Portage
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
814          815         0       3  Tomlin, Mr. Ernest Portage  male  30.5

     SibSp  Parch  Ticket  Fare Cabin Embarked
814      0      0  364499  8.05   NaN        S
Toomey, Miss. Ellen
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
458          459         1       2  Toomey, Miss. Ellen  female  50.0      0

     Parch        Ticket  Fare Cabin Embarked
458      0  F.C.C. 13531  10.5   NaN        S
Torber, Mr. Ernst William
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
603          604         0       3  Torber, Mr. Ernst William  male  44.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
603      0      0  364511  8.05   NaN        S
Tornquist, Mr. William Henry
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
271          272         1       3  Tornquist, Mr. William Henry  male  25.0

     SibSp  Parch Ticket  Fare Cabin Embarked
271      0      0   LINE   0.0   NaN        S
Toufik, Mr. Nakli
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
531          532         0       3  Toufik, Mr. Nakli  male  NaN      0

     Parch Ticket    Fare Cabin Embarked
531      0   2641  7.2292   NaN        C
Touma, Mrs. Darwis (Hanne Youssef Razi)
     PassengerId  Survived  Pclass                                     Name  \
255          256         1       3  Touma, Mrs. Darwis (Hanne Youssef Razi)

        Sex   Age  SibSp  Parch Ticket     Fare Cabin Embarked
255  female  29.0      0      2   2650  15.2458   NaN        C
Troupiansky, Mr. Moses Aaron
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
734          735         0       2  Troupiansky, Mr. Moses Aaron  male  23.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
734      0      0  233639  13.0   NaN        S
Trout, Mrs. William H (Jessie L)
     PassengerId  Survived  Pclass                              Name     Sex  \
399          400         1       2  Trout, Mrs. William H (Jessie L)  female

      Age  SibSp  Parch  Ticket   Fare Cabin Embarked

399  28.0      0      0  240929  12.65   NaN        S
Troutt, Miss. Edwina Celia "Winnie"
     PassengerId  Survived  Pclass                                 Name  \
717          718         1       2  Troutt, Miss. Edwina Celia "Winnie"

        Sex   Age  SibSp  Parch Ticket  Fare Cabin Embarked
717  female  27.0      0      0  34218  10.5  E101        S
Turcin, Mr. Stjepan
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
189          190         0       3  Turcin, Mr. Stjepan  male  36.0      0

     Parch  Ticket    Fare Cabin Embarked
189      0  349247  7.8958   NaN        S
Turja, Miss. Anna Sofia
     PassengerId  Survived  Pclass                     Name     Sex   Age  \
677          678         1       3  Turja, Miss. Anna Sofia  female  18.0

     SibSp  Parch Ticket    Fare Cabin Embarked
677      0      0   4138  9.8417   NaN        S
Turkula, Mrs. (Hedwig)
     PassengerId  Survived  Pclass                    Name     Sex   Age  \
483          484         1       3  Turkula, Mrs. (Hedwig)  female  63.0

     SibSp  Parch Ticket    Fare Cabin Embarked
483      0      0   4134  9.5875   NaN        S
Turpin, Mr. William John Robert
     PassengerId  Survived  Pclass                             Name   Sex  \
117          118         0       2  Turpin, Mr. William John Robert  male

      Age  SibSp  Parch Ticket  Fare Cabin Embarked
117  29.0      1      0  11668  21.0   NaN        S
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
    PassengerId  Survived  Pclass  \
41           42         0       2

                                                 Name     Sex   Age  SibSp  \
41  Turpin, Mrs. William John Robert (Dorothy Ann ...  female  27.0      1

    Parch Ticket  Fare Cabin Embarked
41      0  11668  21.0   NaN        S
Uruchurtu, Don. Manuel E
    PassengerId  Survived  Pclass                      Name   Sex   Age  \
30           31         0       1  Uruchurtu, Don. Manuel E  male  40.0

    SibSp  Parch    Ticket     Fare Cabin Embarked
30      0      0  PC 17601  27.7208   NaN        C
Van Impe, Miss. Catharina
     PassengerId  Survived  Pclass                       Name     Sex   Age  \
419          420         0       3  Van Impe, Miss. Catharina  female  10.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
419      0      2  345773  24.15   NaN        S
Van Impe, Mr. Jean Baptiste
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
595          596         0       3  Van Impe, Mr. Jean Baptiste  male  36.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
595      1      1  345773  24.15   NaN        S
Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)
     PassengerId  Survived  Pclass  \
799          800         0       3

                                                  Name     Sex   Age  SibSp  \
799  Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...  female  30.0      1

     Parch  Ticket   Fare Cabin Embarked
799      1  345773  24.15   NaN        S
Van der hoef, Mr. Wyckoff
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
170          171         0       1  Van der hoef, Mr. Wyckoff  male  61.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
170      0      0  111240  33.5   B19        S
Vande Velde, Mr. Johannes Joseph
     PassengerId  Survived  Pclass                              Name   Sex  \
752          753         0       3  Vande Velde, Mr. Johannes Joseph  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
752  33.0      0      0  345780   9.5   NaN        S
Vande Walle, Mr. Nestor Cyriel
     PassengerId  Survived  Pclass                            Name   Sex  \
200          201         0       3  Vande Walle, Mr. Nestor Cyriel  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
200  28.0      0      0  345770   9.5   NaN        S
Vanden Steen, Mr. Leo Peter
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
355          356         0       3  Vanden Steen, Mr. Leo Peter  male  28.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
355      0      0  345783   9.5   NaN        S
Vander Cruyssen, Mr. Victor
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
873          874         0       3  Vander Cruyssen, Mr. Victor  male  47.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
873      0      0  345765   9.0   NaN        S
Vander Planke, Miss. Augusta Maria
    PassengerId  Survived  Pclass                                Name     Sex  \
38           39         0       3  Vander Planke, Miss. Augusta Maria  female

     Age  SibSp  Parch  Ticket  Fare Cabin Embarked
38  18.0      2      0  345764  18.0   NaN        S
Vander Planke, Mr. Leo Edmondus
     PassengerId  Survived  Pclass                             Name   Sex  \
333          334         0       3  Vander Planke, Mr. Leo Edmondus  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
333  16.0      2      0  345764  18.0   NaN        S
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
    PassengerId  Survived  Pclass  \
18           19         0       3

                                                 Name     Sex   Age  SibSp  \
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1

    Parch  Ticket  Fare Cabin Embarked
18      0  345763  18.0   NaN        S
Vestrom, Miss. Hulda Amanda Adolfina
    PassengerId  Survived  Pclass                                  Name  \
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina

       Sex   Age  SibSp  Parch  Ticket    Fare Cabin Embarked
14  female  14.0      0      0  350406  7.8542   NaN        S
Vovk, Mr. Janko
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
521          522         0       3  Vovk, Mr. Janko  male  22.0      0      0

     Ticket    Fare Cabin Embarked
521  349252  7.8958   NaN        S
Waelens, Mr. Achille
    PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
80           81         0       3  Waelens, Mr. Achille  male  22.0      0

    Parch  Ticket  Fare Cabin Embarked
80      0  345767   9.0   NaN        S
Walker, Mr. William Anderson
     PassengerId  Survived  Pclass                          Name   Sex   Age  \
515          516         0       1  Walker, Mr. William Anderson  male  47.0

     SibSp  Parch Ticket     Fare Cabin Embarked
515      0      0  36967  34.0208   D46        S
Ward, Miss. Anna
     PassengerId  Survived  Pclass              Name     Sex   Age  SibSp  \
258          259         1       1  Ward, Miss. Anna  female  35.0      0

     Parch    Ticket      Fare Cabin Embarked
258      0  PC 17755  512.3292   NaN        C
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
     PassengerId  Survived  Pclass  \
366          367         1       1

                                                 Name     Sex   Age  SibSp  \
366  Warren, Mrs. Frank Manley (Anna Sophia Atkinson)  female  60.0      1

     Parch  Ticket   Fare Cabin Embarked
366      0  110813  75.25   D37        C
Watson, Mr. Ennis Hastings
     PassengerId  Survived  Pclass                        Name   Sex  Age  \
674          675         0       2  Watson, Mr. Ennis Hastings  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
674      0      0  239856   0.0   NaN        S
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)
     PassengerId  Survived  Pclass  \
161          162         1       2

                                                  Name     Sex   Age  SibSp  \
161  Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...  female  40.0      0

     Parch      Ticket   Fare Cabin Embarked
161      0  C.A. 33595  15.75   NaN        S
Webber, Miss. Susan
     PassengerId  Survived  Pclass                 Name     Sex   Age  SibSp  \
123          124         1       2  Webber, Miss. Susan  female  32.5      0

     Parch Ticket  Fare Cabin Embarked
123      0  27267  13.0  E101        S
Webber, Mr. James
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
511          512         0       3  Webber, Mr. James  male  NaN      0

     Parch            Ticket  Fare Cabin Embarked
511      0  SOTON/OQ 3101316  8.05   NaN        S
Weir, Col. John
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
694          695         0       1  Weir, Col. John  male  60.0      0      0

     Ticket   Fare Cabin Embarked
694  113800  26.55   NaN        S
Weisz, Mrs. Leopold (Mathilde Francoise Pede)
     PassengerId  Survived  Pclass  \
133          134         1       2

                                              Name     Sex   Age  SibSp  \
133  Weisz, Mrs. Leopold (Mathilde Francoise Pede)  female  29.0      1

     Parch  Ticket  Fare Cabin Embarked
133      0  228414  26.0   NaN        S
Wells, Miss. Joan
     PassengerId  Survived  Pclass               Name     Sex  Age  SibSp  \
750          751         1       2  Wells, Miss. Joan  female  4.0      1

     Parch Ticket  Fare Cabin Embarked
750      1  29103  23.0   NaN        S
West, Miss. Constance Mirium
    PassengerId  Survived  Pclass                          Name     Sex  Age  \
58           59         1       2  West, Miss. Constance Mirium  female  5.0

    SibSp  Parch      Ticket   Fare Cabin Embarked
58      1      2  C.A. 34651  27.75   NaN        S
West, Mr. Edwy Arthur

     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
450          451         0       2  West, Mr. Edwy Arthur  male  36.0      1

     Parch      Ticket   Fare Cabin Embarked
450      2  C.A. 34651  27.75   NaN        S
West, Mrs. Edwy Arthur (Ada Mary Worth)
     PassengerId  Survived  Pclass                                     Name  \
472          473         1       2  West, Mrs. Edwy Arthur (Ada Mary Worth)

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
472  female  33.0      1      2  C.A. 34651  27.75   NaN        S
Wheadon, Mr. Edward H
    PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
33           34         0       2  Wheadon, Mr. Edward H  male  66.0      0

    Parch      Ticket  Fare Cabin Embarked
33      0  C.A. 24579  10.5   NaN        S
White, Mr. Percival Wayland
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
124          125         0       1  White, Mr. Percival Wayland  male  54.0

     SibSp  Parch Ticket     Fare Cabin Embarked
124      0      1  35281  77.2875   D26        S
White, Mr. Richard Frasar
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
102          103         0       1  White, Mr. Richard Frasar  male  21.0

     SibSp  Parch Ticket     Fare Cabin Embarked
102      0      1  35281  77.2875   D26        S
Wick, Miss. Mary Natalie
     PassengerId  Survived  Pclass                      Name     Sex   Age  \
318          319         1       1  Wick, Miss. Mary Natalie  female  31.0

     SibSp  Parch Ticket      Fare Cabin Embarked
318      0      2  36928  164.8667    C7        S
Wick, Mrs. George Dennick (Mary Hitchcock)
     PassengerId  Survived  Pclass  \
856          857         1       1

                                           Name     Sex   Age  SibSp  Parch  \
856  Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1      1

    Ticket      Fare Cabin Embarked
856  36928  164.8667   NaN        S
Widegren, Mr. Carl/Charles Peter
     PassengerId  Survived  Pclass                              Name   Sex  \
406          407         0       3  Widegren, Mr. Carl/Charles Peter  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
406  51.0      0      0  347064  7.75   NaN        S
Widener, Mr. Harry Elkins
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
377          378         0       1  Widener, Mr. Harry Elkins  male  27.0

     SibSp  Parch  Ticket   Fare Cabin Embarked
377      0      2  113503  211.5   C82        C
Wiklund, Mr. Jakob Alfred
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
371          372         0       3  Wiklund, Mr. Jakob Alfred  male  18.0

     SibSp  Parch   Ticket    Fare Cabin Embarked
371      1      0  3101267  6.4958   NaN        S
Wilhelms, Mr. Charles
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
673          674         1       2  Wilhelms, Mr. Charles  male  31.0      0

     Parch  Ticket  Fare Cabin Embarked
673      0  244270  13.0   NaN        S
Willey, Mr. Edward
     PassengerId  Survived  Pclass                Name   Sex  Age  SibSp  \
648          649         0       3  Willey, Mr. Edward  male  NaN      0

     Parch         Ticket  Fare Cabin Embarked
648      0  S.O./P.P. 751  7.55   NaN        S
Williams, Mr. Charles Duane
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
155          156         0       1  Williams, Mr. Charles Duane  male  51.0

     SibSp  Parch    Ticket     Fare Cabin Embarked
155      0      1  PC 17597  61.3792   NaN        C
Williams, Mr. Charles Eugene
    PassengerId  Survived  Pclass                          Name   Sex  Age  \
17           18         1       2  Williams, Mr. Charles Eugene  male  NaN

    SibSp  Parch  Ticket  Fare Cabin Embarked
17      0      0  244373  13.0   NaN        S
Williams, Mr. Howard Hugh "Harry"
     PassengerId  Survived  Pclass                               Name   Sex  \
304          305         0       3  Williams, Mr. Howard Hugh "Harry"  male

     Age  SibSp  Parch    Ticket  Fare Cabin Embarked
304  NaN      0      0  A/5 2466  8.05   NaN        S
Williams, Mr. Leslie
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
735          736         0       3  Williams, Mr. Leslie  male  28.5      0

     Parch Ticket  Fare Cabin Embarked
735      0  54636  16.1   NaN        S
Williams-Lambert, Mr. Fletcher Fellows
     PassengerId  Survived  Pclass                                    Name  \
351          352         0       1  Williams-Lambert, Mr. Fletcher Fellows

      Sex  Age  SibSp  Parch  Ticket  Fare Cabin Embarked
351  male  NaN      0      0  113510  35.0  C128        S
Windelov, Mr. Einar
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
491          492         0       3  Windelov, Mr. Einar  male  21.0      0

     Parch            Ticket  Fare Cabin Embarked
491      0  SOTON/OQ 3101317  7.25   NaN        S
Wiseman, Mr. Phillippe
     PassengerId  Survived  Pclass                    Name   Sex  Age  SibSp  \
425          426         0       3  Wiseman, Mr. Phillippe  male  NaN      0

     Parch      Ticket  Fare Cabin Embarked
425      0  A/4. 34244  7.25   NaN        S
Woolner, Mr. Hugh
    PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  Parch  \
55           56         1       1  Woolner, Mr. Hugh  male  NaN      0      0

   Ticket  Fare Cabin Embarked
55  19947  35.5   C52        S
Wright, Mr. George
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
555          556         0       1  Wright, Mr. George  male  62.0      0

     Parch  Ticket   Fare Cabin Embarked
555      0  113807  26.55   NaN        S
Yasbeck, Mr. Antoni
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
620          621         0       3  Yasbeck, Mr. Antoni  male  27.0      1

     Parch Ticket     Fare Cabin Embarked
620      0   2659  14.4542   NaN        C
Yasbeck, Mrs. Antoni (Selini Alexander)
     PassengerId  Survived  Pclass                                     Name  \
830          831         1       3  Yasbeck, Mrs. Antoni (Selini Alexander)

        Sex   Age  SibSp  Parch Ticket     Fare Cabin Embarked
830  female  15.0      1      0   2659  14.4542   NaN        C
Young, Miss. Marie Grice
     PassengerId  Survived  Pclass                      Name     Sex   Age  \
325          326         1       1  Young, Miss. Marie Grice  female  36.0

     SibSp  Parch    Ticket      Fare Cabin Embarked
325      0      0  PC 17760  135.6333   C32        C
Youseff, Mr. Gerious
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
203          204         0       3  Youseff, Mr. Gerious  male  45.5      0

     Parch Ticket   Fare Cabin Embarked
203      0   2628  7.225   NaN        C
Yousif, Mr. Wazli
     PassengerId  Survived  Pclass               Name   Sex  Age  SibSp  \
354          355         0       3  Yousif, Mr. Wazli  male  NaN      0

     Parch Ticket   Fare Cabin Embarked
354      0   2647  7.225   NaN        C
Yousseff, Mr. Gerious
     PassengerId  Survived  Pclass                   Name   Sex  Age  SibSp  \
495          496         0       3  Yousseff, Mr. Gerious  male  NaN      0

     Parch Ticket     Fare Cabin Embarked
495      0   2627  14.4583   NaN        C
Yrois, Miss. Henriette ("Mrs Harbeck")
     PassengerId  Survived  Pclass                                    Name  \
199          200         0       2  Yrois, Miss. Henriette ("Mrs Harbeck")

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
199  female  24.0      0      0  248747  13.0   NaN        S
Zabour, Miss. Hileni
     PassengerId  Survived  Pclass                  Name     Sex   Age  SibSp  \
111          112         0       3  Zabour, Miss. Hileni  female  14.5      1

     Parch Ticket     Fare Cabin Embarked
111      0   2665  14.4542   NaN        C
Zabour, Miss. Thamine
     PassengerId  Survived  Pclass                   Name     Sex  Age  SibSp  \
240          241         0       3  Zabour, Miss. Thamine  female  NaN      1

     Parch Ticket     Fare Cabin Embarked
240      0   2665  14.4542   NaN        C
Zimmerman, Mr. Leo
     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
422          423         0       3  Zimmerman, Mr. Leo  male  29.0      0

     Parch  Ticket   Fare Cabin Embarked
422      0  315082  7.875   NaN        S
de Messemaeker, Mrs. Guillaume Joseph (Emma)

     PassengerId  Survived  Pclass  \
559          560         1       3

                                             Name     Sex   Age  SibSp  Parch  \
559  de Messemaeker, Mrs. Guillaume Joseph (Emma)  female  36.0      1      0

     Ticket  Fare Cabin Embarked
559  345572  17.4   NaN        S
de Mulder, Mr. Theodore
     PassengerId  Survived  Pclass                     Name   Sex   Age  \
286          287         1       3  de Mulder, Mr. Theodore  male  30.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
286      0      0  345774   9.5   NaN        S
de Pelsmaeker, Mr. Alfons
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
282          283         0       3  de Pelsmaeker, Mr. Alfons  male  16.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
282      0      0  345778   9.5   NaN        S
del Carlo, Mr. Sebastiano
     PassengerId  Survived  Pclass                       Name   Sex   Age  \
361          362         0       2  del Carlo, Mr. Sebastiano  male  29.0

     SibSp  Parch         Ticket     Fare Cabin Embarked
361      1      0  SC/PARIS 2167  27.7208   NaN        C
van Billiard, Mr. Austin Blyler
     PassengerId  Survived  Pclass                             Name   Sex  \
153          154         0       3  van Billiard, Mr. Austin Blyler  male

      Age  SibSp  Parch    Ticket  Fare Cabin Embarked
153  40.5      0      2  A/5. 851  14.5   NaN        S
van Melkebeke, Mr. Philemon
     PassengerId  Survived  Pclass                         Name   Sex  Age  \
868          869         0       3  van Melkebeke, Mr. Philemon  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
868      0      0  345777   9.5   NaN        S

In [100]:
import pandas as pd

student_records={
    "Rollno":[1,2,3,4],
     "Name":['Rohit','Rohan','Sam','Shakti'],
    "Department":['D1','T1','D2','T1'],
     "Marks":[90,95,40,60]
}
# This is a dictonary with multiple lists

In [101]:
df=pd.DataFrame(student_records)
df

   Rollno    Name Department  Marks
0       1   Rohit         D1     90
1       2   Rohan         T1     95
2       3     Sam         D2     40
3       4  Shakti         T1     60

In [87]:
df

   Rollno    Name Department  Marks
0       1   Rohit         D1     90
1       2   Rohan         T1     95
2       3     Sam         D2     40
3       4  Shakti         T2     60

In [106]:
X=df.groupby('Department')
X.get_group('T1')

   Rollno    Name Department  Marks
1       2   Rohan         T1     95
3       4  Shakti         T1     60

In [107]:
df=pd.read_csv(r"C:\Shilpa\Train_MissValcsv.csv")

df

,PassengerId,Survived,Pclass,Name,Sex,Age,DOB,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1980-01-01,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1980-04-01,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,1993-01-01,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1982-01-01,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,1984-04-02,0,0,373450,8.0500,not av,S
5,6,0,3,"Moran, Mr. James",male,n.a.,1990-05-01,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,1976-01-01,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,NaN,3,1,349909,21.0750,NaN,S

In [108]:
df.fillna(0)F

,PassengerId,Survived,Pclass,Name,Sex,Age,DOB,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1980-01-01,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1980-04-01,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,1993-01-01,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1982-01-01,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,1984-04-02,0,0,373450,8.0500,not av,S
5,6,0,3,"Moran, Mr. James",male,n.a.,1990-05-01,0,0,330877,8.4583,0,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,1976-01-01,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,0,3,1,349909,21.0750,0,S

In [110]:
df.fillna({DOB:'Not Available'})

NameError: name 'DOB' is not defined

In [111]:
df.fillna(method='FFill')

,PassengerId,Survived,Pclass,Name,Sex,Age,DOB,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1980-01-01,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1980-04-01,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,1993-01-01,0,0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1982-01-01,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,1984-04-02,0,0,373450,8.0500,not av,S
5,6,0,3,"Moran, Mr. James",male,n.a.,1990-05-01,0,0,330877,8.4583,not av,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,1976-01-01,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,1976-01-01,3,1,349909,21.0750,E46,S

In [112]:
df.fillna(method='BFill')

,PassengerId,Survived,Pclass,Name,Sex,Age,DOB,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1980-01-01,1,0,A/5 21171,7.2500,C85,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1980-04-01,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,1993-01-01,0,0,STON/O2. 3101282,7.9250,C123,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1982-01-01,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,1984-04-02,0,0,373450,8.0500,not av,S
5,6,0,3,"Moran, Mr. James",male,n.a.,1990-05-01,0,0,330877,8.4583,E46,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,1976-01-01,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,NaN,3,1,349909,21.0750,NaN,S

In [116]:
df.fillna(method='FFill',limit=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,DOB,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1980-01-01,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1980-04-01,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,1993-01-01,0,0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1982-01-01,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,1984-04-02,0,0,373450,8.0500,not av,S
5,6,0,3,"Moran, Mr. James",male,n.a.,1990-05-01,0,0,330877,8.4583,not av,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,1976-01-01,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,1976-01-01,3,1,349909,21.0750,E46,S

In [117]:
df=pd.read_csv(r"C:\Shilpa\Train_MissValcsv.csv")

df

,PassengerId,Survived,Pclass,Name,Sex,Age,DOB,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,01-01-1980,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,01-04-1980,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,NaN,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,NaN,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,02-04-1984,0,0,373450,8.0500,not av,S
5,6,0,3,"Moran, Mr. James",male,n.a.,01-05-1990,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,01-01-1976,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,NaN,3,1,349909,21.0750,NaN,S

In [119]:
df.fillna(method='FFill',limit=2)

,PassengerId,Survived,Pclass,Name,Sex,Age,DOB,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,01-01-1980,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,01-04-1980,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,01-04-1980,0,0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,01-04-1980,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,02-04-1984,0,0,373450,8.0500,not av,S
5,6,0,3,"Moran, Mr. James",male,n.a.,01-05-1990,0,0,330877,8.4583,not av,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,01-01-1976,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,01-01-1976,3,1,349909,21.0750,E46,S